.value-slider .ui-slider {
    position: relative;
    text-align: left;
}
.value-slider .ui-slider .ui-slider-handle {
    cursor: default;
    height: 23px;
    position: absolute;
    width: 15px;
    z-index: 2;
}
.value-slider .ui-slider .ui-slider-range {
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.value-slider .ui-slider-horizontal {
    height: 9px;
}
.value-slider .ui-slider-horizontal .ui-slider-handle {
    margin-left: -7px;
    top: -7px;
}
.value-slider .ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.value-slider .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.value-slider .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.value-slider .ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.value-slider .ui-widget .ui-widget {
    font-size: 1em;
}
.value-slider .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
.value-slider .ui-widget-content {
    background: url(/img/slider-pack.png) no-repeat 0 0;
}
.value-slider .ui-widget-content a {
    color: #222222;
}
.value-slider .ui-widget-header {
    background: url(/img/slider-pack.png) no-repeat 0 -9px;
}
.value-slider .ui-widget-header a {
    color: #222222;
}
.value-slider .ui-state-default, .ui-widget-content .ui-state-default, .value-slider .ui-widget-header .ui-state-default {
    background: url(/img/slider-pack.png) no-repeat 0 -19px;
}
.value-slider .ui-state-default a, .value-slider .ui-state-default a:link, .value-slider .ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}
.value-slider .ui-state-hover, .value-slider .ui-widget-content .ui-state-hover, .value-slider .ui-widget-header .ui-state-hover, .value-slider .ui-state-focus, .value-slider .ui-widget-content .ui-state-focus, .value-slider .ui-widget-header .ui-state-focus {
    background: url(/img/slider-pack.png) no-repeat 0 -19px;
}
.value-slider .ui-state-hover a, .value-slider .ui-state-hover a:hover {
    color: #212121;
    text-decoration: none;
}
.value-slider .ui-state-active, .value-slider .ui-widget-content .ui-state-active, .value-slider .ui-widget-header .ui-state-active {
     background: url(/img/slider-pack.png) no-repeat 0 -19px;
}
.value-slider .ui-state-active a, .value-slider .ui-state-active a:link, .value-slider .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}
.value-slider .ui-widget *:active {
    outline: medium none;
}
.cost{
	padding-bottom:0;
}
.value-slider{
	padding-top:10px;
	padding-bottom:40px!important;
}
.value-slider .min-price-filter{
	font-size: 1em;
	float: left;
	margin-top: 12px;
	text-decoration: none;
	width: 100px;
	text-align: left;
	color: #888;
}
.value-slider .max-price-filter{
	font-size: 1em;
	float: right;
	text-align: right;
	margin-top: 12px;
	text-decoration: none;
	width: 100px;
	color: #888;
}
div.slider_hint{
	text-align: center;
	margin-top: 5px;
}

.filter-checkbox-wrapper {
	float: left;
	margin: 4px 0;
}
.filter-checkbox {
	float: left;
	width: 17px;
	height: 16px;
	cursor: pointer;
}
.hidden-checkbox {
	cursor: pointer;
}
.filter-checkbox-off {
	background: url('/img/checkbox.gif') no-repeat top center;
}
.filter-checkbox-on {
	background: url('/img/checkbox.gif') no-repeat bottom center;
}