.content h1{
	margin-top: -7px;
}
p.item-p-align span{
	font-weight: bold;
	display: block;
	clear: both;
	margin-top: -5px;
}
.simply-text-item img{
	margin: 8px 0 14px 28px;
}
.simply-text-item img.item-img-first {
	margin-left: 0;
}
.text-initem-title{
	display: block;
	margin: 25px 0 0 0;
}
.text-item-title{
	margin-bottom: 0;
}
.about-info{
	padding-bottom: 0;
}
.about-info ul{
	margin: 21px 0 28px 30px;
}
.about-info p span{
	font-weight: bold;
}
.text-item-regards p{
	font-size: 16px;
}
.text-item-regards p:first-child span{
	color: #be1e2d;
	font-weight: bold;
	font-size: 18px;
}
.text-item-regards p span{
	color: #2e3237;
	font-weight: bold;
}
