@CHARSET "UTF-8";

/*
 *  ----------------------------------------------------------------------------
 *      Stylesheet (med-serdce.ru styles)
 *  ----------------------------------------------------------------------------
 */

/* 
 *  Basic Elements & Classes
 *  ----------------------------------------------------------------------------
 */
html,body {
    height: 100%;
}

body {
    font-family: "PTSans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #4a4a4a;
    min-width: 1000px;
    background: #ffffff;
    color: #4a4a4a;
}

body.modal-open {
    overflow: hidden;
    overflow-y: scroll;
}

body.modal-open .modal {
    overflow: hidden;
    overflow-y: auto;
}

body.modal-open #theme-wrap {
    overflow: auto;
    position: fixed;
    width: 100%;
}

a {
    color: #5b9c04;
    text-decoration: underline;
}

a:hover,a:focus {
    color: #5b9c04;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

ul,ol {
    list-style: none;
    padding: 10px 0;
}

ul>li,ol>li {
    margin: 10px 0;
}

ol.green-wave>li,ul.green-wave>li {
    padding-left: 20px;
    background: url(../gfx/green-wave.png) 0 9px no-repeat;
}

ol.grey-wave>li,ul.grey-wave>li {
    padding-left: 20px;
    background: url(../gfx/grey-wave.png) 0 9px no-repeat;
}

h1 {
    color: #5b8828;
    font-size: 45px;
    font-family: "MBrody";
    display: block;
    margin-top: 0;
}

h3 {
    color: #5b8828;
    font-size: 26px;
    font-family: "MBrody";
    display: block;
    margin-top: 0;
}

/* Anti Bootstrap responsive */

.container {
    min-width: none;
    position: relative;
    width: 1000px;
    padding: 0 20px;
    position: relative;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}

.col-md-12{width:100%}
.col-md-11{width:91.66666666666666%}
.col-md-10{width:83.33333333333334%}
.col-md-9{width:75%}
.col-md-8{width:66.66666666666666%}
.col-md-7{width:58.333333333333336%}
.col-md-6{width:50%}
.col-md-5{width:41.66666666666667%}
.col-md-4{width:33.33333333333333%}
.col-md-3{width:25%}
.col-md-2{width:16.666666666666664%}
.col-md-1{width:8.333333333333332%}

.navbar-nav {
    float: left;
    margin: 0;
}

/* 
 *  Theme border 
 *  ----------------------------------------------------------------------------
 */
#theme-border {
    background: #8ac33e;
    background: -moz-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ac33e),
        color-stop(100%, #598527));
    background: -webkit-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -o-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -ms-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: linear-gradient(to bottom, #8ac33e 0%, #598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(                  





        startColorstr='#8ac33e', endColorstr='#598527',
        GradientType=0);
}

#theme-border>.inner {
    min-height: 5px;
    height: 5px;
    background: url(../gfx/wave.png) top center repeat;
}

/* 
 *  Header
 *  ----------------------------------------------------------------------------
 */
#theme-header {
    /* background: #f7f7f7; */
}

#theme-header>.inner {

}

#theme-header>.inner>.container {
    padding: 25px;
    height: 151px;
}

/* Main elements styles */
#theme-header dl {
    padding: 0;
    margin: 0;
}

/* Logotype */
#theme-header>.inner #logotype {
    position: absolute;
    top: 25px;
    left: 20px;
}

#theme-header>.inner #logotype img {
    width: 257px;
    height: 106px;
}

/* Geolocation */
#geolocation {
    background: url(../gfx/city_sprite.png) 0 0 no-repeat;
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 12px;
}

#geolocation>span {
    background: url(../gfx/city_sprite.png) 100% -55px no-repeat;
    position: relative;
    right: -10px;
    height: 35px;
    display: block;
    text-align: center;
    padding: 1px 27px 0 17px;
    min-width: 50px;
}

#geolocation a {
    color: #ffffff;
}

/* Info bar */
#info-bar {
    margin-left: 280px;
    margin-right: 200px;
    height: 61px;
}

/* Info */
#info-bar .info {
    color: #549300;
    font-size: 13px;
    line-height: normal;
    padding-left: 17px;
}

#info-bar .info dt {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 3px;
}

/* Small cart */
#small-cart {
    padding-left: 5px;
    padding-right: 35px;
}

#small-cart a {
    display: block;
    color: #4a4a4a;
    text-decoration: none;
    background: url(../gfx/cart-sprite.png) 0 -96px no-repeat;
    padding-left: 60px;
}

#small-cart a.inactive {
    background: url(../gfx/cart-sprite.png) 0 0 no-repeat;
}

#small-cart span.link {
    text-decoration: underline;
}

#small-cart a:hover span.link {
    text-decoration: none;
}

#small-cart .badge {
    display: inline-block;
    padding: 4px 11px 4px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #feff96;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    background: #7eb62f;
    background:
        url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlYjYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWM0M2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #7eb62f 0%, #8ac43e 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7eb62f),
        color-stop(100%, #8ac43e));
    background: -webkit-linear-gradient(left, #7eb62f 0%, #8ac43e 100%);
    background: -o-linear-gradient(left, #7eb62f 0%, #8ac43e 100%);
    background: -ms-linear-gradient(left, #7eb62f 0%, #8ac43e 100%);
    background: linear-gradient(to right, #7eb62f 0%, #8ac43e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(   





        startColorstr='#7eb62f', endColorstr='#8ac43e',
        GradientType=1);
}

#small-cart a.inactive .badge {
    display: none;
}

#small-cart a .small-basket-empty {
    display: none;
}

#small-cart a.inactive .small-basket-empty {
    display: inline;
}

#small-cart a .small-basket-cost {
    display: inline;
}

#small-cart a .small-basket-cost>span {
    color: #7eb62f;
    font-weight: bold;
}

#small-cart a.inactive .small-basket-cost {
    display: none;
}

/* Favourites */
#hearts-favourites {
    position: relative;
}

#hearts-favourites>a {
    position: absolute;
    top: 1px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
    background: url(../gfx/heart-blood-full.png) 0 0 no-repeat;
}

#hearts-favourites.inactive>a {
    background: url(../gfx/heart-blood-empty.png) 0 0 no-repeat;
}

#hearts-favourites-help {
    display: none;
    background: url(../gfx/favourites.png) 0 0 no-repeat;
    position: absolute;
    top: -22px;
    left: 25px;
    width: 120px;
    height: 31px;
    z-index: 10;
    height: 31px;
}

#hearts-favourites>a:hover>#hearts-favourites-help {
    display: block;
}

/* Search bar */
#search-bar {
    margin-left: 280px;
    margin-right: 200px;
    position: relative;
}

#search-bar .form-group {
    position: relative;
    padding: 7px 45px 7px 17px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 0px solid #ffffff;
    background: #dedede;
}

/* 
 * Search bar with colored gradient background 
 * TODO: remove class?
 */
#search-bar .form-group.colored {
    background: #5b8828;
    background:
        url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViODgyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzhkYzYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2Y1ZTgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNzk0MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #5b8828 0%, #8dc63f 27%, #f5e800 58%, #f7941d
        100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5b8828),
        color-stop(27%, #8dc63f), color-stop(58%, #f5e800),
        color-stop(100%, #f7941d));
    background: -webkit-linear-gradient(left, #5b8828 0%, #8dc63f 27%, #f5e800 58%,
        #f7941d 100%);
    background: -o-linear-gradient(left, #5b8828 0%, #8dc63f 27%, #f5e800 58%, #f7941d
        100%);
    background: -ms-linear-gradient(left, #5b8828 0%, #8dc63f 27%, #f5e800 58%, #f7941d
        100%);
    background: linear-gradient(to right, #5b8828 0%, #8dc63f 27%, #f5e800 58%, #f7941d
        100%);
    filter: progid:DXImageTransform.Microsoft.gradient( 





        startColorstr='#5b8828', endColorstr='#f7941d',
        GradientType=1);
}

#search-bar .form-group>input {
    border: none;
    background: #ffffff;
    color: #8e9296;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border: 0px solid #ffffff;
    padding: 0 17px;
    height: 29px;
    font-size: 12px;
}

#search-bar .form-group>input:focus,#search-bar button:focus {
    outline: none;
    box-shadow: none;
}

#search-bar button {
    position: absolute;
    display: block;
    width: 20px;
    height: 21px;
    top: 11px;
    right: 13px;
    border: none;
    background-color: transparent;
    background-image: url(../gfx/zoom-icon-ltgrey.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#search-bar button:hover {
    cursor: pointer;
    background-image: url(../gfx/zoom-icon-ltgreen.png);
}

#search-bar .sample {
    display: none;
}

#search-bar .sample a {
    text-decoration: underline;
    color: #a5c585;
}

#search-bar .sample a:hover,#search-bar .sample a:focus {
    text-decoration: none;
    color: #549300;
}

/* Phones */
#main-phones {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 175px;
}

#main-phones dl {
    padding-bottom: 5px;
}

#main-phones dt {
    font-family: 'MyriadProCond', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
}

#main-phones dd {
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #5b9c04;
}

#main-phones dd.text {
    white-space: nowrap;
    color: #549300;
}

#main-phones dd.text>span {
    color: #5b9c04;
}

#main-phones dd.text {
    font-weight: normal;
    color: inherit;
}

#main-phones p>a {
    font-weight: bold;
    font-size: 14px;
}

/* 
 *  Navigation
 *  ----------------------------------------------------------------------------
 */
#theme-navigation {
    margin-bottom: 0px;
    background: #72a81c;
    background: -moz-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #72a81c),
        color-stop(100%, #5d9514));
    background: -webkit-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: -o-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: -ms-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: linear-gradient(to bottom, #72a81c 0%, #5d9514 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(               



        startColorstr='#72a81c', endColorstr='#5d9514',
        GradientType=0);
}

#theme-navigation>.inner {
    background: url(../gfx/wave.png) top center repeat;
}

#theme-navigation .navbar-nav {
    margin-top: 1px;
    padding: 0;
    height: 52px;
}

#theme-navigation .navbar-nav>li {
    float: left;
    position: relative;
    padding: 16px 21px;
    padding-right: 27px;
    margin: 0;
    background: url(../gfx/theme-navbar-devider.png) center right no-repeat;
}

#theme-navigation .navbar-nav>li.first-item {
    padding-left: 0;
}

#theme-navigation .navbar-nav>li.last-item {
    padding-right: 0;
    background: none;
}

#theme-navigation .navbar-nav>li>a {
    padding: 0;
    font-family: 'MyriadProCond';
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'MyriadProCond';
    background: none;
}

#theme-navigation .navbar-nav>li>a:hover {
    color: #edef52;
    text-decoration: none;
}

#theme-navigation .navbar-nav>li>a>.caret {
    border: none;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    background: url(../gfx/navbar-caret.png) center top no-repeat;
}

#theme-navigation .navbar-nav>li>a:hover>.caret {
    background-position: center -21px;
}

#theme-navigation .navbar-nav>li>a:focus>.caret {
    background-position: center -42px;
}

#theme-navigation .navbar-nav>li>.dropdown-menu {
    position: absolute;
    top: 70px;
    left: auto;
    right: -24px;
    z-index: 10;
    float: left;
    min-width: 160px;
    padding: 0;
    font-size: 14px;
    list-style: none;
    border: 0px solid #ccc;
    box-shadow: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    background: #8ac33e;
    background: -moz-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ac33e),
        color-stop(100%, #598527));
    background: -webkit-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -o-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -ms-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: linear-gradient(to bottom, #8ac33e 0%, #598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(



        startColorstr='#8ac33e', endColorstr='#598527',
        GradientType=0);
    border-radius: 4px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    width: 212px;
}

#theme-navigation .navbar-nav>li>.dropdown-menu>ul {
    background: url(../gfx/wave.png) 0 0 repeat;
    padding: 5px 30px 10px 30px;
    positon: relative;
}

#theme-navigation .navbar-nav>li>.dropdown-menu>ul>li {
    display: block;
}

#theme-navigation .navbar-nav>li>.dropdown-menu>ul>li.appendix {
    position: absolute;
    top: -31px;
    left: 0;
    background: url(../gfx/navbar-dropdown-appendix.png) 0 0 no-repeat;
    height: 22px;
    width: 212px;
}

#theme-navigation .navbar-nav>li>.dropdown-menu a {
    color: #fff;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

#theme-navigation .navbar-nav>li>.dropdown-menu a:hover {
    background: none;
}

/* 
 *  Splash slider
 *  ----------------------------------------------------------------------------
 */

/* 
 *  Splash slider
 *  ----------------------------------------------------------------------------
 */
#theme-splash-slider {
    overflow: hidden;
}

#theme-splash-slider>.inner {
    margin: 6px 0;
}

#theme-splash-slider>.inner>.container {
    height: 410px;
}

#theme-splash-countour {
    background: url(../gfx/splash-countour.png) 0 0 no-repeat;
    height: 378px;
    width: 478px;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 8;
}

#splash-container {
    margin: 20px auto;
    position: relative;
    zoom: 1;
}

#splash-container .item {
    display: none;
}

#splash-container .item.active {
    display: block;
}

#splash-container .inner {
    position: relative;
    height: 350px;
}

#splash-container .poster {
    position: absolute;
    z-index: 7;
    top: 25px;
    right: 110px;
}

#splash-container .poster img {
    width: 334px;
    height: 300px;
}

#splash-container .item-info {
    height: 320px;
    margin-right: 490px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

#splash-container .item-info a {
    color: #2e3237;
    font-size: 47px;
    font-family: "MBrody";
    line-height: 0.9;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    margin-bottom: 40px;
}

#splash-container .item-info a:hover {
    color: #5b8828;
}

#splash-container .inner p {
    color: #2e3237;
    margin: 14px 0 0 0;
    line-height: 1.2;
}

#splash-container .item-info .item-price {
    color: #549300;
    font-size: 47px;
    font-family: "MBrody";
    float: left;
    margin: 15px 0 0 0;
}

#splash-container .item-price span {
    color: #2e3237;
    font-size: 36px;
}

#splash-container .item-buy {

}

#splash-container .item-info a {
    text-decoration: none;
}

#splash-container .splash-cost {
    padding: 15px 0 0;
    width: 100%;
}

#splash-container .slider .buy {
    background: url('../gfx/splash-buy.png');
    float: right;
    width: 137px;
    height: 35px;
}

#splash-container .pagination {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 8;
}

#splash-container .pagination>.inner {
    position: relative;
    width: 900px;
    height: 36px;
}

.pagination .prev {
    background: url(../gfx/splash-arrows.png) 0 0 no-repeat;
    width: 27px;
    height: 36px;
    float: left;
}

.pagination a:hover.prev {
    background: url(../gfx/splash-arrows.png) 0 -37px no-repeat;
}

.pagination .next {
    background: url(../gfx/splash-arrows.png) 0 -74px no-repeat;
    width: 27px;
    height: 36px;
    float: right;
}

.pagination a:hover.next {
    background: url(../gfx/splash-arrows.png) 0 -111px no-repeat;
}

.pagination .before {
    position: absolute;
    z-index: 5;
    top: -100px;
    left: -225px;
}

.pagination .after {
    position: absolute;
    z-index: 5;
    top: -100px;
    right: -240px;
}

.pagination .before img,.pagination .after img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
    height: 200px;
}


/* 
 *  Splash pills
 *  ----------------------------------------------------------------------------
 */
#theme-splash-pills {
    background: #689f01;
    background: -moz-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #689f01),
        color-stop(100%, #548b01));
    background: -webkit-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: -o-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: -ms-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: linear-gradient(to bottom, #689f01 0%, #548b01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(               


        startColorstr='#689f01', endColorstr='#548b01',
        GradientType=0);
}

#theme-splash-pills>.inner {
    background: url(../gfx/wave.png) top center repeat;
}

#theme-splash-pills>.inner>.container>.column {
    padding: 10px 0;
    background: url(../gfx/green-big-pills-delim.png) center right no-repeat;
}

#theme-splash-pills>.inner>.container>.column dl {
    height: 78px;
    max-height: 78px;
    margin-bottom: 10px;
}

#theme-splash-pills>.inner>.container>.column dt {
    font-family: 'MyriadProCond';
    font-size: 20px;
    color: #edef52;
    text-transform: uppercase;
}

#theme-splash-pills>.inner>.container>.column dd {
    font-size: 13px;
    color: #dbf3a8;
}

#green-big-pills-trust dl {
    background: url(../gfx/green-big-pills-trust.png) -5px 6px no-repeat;
    padding-left: 65px;
    padding-right: 15px;
}

#green-big-pills-sales dl {
    background: url(../gfx/green-big-pills-sales.png) center left no-repeat;
    padding-left: 70px;
    padding-right: 15px;
    margin-left: 15px;
}

#green-big-pills-quant {
    background: none !important;
}

#green-big-pills-quant dl {
    background: url(../gfx/green-big-pills-quant.png) center left no-repeat;
    padding-left: 75px;
    padding-right: 0px;
    margin-left: 15px;
}

/* 
 *  Main content
 *  ----------------------------------------------------------------------------
 */
#theme-content>.inner>.container {
    padding-right: 5px;
    padding-top: 30px;
}

/* Main page */

#theme-content>.inner>.container>.panel.panel-default {
    border: 0px grey solid;
    padding-right: 0px;
    padding-bottom: 20px;
    margin: 0;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-heading {
    padding: 0 0 20px;
    border: none;
    background-color: transparent;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-heading>h1
{
    font-family: "mBrody";
    font-size: 45px;
    color: #5b8828;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body {
    padding: 0;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body>ul.column
{
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body ul.column>li
{
    float: left;
    width: 120px;
    padding: 0;
    margin: 5px 0;
    height: 170px;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body .block
{
    margin-right: 15px;
    padding: 0;
    text-align: center;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body .block a
{
    color: #464942;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body .block a:hover
{
    padding: 0;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body .block img
{
    margin: 0 auto;
    padding: 2px;
    width: 110px;
    display: block;
    border: 1px #eaeaea solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -ms-interpolation-mode: bicubic;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body .block:hover img
{
    border: 3px #be1e2d solid;
    padding: 0;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body a>span.main-item-title
{
    padding: 8px;
    display: block;
    line-height: 12px;
}

#theme-content>.inner>.container>.panel.panel-default>.panel-body a:hover>span.main-item-title
{
    color: #be1e2d;
    line-height: 12px;
}

/* Sidebar */
#left-menu-sidebar {
    width: 240px;
    padding: 0;
}

#left-menu-sidebar .panel-group {
    background: #f6f6f6 url(../gfx/wave.png) top center repeat;
    border-radius: 30px;
    margin-bottom: 40px;
}

#left-menu-sidebar .panel-group .panel {
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    border: 0;
    background: url(../gfx/grey-wave.png) bottom center repeat-x;
}

#left-menu-sidebar .panel-default {
    border-color: transparent;
}

#left-menu-sidebar .panel-default>.panel-heading {
    background-color: transparent;
    border: 0;
    padding: 0;
}

#left-menu-sidebar .panel-default>.panel-heading a {
    display: block;
    text-decoration: none;
    padding: 15px 15px 15px 50px;
    font-weight: bold;
    color: #2e3237;
    font-size: 14px;
    line-height: 1em;
}

#left-menu-sidebar .panel-default.first-item>.panel-heading a {
    border-top-radius: 30px;
}

#left-menu-sidebar  .panel.last-item>.panel-heading,#left-menu-sidebar  .panel.last-item>.panel-heading a
{
    border-bottom-radius: 30px;
}

#left-menu-sidebar .panel-default>.panel-heading.active a {
    color: #fffab9;
    background: #598527; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:
        url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5ODUyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZGM2M2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #598527 0%, #8dc63f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #598527),
        color-stop(100%, #8dc63f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #598527 0%, #8dc63f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #598527 0%, #8dc63f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #598527 0%, #8dc63f 100%);
    /* IE10+ */
    background: linear-gradient(to right, #598527 0%, #8dc63f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(          startColorstr='#598527',
        endColorstr='#8dc63f', GradientType=1); /* IE6-8 */
}

#left-menu-sidebar .panel-body {
    background: #ffffff url(../gfx/sidebar-second-lvl.png) top center repeat-y;
    border: 0px !important;
    padding: 0;
}

#left-menu-sidebar .panel-body > .catalogue-sidemenu-lvl2 {
    background: url(../gfx/sidebar-second-lvl-footer.png) bottom center no-repeat;
    padding: 0 20px 0 30px;
}

#left-menu-sidebar .panel-body > ul ,
#left-menu-sidebar .panel-body > ul > li {
    padding-top: 0;
    padding-bottom: 0; 
    margin-top: 0;
    margin-bottom: 0;
}

#left-menu-sidebar .panel-body .similar-items {
    background: url(../gfx/grey-wave.png) 0 0 repeat-x;
}

#left-menu-sidebar .panel-body .similar-items.first-item {
    background: none;
}

#left-menu-sidebar .panel-body a {
    color: #3c4044;
    text-decoration: none;
    font-size: 13px;
}

#left-menu-sidebar .panel-body .active a {
    color: #5b8828;
    font-weight: bold;
}


#left-menu-sidebar .panel-group .panel-heading+.panel-collapse .panel-body
{
    border-top: 0px solid #ddd;
}

/* Main content */
#main-content {
    width: 720px;
    padding: 0;
}

#main-content>.inner {
    padding-left: 30px;
}

#main-content .current-content {
    padding: 10px 0;
}

/* Dostavka page */

/* Garantiya page */

/* About page */

/* Contacts page */

/* Skidka page */

/* Kompensatsiya invalidam page */

#theme-content .current-content .dl-horizontal {
    padding: 15px 0;
}

#theme-content .current-content .dl-horizontal dt {
    float: left;
    width: 340px;
    text-align: left;
    font-weight: normal;
    padding: 0;
}

#theme-content .current-content .dl-horizontal dd {
    margin-left: 340px;
    padding: 0;
    float: none;
}

#theme-content .current-content .dl-horizontal .title {
    color: #5b8828;
    font-size: 16px;
    display: inline;
    padding-bottom: 25px;
    margin: 0;
}

#theme-content .current-content .dl-horizontal dt,
#theme-content .current-content .dl-horizontal dd {
    line-height: 25px;
}


/* 
 *  Prefooter
 *  ----------------------------------------------------------------------------
 */
#theme-prefooter {
    background: #f6f6f6;
}

#theme-prefooter>.inner {
    background: url(../gfx/wave.png) top center repeat;
}

#theme-prefooter>.inner>.container {
    padding: 50px 20px 40px;
}

#theme-prefooter img {
    float: left;
    padding: 0;
    margin: 0 25px 20px 0;
}

#theme-prefooter h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 20px;
}

/* 
 *  Footer
 *  ----------------------------------------------------------------------------
 */
#theme-footer {
    background: #629a10;
    background: -moz-linear-gradient(top, #629a10 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #629a10),
        color-stop(100%, #598527));
    background: -webkit-linear-gradient(top, #629a10 0%, #598527 100%);
    background: -o-linear-gradient(top, #629a10 0%, #598527 100%);
    background: -ms-linear-gradient(top, #629a10 0%, #598527 100%);
    background: linear-gradient(to bottom, #629a10 0%, #598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(             




        startColorstr='#629a10', endColorstr='#598527',
        GradientType=0);
    position: relative;
    bottom: 0;
    color: #ffffff;
}

#theme-footer>.inner {
    background: url(../gfx/wave.png) top center repeat;
}

#theme-footer>.inner>.container {
    padding: 40px 20px;
}

/* Main elements styles */
#theme-footer .column {
    border-left: 1px #89b152 dashed;
    padding: 0;
    line-height: 1.3;
    font-size: 13px;
}

#theme-footer .column a {
    color: #fff799;
}

#theme-footer .column a:hover {
    color: #ffffff;
}

#theme-footer .column p {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.4;
}

#theme-footer .footer-title {
    color: #ffffff;
    font-size: 17px;
}

/* Copyrights and counters */
#footer-copyrights {
    border-left: none !important;
    width: 285px;
    padding-right: 40px !important;
}

#footer-copyrights p {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    line-height: 1.4;
}

/* Counters */
#footer-counters {
    padding-top: 5px;
}

#footer-counters a {
    margin-right: 15px;
}

/* Footer menu */
#footer-menu {
    width: 220px;
    padding-right: 40px !important;
    padding-left: 40px !important;
}

#footer-menu ul {
    margin-top: 12px;
    list-style: none;
    padding: 0;
}

#footer-menu a {
    line-height: 1.4;
    color: #ffffff;
}

#footer-menu a:hover {
    color: #fff799;
}

/* Footer info */
#footer-info {
    width: 453px;
    padding-left: 40px !important;
}
