.content h1{
	margin-top: -7px;
}

.cart-breadcrumbs{
	overflow: hidden;
	margin: 20px 0 0 0;
}

.cart-breadcrumbs li{
	float: left;
}
.cart-breadcrumbs-cart{
	background: url(../img/cart-breadcrumbs_ico.png) 0 0 no-repeat;
	padding: 0 25px 0 45px;
	height: 31px;
	line-height: 1.9;
}
.cart-breadcrumbs-order{
	background: url(../img/cart-breadcrumbs_ico.png) 0 -31px no-repeat;
	padding: 0 50px 0 33px;
	margin: 0 0 0 2px;
	height: 31px;
}
.cart-breadcrumbs .cart-breadcrumbs-order span{
	line-height: 2;
	color: #bec0c3;
	font-weight: normal;
	font-size: 16px;
}
.cart-breadcrumbs li .cart-breadcrumbs-separator{
	font-family: "PT Sans";
	font-size: 41px;
	font-weight: normal;
	float: left;
	margin: -24px 0 0 25px;
}
.cart-breadcrumbs li span{
	color: #5b8828;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin: 0 0 0 3px;
	line-height: 1.8;
}

.cart-item{
	width: 100%;
	border: 1px #eaeaea solid;
	border-radius: 19px;
	margin: 30px 0 0 0;
	padding: 19px 0;
	overflow: hidden;
	height: 148px;
}
.cart-item-close{
	background: url(../img/wavy-line-y_gray.png) 100% 0 repeat-y;
	width: 64px;
	height: 100%;
	float: left;
	position: relative;
}
.cart-item-close span{
	background: url(../img/cart-item-close.png) 0 0 no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}
.cart-item-close a{
	width: 100%;
	height: 100%;
	display: block;
}
.cart-item .img{
	float: left;
	width: 200px;
	margin: 0 6px 0 0;
	text-align: center;
}
.cart-items.inactive{
	border: 3px #be1e2d solid;
	margin: 30px 0 0 -2px;
	padding: 17px 0;
}
.cart-items.inactive .cart-item-close span{
	background: url(../img/cart-item-close.png) 0 -32px no-repeat;
}
.cart-item:hover{
	border: 3px #5b8828 solid;
	margin: 30px 0 0 -2px;
	padding: 17px 0;
}
.cart-item .cart-item-close span:hover {
	background: url(../img/cart-item-close.png) 0 -32px no-repeat;
}
.cart-item-title{
	/*width: 200px;*/
	float: left;
}
.cart-item span.cart-item-title a{
	color: #2e3237;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.cart-item span.cart-item-title a:hover,
.cart-item span.cart-item-title.inactive a{
	color: #5b8828;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.cart-item ul{
	float: right;
}
.cart-item ul li{
	background: url(../img/wavy-line-y_gray.png) 0 0 repeat-y;
	float: left;
	padding: 0 20px;
	height: 43px;
}
.cart-item ul li span{
	color: #9ca0a6;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	display: block;
}
.cart-item ul li.cart-item-price span:first-child{
	color: #9ca0a6;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 11px 0;
}
.cart-item ul li.cart-item-price span{
	color: #5b8828;
	font-size: 19px;
	font-weight: bold;
	display: block;
}
.cart-item ul li.cart-item-price span span{
	color: #2e3237;
	font-size: 14px;
	display: inline;
}
.cart-item ul li.cart-item-price .sum {
	display: inline;
}
.cart-item ul li.cart-item-quantity{
	width: 50px;
}
.cart-item ul li.cart-item-quantity .input-tpl{
	margin: 4px 0 0 0;
}
.cart-item ul li.cart-item-quantity input{
	text-align: center;
	width: 25px;
}

.cart-item-icons{
	float: left;
	clear: right;
}
.cart-item-stock{
	height: 35px;
	margin: 6px 0 0 0;
	float: none;
}

.cart-item-addservice{
	height: 35px;
	margin: 19px 0 0 0;
	float: left;
}

.cart-addservice-check{
	width: 150px;
	margin: 59px 0 0 25px;
	float: left;
}
.cart-addservice-check div{
	float: left;
}

.cart-addservice{
	float: right;
	color: #2e3237;
	font-weight: bold;
	margin: 59px 42px 0 10px;
	display: none;
}
.cart-addservice.active{
	display: block;
}
.cart-addservice-check label{
	color: #6a7179;
	font-size: 11px;
	margin: 0 10px 0 0;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cart-addservice-check{
	position: relative;
}
.cart-addservice-check input{
	/* position: absolute; */
	padding: 0;
	margin: 3px 0 0 -19px;
	/* margin: 0px 0 0 -22px; */
	/* opacity: 0; */
	float: left;
	cursor: pointer;
}

.checkbox {
	background: url(../img/checkbox2.png) no-repeat;
	width: 14px;
	height: 15px;
	padding: 0 0 0 0;
	margin: 3px 5px 0 0;
	display: block;
	clear: left;
	float: left;
	cursor: pointer;
}

.cart-items-sum{
	color: #2e3237;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
	display: block;
	clear: both;
}
.cart-items-sum div.discount {
	display: inline;
}
.cart-items-sum span{
	color: #5b8828;
	font-size: 19px;	
}

.cart-item-accept{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	padding: 27px 0;
	margin: 20px 0 0 0;
}
.item-accept-fastorder{
	margin: 0 35px 0 0;
	float: left;
}
.item-accept-placeorder,
.item-accept-credit{
	float: left;
	margin: 0 15px 0 0;
}
.item-accept-notice{
	color: #9da0a5;
	font-size: 12px;
	font-style: italic;
	float: left;
	margin: 12px 0 0 0;
}

.cart-items-more{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	margin: 35px 0 0 0;
	padding: 30px 0 0 0;
}
.items-more-title{
	color: #5b8828;
	font-size: 45px;
	font-family: "m_Brody";
}
.cart-dynamic-cont{
	margin: 25px 0 0 0;
}
.catalogue-item{
	/* margin-left: 163px; */
}
.cart-dynamic-setof-items .catalogue-item:first-child{
	margin-left: 0;
}
.cart-dynamic-cont-controls{
	top: -60px;
	/*left: 0;*/
}

.oneClickBuy {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px -105px;
width: 177px;
height: 35px;
display: block;
}

.perej {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px -207px;
width: 183px;
height: 35px;
display: block;
}

.send {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px -53px;
width: 142px;
height: 35px;
display: block;
}

#add-product-feed {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px 0px;
width: 178px;
height: 35px;
display: block;
}

.modal-call2 {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px -154px;
width: 196px;
height: 35px;
display: block;
}