/** Catalogue - Content
----------------------------------*/
.catalogue-list-name{
	float: left;
	clear: left;
	margin: 16px 0 0;
}
.catalogue-list-name h1{
	font-family: "m_Brody";
	font-size: 45px;
	color: #5b8828;
}

.catalogue-helptochoose{
	background: #fff url(../img/buttons_sprite.png) 0 -48px no-repeat;
	width: 160px;
	height: 28px;
	float: right;
	margin-top: 30px;
}
.catalogue-helptochoose span{
	padding: 4px 0 0 29px;
	display: block;
}
.catalogue-helptochoose span a{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

/** Catalogue - Filter
----------------------------------*/
.catalogue-filter{
	float: left;
	width: 100%;
	clear: both;
	margin-top: 20px;
}
.catalogue-filter-sort,
.catalogue-filter-prices{
	float: left;
	margin: 7px 20px 0 0;
}
.catalogue-filter-sort{
	width: 275px;
	margin-right: 45px;
}
.catalogue-filter-prices{
	margin-right: 10px;
}

.catalogue-filter-sort span.filter-item-title,
.catalogue-filter-prices span.filter-item-title,
.filter-more-manufacturer span.filter-item-title,
.filter-more-slider span.filter-item-title{
	font-size: 13px;
	color: #2e3237;
	font-weight: bold;
	margin: 0 0 8px 0;
	display: block;
}

.catalogue-filter-sort select{
	outline: none;
}

.catalogue-filter-prices{
	float: left;
	width: 30%;
}
.catalogue-filter-prices div.filter-price-item{
	float: left;
	width: 45%;
	margin-right: 3px;
}
.catalogue-filter-prices div.filter-price-item span{
	color: #878a8d;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 4px 7px 0 0;
}
.catalogue-filter-prices .input-tpl.small{
	width: 53%;
}
.catalogue-filter-slider{
	float: right;
	/*width: 350px;*/
	height: 30px;
	margin: 15px 0 0 0;
	position: relative;
	text-align: center;
}
.catalogue-filter-slider span{
	color: #90959a;
	font-size: 10px;
}
.catalogue-filter-slider span.cfs1{
	position: absolute;
	top: 6px;
	left: 0;
}
.catalogue-filter-slider span.cfs2{

}
.catalogue-filter-slider span.cfs3{
	position: absolute;
	top:6px;
	right: 0;
}
.catalogue-filter-more{
	/*background: url(../img/wavy-line_green.png) 0 100% repeat-x;*/
	clear: both;
	margin-top: 12px;
}

.filter-more-slider{
	float: left;
	width: 30%;
	margin:0;
	position: relative;
}
#slider-price{
	width: 350px;
}
.filter-more-slider #slider-weight,
.filter-more-slider .slider-body{
	top: 8px;
	width: 87%;
	left: 6%;
}
.filter-more-slider input{
	display: none;
}
.filter-more-slider span{
	color: #585b5f;
	font-size: 11px;
	font-weight: bold;
}
.filter-more-slider span.fms1,
.filter-more-slider span.fms2{
	position: absolute;
}
.filter-more-slider span.fms1{
	left: 0;
	bottom: -11px;
}
.filter-more-slider span.fms2{
	right: 0;
	bottom: -11px;
}
.fms-weight{
	position: absolute;
	top: -15px;
	width: 100%;
}
.fms-weight span.fms3{
	position: absolute;
	left: 0;
	margin-left: -10px;
	color: #5b8828;
	font-size: 10px;
}
.fms-weight span.fms4{
	position: absolute;
	right: 0;
	margin-right: -20px;
	color: #f36c21;
	font-size: 10px;
}
.filter-more-container{
	/*overflow: hidden;*/
	margin-bottom: 20px;
	display: none;
}
.filter-more-manufacturer{
	float: right;
	width: 35%;
	margin: 0 10px 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.filter-more-manufacturer div{
	float: left;
	margin: 0 20px 4px 0;
}
.filter-more-manufacturer label{
	color: #878a8d;
	font-size: 12px;
	cursor:pointer;
}
.filter-more-manufacturer span:hover{
	color: #5b8828;
	font-weight: bold;
}
.filter-more-manufacturer span.checkbox{
	cursor: pointer;
}

.filter-more-btn{
	padding: 0 10px;
	clear: both;
	margin: 0 auto;
	width: 176px;
	height: 15px;
	position: relative;
top: 15px;

}
.filter-more-btn.active{
	width: 108px;
}
.filter-btn-arrow{
	background: url(../img/buttons_sprite.png) 0 -148px no-repeat;
	height: 4px;
	width: 8px;
	position: absolute;
	top: -4px;
	left: 50%;
	margin-left: -4px;
}
.toggle-btn{
	display: none;
}
.catalogue-filter-more a{
	text-decoration: none;
}
.filter-more-btn a{
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

/** Catalogue - Additional Footer 
----------------------------------*/
.footer-more h1{
	float: left;
	margin: 25px 0 0 0;
}
.footer-more-tooltip{
	background: url(../img/footer-more_tooltip.png) 0 0 no-repeat;
	width: 228px;
	height: 36px;
	font-size: 13px;
	font-weight: bold;
	float: left;
	padding: 8px 0 0 20px;
	margin: 35px 0 0 26px;
}
.footer-more-tooltip a{
	text-decoration: none;
	color: #fff;
}
.footer-more-articles{
position: absolute;
bottom: 0;
left: 0;
width: 5000px;
clear: both;
overflow: hidden;
}
.article-title{
	color: #5B8828;
	font-size: 45px;
	font-family: "m_Brody";
	float: left;
	margin: 25px 0 0 0;
}
.footer-more-item{
float: left;
width: 303px;
padding: 0 15px;
margin: 15px 0;
}
.footer-more-title{
	clear: right;
	overflow: hidden;
	margin: 1px 0 0 0;
}
.footer-more-title a{
	color: #2e3237;
	font-weight: bold;
	line-height: 1.2;
}
.footer-more-title .article-item-title a:hover{
	color:#5b8828;
	text-decoration: none;
}
.footer-more-title.active .article-item-title a{
	color:#be1e2d;
	text-decoration: none;
}
.footer-more-title span a{
	color:#70777e;
	font-size: 12px;
}
.footer-more-title span.article-item-title{
	background: 0;
	/*float: left;*/
}
.footer-more-title span.article-item-title a{
	color:#2e3237;
	font-size: 13px;
	font-weight: bold;
}
.footer-more-title span{
	background: url(../img/ico_article.png) 100% -24px no-repeat;
	/*float: left;*/
	padding: 0 13px 0 0;
	margin: 0 6px 0 0;
}

.footer-more-imgcont{
	float: left;
	clear: left;
	position: relative;

	
}

.footer-more-item:hover .footer-more-imgcont{
background: url(../img/obvod.png) no-repeat;
background-position: 0 12px;
}

.footer-more-item:hover img {
box-shadow: none;
}

.paginator .show-all-btn {
	background: url(../img/view_all.png) no-repeat;
	
}

.paginator .show-all-btn span a {
	opacity: 0;
}

.footer-more-imgcont img{
border-radius: 5px;
margin: 16px 15px 0 4px;
background: url("../img/img_hover.png") center no-repeat;
width: 138px;
height: 105px;
}
.footer-more-imgcont.active{
	background: url(../img/over_item_mid.png) 0 0 no-repeat;
	border-radius: 5px;
	margin: 4px 0 0 -9px;
	width: 170px;
	height: 137px;
}
.footer-more-imgcont.active img{
	width: 138px;
	box-shadow: none;
	margin: 11px 0 0 13px;
}
.footer-more-imgmark{
	/*background: url(../img/footer-img_mark.png) 0 -22px no-repeat;*/
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: 37px;
	left: 0;
}
.footer-more-imgmark span{
	/*background: url(../img/footer-img_mark.png) 100% 0 no-repeat;*/
	background: #629a10;
	background: -moz-linear-gradient(left, #629a10 0%, #8dc63f 100%);
	background: -webkit-gradient(linear, left, right, color-stop(0%,#629a10), color-stop(100%,#8dc63f));
	background: -webkit-linear-gradient(left, #629a10 0%,#8dc63f 100%);
	background: -o-linear-gradient(left, #629a10 0%,#8dc63f 100%);
	background: -ms-linear-gradient(left, #629a10 0%,#8dc63f 100%);
	background: linear-gradient(to right, #629a10 0%,#8dc63f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#629a10', endColorstr='#8dc63f',GradientType=0 );
	/*height: 17px;*/
	display: block;
	margin-right: -50px;
	padding: 0 15px 0 10px;
	line-height: 25px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; 
}
.footer-more-imgcont.active .footer-more-imgmark{
	bottom: 37px;
	left: 9px;
}
.footer-more-item p{
	font-size: 12px;
	margin-top: 9px;
}
.footer-more-author{
	margin: 0 0 0 0;
}
.footer-more-author.female .author-ico{
	background: url(../img/ico_article.png) 0 0 no-repeat;
	width: 12px;
	height: 11px;
	float: left;
	margin: 3px 5px 0 0;
}
.footer-more-author.male .author-ico{
	background: url(../img/ico_article.png) -12px 0 no-repeat;
	width: 14px;
	height: 11px;
	float: left;
	margin: 3px 5px 0 0;
}
.footer-more-comments{
	margin-top: 4px;
}
.footer-more-comments .comment-ico{
	background: url(../img/ico_article.png) 0 -11px no-repeat;
	width: 12px;
	height: 10px;
	float: left;
	margin: 4px 5px 0 0;	
}
.footer-more-author span a,
.footer-more-comments span a{
	color: #777c81;
	font-size: 11px;
}


