.content{
	font-size: 14px;
}
.content h1{
	margin-top: -7px;
}
.contacts-worktime{
	margin: -2px 0 0 0;
}
.text-initem-title{
	margin: 27px 0 10px 0;
	display: block;
}
.contacts-phones{
	clear: both;
	overflow: hidden;
}
.contacts-phones .text-initem-title{
	margin-top: 30px;
}
.contacts-phones div{
	float: left;
	width: 250px;
	margin-right: 110px;
}
.contacts-phone-elem{
	color: #be1e2d;
	font-size: 21px;
	font-weight: bold;
}
.contacts-phones div span{
	display: block;
	line-height: 1.1;
}
.contacts-email{
	overflow: hidden;
	padding-bottom: 1px;
}
.contacts-email div{
	float: left;
	width: 250px;
	margin-right: 110px;
}
.contacts-email p a{
	margin: 12px 0 0 0;
	text-decoration: underline;
	color: #be1e2d;
}
.contacts-address{
	clear: both;
}

.contacts-map{
	background: url(../img/contacts-map_shape.png) 0 0 no-repeat;
	width: 732px;
	height: 407px;
	margin-top: 17px;
	overflow: hidden;
	clear: both;
}
.contacts-map div{
	/*padding: 15px 0 0 6px;*/
	margin: 15px 0 0 6px;
	width: 720px;
	height: 380px;
	overflow: hidden;
	border-radius: 13px;
}
.text-item-title{
	margin-bottom: 1px;
}
.contacts-office-item{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	padding-top: 25px;
	margin-top: 25px;
}
.contacts-office-item .text-initem-title{
	margin-top: 23px;
}