.content h1{
	margin-top: -7px;
}

.delivery-info img{
	margin: 13px 33px 0 0;
	float: left;
}
.delivery-info p.item-p-align{
	margin-top: 27px;
}

.delivery-volgograd .text-item-title,
.delivery-regions .text-item-title{
	margin-bottom: 17px;
}
