.content h1{
	margin-top: -7px;
}
.doctor-info{
	margin: 10px 0 0 0;
	overflow: hidden;
}
.doctor-info p{
	font-size: 14px;
	line-height: 1.2;
}
.doctor-info img{
	float: left;
	margin-right: 18px;
}
.doctor-info-title{
	padding-top: 9px;
}
.doctor-name{
	color: #2e3237;
	font-size: 18px;
	font-weight: bold;
}
.doctor-prof{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.dialog-item-title.dit-doctor{
	font-size: 18px;
}
.doctor-ask{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	padding: 33px 0 0 0;
}

.doctor-ask-name{
	width: 966px;
	clear: both;
	margin: 15px 0 0 0;
	/*overflow: hidden;*/
	float: left;
}
.doctor-ask-email{
	float: left;
	margin: 12px 37px 0 0;
	width: 464px;
}
.doctor-ask-city{
	float: left;
	width: 464px;
	margin-top: 12px;
}
.doctor-ask-msg{
	clear: both;
}