@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptsans/ptsans_regular_cyrillic/PTS55F-webfont.eot');
    src: url('../fonts/ptsans/ptsans_regular_cyrillic/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans/ptsans_regular_cyrillic/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans/ptsans_regular_cyrillic/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans/ptsans_regular_cyrillic/PTS55F-webfont.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptsans/ptsans_bold_cyrillic/PTS75F-webfont.eot');
    src: url('../fonts/ptsans/ptsans_bold_cyrillic/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans/ptsans_bold_cyrillic/PTS75F-webfont.woff') format('woff'),
         url('../fonts/ptsans/ptsans_bold_cyrillic/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans/ptsans_bold_cyrillic/PTS75F-webfont.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro/myriadpro_boldcondensed_cyrillic/MyriadProBoldCondensed.eot');
    src: url('../fonts/myriadpro/myriadpro_boldcondensed_cyrillic/MyriadProBoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro/myriadpro_boldcondensed_cyrillic/MyriadProBoldCondensed.woff') format('woff'),
         url('../fonts/myriadpro/myriadpro_boldcondensed_cyrillic/MyriadProBoldCondensed.ttf') format('truetype'),
         url('../fonts/myriadpro/myriadpro_boldcondensed_cyrillic/MyriadProBoldCondensed.svg#MyriadPro-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
}