.countdown{

}
.cnt-dwn-d,
.cnt-dwn-h,
.cnt-dwn-m,
.cnt-dwn-s{
	width: 33px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 7px;
}
.cnt-dwn-digit{
	background: url(../img/countdown.png) 0 0 no-repeat;
	width: 33px;
	height: 33px;
}
.cnt-dwn-d .cnt-dwn-digit span,
.cnt-dwn-h .cnt-dwn-digit span,
.cnt-dwn-m .cnt-dwn-digit span,
.cnt-dwn-s .cnt-dwn-digit span{
	color: #95999f;
	font-size: 13px;
	font-weight: bold;
	display: block;
	line-height: 34px;
}
.cnt-dwn-d span,
.cnt-dwn-h span,
.cnt-dwn-m span,
.cnt-dwn-s span{
	color: #9f9f9f;
	font-size: 8px;
	font-weight: bold;
	text-transform: uppercase;
}
.cnt-dwn-sep{
	color: #8a8f96;
	font-size: 23px;
	font-weight: bold;
	float: left;
	margin: 4px 6px 0 4px;
}