/** Main Page
----------------------------------*/
.main-page-wrap{
	/* background: url(../img/main-content_bg.png) 0 0 repeat-x; */
}

.main-cont{
	position: relative;
	padding-bottom: 55px;
}

.main-page .content{
	float: left;
	margin-left: 0;
	/*width: 883px;*/
	width: 100%;
}


#theme-splash-slider {
    overflow: hidden;
	height: 360px;
}

#theme-splash-slider>.inner {
    margin: 6px 0;
}

#theme-splash-slider>.inner>.container {
    height: 410px;
	min-width: none;
    position: relative;
    width: 1000px;
    padding: 0 20px;
    position: relative;
	margin: 0px auto;
}

#theme-splash-countour {
    background: url(../img/splash-countour.png) 0 0 no-repeat;
    height: 378px;
    width: 478px;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 8;
}

/*----------------------------------------sliderStart---------------------------*/
#splash-container {
    margin: 20px auto;
    position: relative;
    zoom: 1;
}

#splash-container .item {
    display: none;
}

#splash-container .item.active {
    display: block;
}

#splash-container .inner {
    position: relative;
    height: 350px;
}

#splash-container .poster {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 110px;
}

#splash-container .poster img {
    width: auto;
    height: auto;
}

#splash-container .item-info {
    height: 320px;
    margin-right: 490px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

#splash-container .item-info a {
    color: #2e3237;
    font-size: 47px;
    font-family: "m_Brody";
    line-height: 0.9;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    margin-bottom: 40px;
}

#splash-container .item-info a:hover {
    color: #5b8828;
}

#splash-container .inner p {
    color: #2e3237;
    margin: 14px 0 0 0;
    line-height: 1.2;
}

#splash-container .item-info .item-price {
    color: #549300;
    font-size: 47px;
    font-family: "m_Brody";
    float: left;
    margin: 15px 0 0 0;
}

#splash-container .item-price span {
    color: #2e3237;
    font-size: 36px;
}

#splash-container .item-buy {

}

#splash-container .item-info a {
    text-decoration: none;
}

#splash-container .splash-cost {
    padding: 15px 0 0;
    width: 100%;
}

#splash-container .slider .buy {
    background: url('../img/splash-buy.png');
    float: right;
    width: 137px;
    height: 35px;
}

#splash-container .pagination {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 8;
}

#splash-container .pagination>.inner {
    position: relative;
    width: 900px;
    height: 36px;
}

.pagination .prev {
    background: url(../img/splash-arrows.png) 0 0 no-repeat;
    width: 27px;
    height: 36px;
    float: left;
}

.pagination a:hover.prev {
    background: url(../img/splash-arrows.png) 0 -37px no-repeat;
}

.pagination .next {
    background: url(../img/splash-arrows.png) 0 -74px no-repeat;
    width: 27px;
    height: 36px;
    float: right;
}

.pagination a:hover.next {
    background: url(../img/splash-arrows.png) 0 -111px no-repeat;
}

.pagination .before {
    position: absolute;
    z-index: 5;
    top: -70px;
    left: -190px;
}

.pagination .after {
    position: absolute;
    z-index: 5;
    top: -70px;
    right: -220px;
}

.pagination .before img,.pagination .after img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
    width: 170px;
	height: auto;
}
/*----------------------------------------sliderEnd---------------------------*/

/* Carousel */
.dynamic-cont-main-page{
	width: 1280px;
	margin: 20px auto;
	overflow: hidden;
	max-height: 345px;
}
.dynamic-item-normal{
	/*background: url(../img/carousel-normal-item_bg.png) 0 0 no-repeat;*/
	width: 360px;
	height: 323px;
	/*margin: 6px 0 0 20px;*/
	float: left;
}
.dynamic-item-normal img{
	/*margin: 6px 0 0 20px;*/
	float: left;
}
.dynamic-item-low{
	position: absolute;
	width: 267px;
	top: 50%;
	margin-top: -105px;
}
.dynamic-item-low.prev{
	left: 0;
}
.dynamic-item-low.next{
	right: 0;
}
.dynamic-item-low.prev img{
	float: left;
}
.dynamic-item-low.next img{
	float: right;
}
.dynamic-item{
	width: 1000px;
	/*float: left;*/
	margin: 0 auto;
}
.dynamic-item-info{
	float: left;
	width: 570px;
	margin: 39px 0 0 0;
}
.dynamic-item-info a {
	text-decoration: none;
}
.dynamic-item-title{
	color: #2e3237;
	font-size: 47px;
	font-family: "m_Brody";
	line-height: 0.9;
}
.dynamic-item p{
	color: #2e3237;
	margin: 14px 0 0 0;
	line-height: 1.2;
}
.dynamic-item-price{
	color: #be1e2d;
	font-size: 47px;
	font-family: "m_Brody";
	float: left;
	margin: 15px 0 0 0;
}
.dynamic-item-price span{
	color: #2e3237;
	font-size: 36px;
}
#floating-block {
    position: fixed;
    top: 0px;
    right: 20px;
    width: 470px;
    height: 65px;
    z-index: 22;
    background: url('../../img/shop-bg.png') no-repeat scroll -5px 0px transparent;
}
		
.greenb {
	color: #5b9c04;
	font-weight: bold;
}

#bb {
	color: #4a4a4a;
	font-weight: bold;
}

#small-cart-link .link {
	color: #4a4a4a;
	font-weight: bold;
	font-size: 14px;
}

.smallbask {
    overflow: hidden;
    margin: 12px 0px 0px 51px;
    width: 175px;
    float: left;
}

.dynamic-item-buy{
	float: left;
	margin: 25px 0 0 45px;
}
.dynamic-item .poster{
	width: 380px;
	float: left;
	margin: 40px 0 0 0;
}
.dynamic-item .poster img{
	margin-left: 30px;
	margin-top: -25px;
}
.dynamic-item img{
	/*margin: 6px 0 0 20px;*/
}
.dynamic-cont-controls ul li{
	position: absolute;
}
.dynamic-cont-controls ul li.prev{
	top: 144px;
	left: 185px;
}
.dynamic-cont-controls ul li.next{
	top: 144px;
	right: 193px;
}

.main-setof-items{
	clear: both;
	margin: 37px 0 0 -5px;
	float: left;
	width: 100%;
}
.main-setof-items.last-items{
	margin: -10px 0 0 0;
}
.main-setof-items.last-items .main-item{
	/*margin: 26px 0 0 6px;*/
}
.main-main {
	margin: 37px 0 0 -5px;
}
.main-main .cat-group {
	
	margin-top: 20px;
	
}
.main-main .cat-group h1{
	margin: 8px 0 -6px 6px;
	clear: left;
}
.main-main .cat-group h2{
	margin: 8px 0 -6px 6px;
	clear: left;
	color: #5b8828;
    font-size: 45px;
    font-family: "m_Brody";
}
.main-item{
	margin: 36px 0 0 6px;
	width: 120px;
	float: left;
	height: 150px;
}
.main-item:hover{
	/*background: url(../img/over_item_small.png) 0 -3px no-repeat; */
	padding: 5px 0 5px 6px;
	width: 114px;
	height: 144px;
	margin: 32px -1px 0 1px;
}
.main-item:hover img{
	border: 2px solid #5f9a11 ;
	margin: 0;
}
.main-item a{
	color: #464942;
}
.main-item img{
	width: 110px;
	/*padding: 18px 0;*/
	border: 1px #eaeaea solid;
	border-radius: 20px;
	margin: 1px;
}
.main-item .main-item-title{
	margin: 8px 0 0 18px;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	width: 90px;
	color: #464942;
	display: block;
	cursor: pointer;
	/*font-weight: bold;*/
}
.main-item:hover a .main-item-title{
	margin: 9px 0 0 17px;
	color: #5f9a11;
	font-weight: bold;
}
.main-item:hover a{
	text-decoration: none;
}

.main-main .main-sider {
	float: right;
	width: 320px;
	min-height: 800px;
}
.main-main .sidebar-news-item a:hover{
	color: #be1e2d;
}
/*
.sidebar-news h3{
	font-family: "m_Brody";
	font-size: 220%;
}
.sidebar-news-read-all{
	color: #636262;
	font-weight: bold;
	margin: 15px 0;
	display: block;
}
.sidebar-news-read-all:after{
	content: 'В В»';
	text-decoration: none;
	position: absolute;
}
.sidebar-news a:hover{
	text-decoration: none;
}
.sidebar-news-item{
	margin: 10px 0;
}
.sidebar-news-item p{
	color: #a6a6a6;
	font-size: 80%;
	line-height: 20px;
}
.sidebar-news-item a{
	color: #549300;
	font-weight: bold;
}*/

.sidebar{
	float: right;
	width: 418px;
	margin-top: 62px;
	z-index: 0;
}

.sidebar-announcement{
	background: url(../img/sidebar-announce_bg.gif) 0 0 no-repeat;
	width: 318px;
	height: 900px;
	padding: 20px 25px 0 55px;
	margin-left: 10px;

}
.sidebar-announcement a.announcement-title,
.sidebar-doctor a.doctor-title{
	text-decoration: none;
}
.sidebar-announcement .sidebar-announcement-title,
.sidebar-doctor .sidebar-announcement-title{
	background: url(../img/sidebar-announce_ico.png) 0 0 no-repeat;
	color: #fff;
	font-size: 34px;
	width: 180px;
	padding: 10px 0 0 96px;
	height: 66px;
	line-height: 0.6;
	display: block;
	font-family: "m_Brody";
}
.sidebar-doctor .sidebar-announcement-title{
	background: url(../img/sidebar-doctor_ico.png) 0 0 no-repeat;
}
.announce-item{
	background: url(../img/sidebar-announce_separator.png) 0 100% repeat-x;
	margin: 10px 0 0 0;
	float: left;
	position: relative;
}
.announce-item-title span a{
	color:#f3ee99;
	font-size: 12px;
	font-weight: normal;
}
.announce-item-title span{
	background: url(../img/ico_article.png) 100% -39px no-repeat;
	padding: 0 13px 0 0;
	margin: 0 6px 0 0;
}
span.article-item-title {
	background: 0;
}
span.article-item-title a{
	color: #fff200;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.2;
}
.active span.article-item-title a{
	text-decoration: none;
}

.announce-item-title a:hover,
.footer-more-author a:hover,
.footer-more-comments a:hover{
	/*color: #fff200;*/
	text-decoration: none;
}
.announce-item-imgcont img{
	border-radius: 5px;
	margin: 11px 17px 0 0;
	box-shadow: #395e14 5px 5px 13px 0;	
}
.announce-item p{
	color: #fefefe;
	font-size: 12px;
	margin: 9px 0 0 0;
}
.announce-item-author span a,
.announce-item-comments span a{
	color: #bee48f;
	font-size: 11px;
}

.announce-subscribe{
	
}
.announce-subscribe input{
	background: url(../img/sidebar-announce-subscribe_btn.png) 0 0 no-repeat;
	width: 324px;
	height: 53px;
	border:0;
	margin: 20px 0 0 -9px;
	color: #c0e294;
	font-size: 15px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	padding: 0 0 3px 15px;
	cursor: pointer;
}

.sidebar-doctor{
	background: url(../img/sidebar-doctor_bg.png) 0 0 no-repeat;
	width: 318px;
	height: 357px;
	padding: 20px 25px 20px 55px;
	margin-left: 10px;
}
.sidebar-doctor-item{
	background: url(../img/sidebar-announce_separator.png) 0 0 repeat-x;
	padding: 12px 0 18px 0;
	/*margin: 12px 0 0 0;*/
}
.doctor-item-title{
	background: url(../img/dialog_sprite.png) 0 -58px no-repeat;
	color: #fff200;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 0 23px;
}
.sidebar-doctor-item.first{
	background: 0;
}
.dialog-item .dialog-item-title{
	background: url(../img/dialog_sprite.png) 0 -58px no-repeat;
	color: #be1e2d;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 32px;
}
.sidebar-doctor-item p{
	margin: 0 0 0 23px;
}
.sidebar-doctor-item p a{
	color: #fff;
	font-size: 13px;
	text-decoration: underline;
}
.sidebar-doctor-item p a:hover{
	color: #f8f6cc;
}
.main-page .footer-more-notice{
	background: 0;
}

.footer-mainpage .footer-more-notice{
	padding-top: 17px;
}

.cat_modal-open-link{
display: block;
float: left;
background-color: #eee;
color: #999;
line-height: 25px;
padding: 0 15px;
border-radius: 20px;
margin: 5px 0;
cursor: pointer;
}

.cat_modal-open-link:hover {
	text-decoration: none;
	color: #5f9a11;
}

.cat_modal-bg-overlay {
background-color: rgba(0, 0, 0, 0.7);
cursor: default;
position: fixed;
right: 0;
left: 0;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
text-align: center;
display:block;
}
.cat_modal-overlay {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
text-align: center;
z-index: 1000;
}
.cat_modal-overlay:after {
display: inline-block;
height: 100%;
width: 0;
vertical-align: middle;
content: ''
}
.cat_modal-body {
margin: auto;
background-color: #fff;
border: 3px solid #fff;
padding: 15px;
font-size: 14px;
top: 0;
display: inline-block;
position: relative;
max-width: 80%;
vertical-align: middle;

/* РЎРєСЂСѓРіР»РµРЅРёРµ СѓРіР»РѕРІ РѕРєРЅР°  */
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
-ms-border-radius: 45px;
-o-border-radius: 45px;
border-radius: 45px;
/* РЈСЃС‚Р°РЅР°РІР»РёРІР°РµРј СЌС„С„РµРєС‚ РїРµСЂРµС…РѕРґР° РїРѕСЏРІР»РµРЅРёСЏ РѕРєРЅР° */
-webkit-transition: opacity .5s, top .5s;
-moz-transition: opacity .5s, top .5s;
-ms-transition: opacity .5s, top .5s;
-o-transition: opacity .5s, top .5s;
transition: opacity .5s, top .5s;
}
.cat_modal-overlay:target {
display:block;
}
.cat_modal-close {
background-color: rgba(0, 0, 0, 0.8);
border: 2px solid #ccc;
height: 24px;
line-height: 24px;
position: absolute;
right: -15px;
font-weight: bold;
text-align: center;
text-decoration: none;padding: 0;
top: -17px;
width: 24px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}
.cat_modal-close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
font-size: 14px;
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.cat_modal-close:hover {
background-color: rgba(64, 128, 128, 0.8);
}

.cat_modal-body .product-description{
max-height: 380px;
overflow: hidden;
float: left;
text-align: left;
max-width: 300px;
}