.header{
	background-position: 0 -46px;
	height: 190px;
}
.header-info{
	height: 18px;
}
.header-swap-toshop{
	position: absolute;
	right: 17px;
	top: 28px;
}
.main-cont{
	margin: 25px auto 0;
}
.header-main-menu ul li{
	margin-left: 68px;
}
.header-main-menu ul li a{
	font-size: 14px;
}
.header-main-menu ul li .btn-tpl.added-align{
	margin-left: -30px;
}


.journal-tags-cont{
	width: 100%;
	float: left;
	clear: both;
}
.journal-tags-title{
	width: 131px;
	height: 35px;
	float: left;
	position: relative;
	z-index: 1;
	border: 1px #eaeaea solid;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #fefefe;
	border-bottom:0;
	text-align: center;
}
.journal-tags-title span{
	color: #000;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin: 15px 0 0 0;
}
.journal-tags-switch{
	float: left;
	clear: right;
}
.journal-tags-switch ul{
	margin: 7px 0 0 20px;
}
.journal-tags-switch ul li.active a{
	color: #538c11;
	font-size: 13px;
	display: inline;
}
.journal-tags-switch ul li a{
	display: none;
}

.journal-tags-list{
	width: 100%;
	float: left;
	clear: both;
	margin: -1px 0 0 0;
	position: relative;
	z-index: 0;
	border: 1px #eaeaea solid;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
	background: #fefefe;
	background: -moz-linear-gradient(top,  #fefefe 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5',GradientType=0 );
	display: none;
}
.journal-tags-list.active{
	display: block;
}
.journal-tags-list.cloud-type{

}
.cloud-type-in{
	padding: 20px 35px;
	overflow: hidden;
	clear: both;
}
.journal-tags-list.cloud-type span{
	margin: 10px 20px;
	float: left;
}
.journal-tags-list.cloud-type span a{
	color: #2e3237;
}
.journal-tags-list.cloud-type span.cloud-link-style_0 a{
	font-size: 14px;
}
.journal-tags-list.cloud-type span.cloud-link-style_1 a{
	font-size: 16px;
}
.journal-tags-list.cloud-type span.cloud-link-style_2 a{
	font-size: 18px;
}
.journal-tags-list.cloud-type span.cloud-link-style_3 a{
	font-size: 20px;
}
.journal-tags-list.cloud-type span.cloud-link-style_4 a{
	font-size: 24px;
}
.journal-tags-list.cloud-type span.cloud-link-style_5 a{
	font-size: 26px;
}
.journal-tags-list.cloud-type span.cloud-link-style_6 a{
	font-size: 30px;
}
.journal-tags-list.cloud-type span a:hover{
	color :#be1e2d;
	text-decoration: none;
}
.list-type ul{
	background: url(../img/wavy-line-y_gray.png) 0 0 repeat-y;
	float: left;
	margin: 18px 0 29px 0;
	padding: 0 15px 0 33px;
	width: 28%;
}
.list-type ul:first-child{
	background: 0;
}
.list-type ul li{
	margin: 12px 0 0 0;
}
.list-type ul li:first-child{
	margin-top: 0;
}
.list-type ul li span{
	color: #6ca525;
	font-size: 12px;
}
.list-type ul li a{
	color: #2e3237;
	font-size: 14px;
	margin: 0 5px 0 0;
}
.list-type ul li a:hover{
	color: #be1e2d;
	font-weight: bold;
	text-decoration: none;
}

.cloud-type{

}

.title-authors{
	margin: 0px 0 0 0;
	float: left;
	clear: both;
}
.title-journal{
	margin: 26px 0 0 0;
	float: left;
	clear: both;	
}
.subscribe{
	margin: 0 0 30px 20px;
}
.subscribe.btn-tpl.big.green span{
	padding-left: 30px;
	padding-right: 30px;
}
.subscribe.btn-tpl.big.green span a{
	color: #c0e294;
}

.widget-vk{
	margin: 30px 0 0 0;
}

.journal-authors-itemlist{
	margin: 27px 0 0 0;
	float: left;
	clear: both;
	width: 100%;
}
.journal-authors-sort{
	float: left;
	clear: both;
}
.authors-sort-selectlist{
	width: 180px;
	float: left;
	margin: 20px 60px 0 0;
	clear: both;
}
.authors-sort-time{
	margin: 20px 0 0 0;
	float: left;
}
.authors-sort-time ul li{
	float: left;
	margin: 0 15px 0 0;
}
.authors-sort-time ul li span a{
	color: #5b8828;
	font-size: 13px;
}
.authors-sort-time ul li.active span a{
	color: #2e3237;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.itemlist-head{
	height: 38px;
	overflow: hidden;
	clear: both;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#ededed 100%); 
	background: linear-gradient(to bottom,  #f5f5f5 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ededed',GradientType=0 );
}
.itemlist-head ul li{
	background: url(../img/separator_gray_v.png) 0 14px no-repeat;
	padding: 11px 15px;
	float: left;
	text-align: center;
}
.itemlist-head ul li.author-number{
	background: 0;
	padding: 9px 26px 0 15px;
}
.itemlist-head ul li.author-ava{
	padding: 9px 0 0 29px;
	width: 69px;
	text-align: left;
}
.itemlist-head ul li.author-name{
	padding: 9px 0 0 29px;
	width: 453px;
	text-align: left;
}
.itemlist-head ul li.author-status{
	padding: 9px 0 0 59px;
	width: 101px;
	text-align: left;
}
.itemlist-head ul li.author-articles{
	padding: 9px 0 0 32px;
	width: 61px;
	text-align: left;
}
.itemlist-head ul li.author-rating{
	padding-top: 9px;
	width: 62px;
}
.itemlist-head ul li span{
	color: #4f5153;
	font-size: 13px;
}
.itemlist-head ul li:first-child span{
	border: 0;
}

.journal-authors-item{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	margin: 8px 0 0 0;
	padding: 18px 0;
	width: 100%;
	float: left;
}
.journal-authors-item .author-number,
.journal-authors-item .author-ava-cont,
.journal-authors-item .author-name,
.journal-authors-item .author-status,
.journal-authors-item .authors-articles,
.journal-authors-item .author-rating{
	float: left;
}
.journal-authors-item .author-number{
	color: #2e3237;
	font-size: 13px;
	font-weight: bold;
	vertical-align: bottom;
	width: 50px;
	margin: 45px 0 0 0;
	text-align: center;
}
.journal-authors-item .author-ava-cont{
	width: 120px;
	height: 108px;
	position: relative;
	overflow: hidden;
}
.journal-authors-item .ava-over-shape{
	background: url(../img/over_item_author_ava.png) 0 0 no-repeat;
	width: 120px;
	height: 108px;
	position: absolute;
	z-index: 10;
}
.author-ava-cont img{
	--webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	z-index: 10;
}
.author-ava-cont.big{
	width: 272px;
	height: 244px;
	position: relative;
	overflow: hidden;
}
.ava-over-shape.big{
	background: url(../img/over_item_author_photo.png) 0 0 no-repeat;
	width: 272px;
	height: 244px;
	position: absolute;
	z-index: 10;
}
.author-ava-cont.big img{
	--webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	z-index: 10;
}
.journal-authors-item .author-name{
	color: #7f8994;
	font-size: 14px;
	margin: 38px 0 0 11px;
	width: 374px;
}
.journal-authors-item .author-name span{
	display: block;
	line-height: 1.2;
}
.journal-authors-item .author-name span a{
	color: #2e3237;
	font-weight: bold;
}
.journal-authors-item .author-name span a:hover{
	color: #be1e2d;
	text-decoration: none;
}
.journal-authors-item .author-status{
	color: #7f8994;
	font-size: 13px;
	margin: 39px 0 0 140px;
	width: 120px;
}
.journal-authors-item .authors-articles{
	color: #5b8828;
	font-size: 13px;
	font-weight: bold;
	margin: 39px 0 0 15px;
	width: 50px;
}
.journal-authors-item .author-rating{
	background: url(../img/ico_authors_stats.png) 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	color: #2e3237;
	font-size: 13px;
	font-weight: bold;
	margin: 36px 22px 0 0;
	float: right;
}
.paginator{
	float: left;
	clear: both;
	margin: 45px 0 0 0;
}
.g-img-cont{
	height: auto;
}
.journal-item.article .g-img-cont.active{
	background: url(../img/over_item_big.png) 0 1px no-repeat;
	border-radius: 5px;
	margin: 6px -20px -20px -14px;
	width: 256px;
	height: 171px;
}
.journal-article-more .g-img-cont.active{
	margin: 4px 0 -5px -9px;
}
.footer-more-imgmark{
	bottom: 20px;
}
.journal-item .active .footer-more-imgmark{
	bottom: 40px;
	left: 14px;
}
.journal-item.article img{
	width: 222px;
	height: 137px;
	float: left;
	clear: left;
	margin: 20px 0 0 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 5px 4px 20px -3px #d6d6d6;
	-moz-box-shadow: 5px 4px 20px -3px #d6d6d6;
	box-shadow: 5px 4px 20px -3px #d6d6d6;
}

.journal-article-tag-title{
	color: #5c6064;
	font-size: 14px;
	font-weight: bold;
}
.journal-article-tag-title a{
	color: #5b8828;
	font-size: 14px;
	margin: 0 0 0 5px;
}
.journal-article-info{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	width: 100%;
	float: left;
	clear: both;
	padding: 0 0 20px;
	margin: 15px 0 0 0;
}
.journal-article-info ul li{
	float: left;
	margin-left: 60px;
}
.journal-article-info ul li:first-child{
	margin-left: 0;
}
.journal-article-info ul li.author-name,
.journal-article-info ul li.date-public,
.journal-article-info ul li.comments-count,
.journal-article-info ul li.views-count,
.journal-article-info ul li.toprint{
	background: url(../img/journal-article_ico_sprite.png) 0 2px no-repeat;
	padding: 0 0 0 22px;
	overflow: hidden;
}
.journal-article-info ul li.author-name{
	width: 200px;
}
.journal-article-info ul li.author-name.male{
	background: url(../img/journal-article_ico_sprite.png) 0 -46px no-repeat;
}
.journal-article-info ul li.date-public{
	background: url(../img/journal-article_ico_sprite.png) 0 -90px no-repeat;
	width: 170px;
}
.journal-article-info ul li.comments-count{
	background: url(../img/journal-article_ico_sprite.png) 0 -141px no-repeat;
	width: 100px;
}
.journal-article-info ul li.views-count{
	background: url(../img/journal-article_ico_sprite.png) 0 -189px no-repeat;
	width: 100px;
}
.journal-article-info ul li.toprint{
	background: url(../img/journal-article_ico_sprite.png) 0 -239px no-repeat;
	float: right;
}
.journal-article-info ul li.author-name.female:hover{
	background: url(../img/journal-article_ico_sprite.png) 0 -22px no-repeat;
}
.journal-article-info ul li.author-name.male:hover{
	background: url(../img/journal-article_ico_sprite.png) 0 -67px no-repeat;
	width: 200px;
}
.journal-article-info ul li.comments-count:hover{
	background: url(../img/journal-article_ico_sprite.png) 0 -166px no-repeat;
}
.journal-article-info ul li.toprint:hover{
	background: url(../img/journal-article_ico_sprite.png) 0 -265px no-repeat;
}
.journal-article-info ul li span{
	color: #777c81;
	font-size: 13px;
}
.journal-article-info ul li span span{
	font-weight: bold;
}
.journal-article-info ul li a{
	color: #777c81;
	font-size: 13px;
}
.journal-article-info ul li a:hover{
	color: #be1e2d;
	text-decoration: none;
}

.journal-article{
	float: left;
	clear: both;
	margin: 31px 0 0 0;
}
.journal-article-title{
	margin: 0 0 25px 0;
}
.journal-article-title h1{
	color: #5b8828;
	font-size: 30px;
	font-weight: bold;
	font-family: "PT Sans";
}
.journal-article img{
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2.5px 4.33px 13px 0px rgb( 184, 184, 184 );
	-moz-box-shadow: 2.5px 4.33px 13px 0px rgb( 184, 184, 184 );
	box-shadow: 2.5px 4.33px 13px 0px rgb( 184, 184, 184 );
	margin: 0 36px 10px 0;
}
.journal-article-heading{
	color: #727880;	
	font-size: 17px;
	font-weight: bold;
	line-height: 1.2;
}
span.article-heading-title{
	color: #2e3237;
	font-size: 27px;
	float: left;
	clear: both;
	margin: 25px 0 0 0;
}
p.jounal-article-text{
	color: #2e3237;
	font-size: 14px;
	float: left;
	clear: both;
	margin: 13px 0 0 0;
	line-height: 1.2;
}
p.jounal-article-text a{
	color: #5b8828;
	font-size: 14px;
}

.journal-article-share{
	background: url(../img/journal-article-share_shape.png) 0 0 no-repeat;
	float: left;
	clear: both;
	width: 100%;
	margin: 35px 0 0 0;
	height: 50px;
}
.share{

}
.share span{
	color: #606468;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 19px 10px 0 34px;
}
.share img{
	float: left;
	margin: 15px 0 0 8px;
}
.share-code{
	float: right;
	margin: 0 25px 0 0;
}
.share-code span{
	background: url(../img/journal-share_code.png) 0 0 no-repeat;
	padding: 0 0 2px 26px;
}
.share-code span a{
	color: #606468;
	font-weight: normal;
}
.journal-article-more{
	float: left;
	clear: both;
	margin: 32px 0 0 0;
}

.announce-item{
	float: left;
	width: 300px;
	margin: 20px 0 0 46px;
}
.announce-item-imgmark{
	bottom: 20px;
}
.dynamic-setof-items .announce-item:first-child{
	margin-left: 0;
}
.dynamic-cont-controls{
	top: -77px;
}

.journal-article-comments{
	float: left;
	clear: both;
}
.dialog{
	margin-top: 32px;
}

.journal-profile{
	padding: 0 0 35px 0;
	width: 100%;
	clear: both;
	overflow: hidden;
}
.journal-profile-nav{
	width: 100%;
	margin: 23px 0 0 0;
}
.journal-profile-nav ul{
	background: #f5f5f5;
	width: 100%;
	height: 38px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	clear: both;
	text-align: center;
}
.journal-profile-nav ul li{
	background: url(../img/separator_gray_v.png) 0 15px no-repeat;
	display: inline-block;
	padding: 0 80px;
	font-weight: bold;
}
.journal-profile-nav ul li:first-child{
	background: 0;
}
.journal-profile-nav ul li span a{
	color: #5b8828;
	font-size: 13px;
	height: 26px;
	display: block;
	margin: 12px 0 0 0;
}
.journal-profile-nav ul li span a:hover{
	background: url(../img/journal-profile_nav.png) 50% 100% no-repeat;
	color: #be1e2d;
	font-weight: bold;
	text-decoration: none;
}
.journal-profile-photo{
	margin: 31px 66px 0 0;
	float: left;
}
.journal-profile-info{
	width: 655px;
	float: left;
	margin: 35px 0 0 0;
}
.journal-profile-ratings{
	width: 287px;
	margin: 42px 0 0 0;
	float: left;
	clear: left;
}
.journal-profile-ratings ul{
	margin: 3px 0 0 0;
}
.journal-profile-info ul li,
.journal-profile-ratings ul li{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	width: 100%;
	clear: both;
	overflow: hidden;
	padding: 11px 0 0 0;
	margin: 0 0 7px 0;
}
.journal-profile-ratings ul li{
	margin: 0 0 7px 0;
}
.journal-profile-info ul li:first-child,
.journal-profile-ratings ul li:first-child{
	background: 0;
}
.journal-profile-info ul li span,
.journal-profile-ratings ul li span{
	font-size: 13px;
	font-weight: bold;
	float: left;
}
.journal-profile-ratings ul li span{
	float: right;
}
.journal-profile-info ul li span:first-child,
.journal-profile-ratings ul li span:first-child{
	width: 204px;
	float: left;
	font-weight: normal;
}
.journal-profile-info ul li a,
.journal-profile-ratings ul li a{
	color: #5b8828;
}
.journal-profile-info ul li a:hover,
.journal-profile-ratings ul li a:hover{
	color: #be1e2d;
	text-decoration: none;
}
.profile-title{
	color: #2e3237;
	font-size: 22px;
	font-weight: bold;
}

.journal-profile-aboutme{
	width: 650px;
	float: left;
	margin: 42px 0 0 50px;
}
.journal-profile-aboutme p{
	color: #2e3237;
	font-size: 14px;
	margin: 13px 0 0 0;
	line-height: 1.23;
}

.journal-recommended{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	padding: 29px 0 31px;
}
.journal-recommended ul{
	overflow: hidden;
	clear: both;
	margin: 2px 0 0 0;
}
.journal-recommended ul li{
	float: left;
	margin: 10px 21px 0 0;
}
.journal-recommended ul li:first-child{
	margin-left: 0;
}
.journal-recommended ul li span{
	background: url(../img/ico_profile_human.png) 0 6px no-repeat;
	padding: 0 0 0 18px;
}
.journal-recommended ul li span:hover{
	background: url(../img/ico_profile_human.png) 0 -15px no-repeat;	
}
.journal-recommended ul li.female span{
	background: url(../img/ico_profile_human.png) 0 -36px no-repeat;
}
.journal-recommended ul li.female span:hover{
	background: url(../img/ico_profile_human.png) 0 -57px no-repeat;
}
.journal-recommended ul li span a{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	
}
.journal-recommended ul li span a:hover{
	color: #be1e2d;
	font-weight: bold;
	text-decoration: none;
}