/** MODAL POPUP
----------------------------------*/
.modal-popup-call{
	background: #000;
  	opacity: 0.85;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.modal-popup{
	background: url(../img/modal-popup_bg.gif) 0 0 repeat;
	width: 335px;
	min-height: 240px;
	position: absolute;
	display: none;
	top: 15%;
	left: 50%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	z-index: 101;
}
.modal-popup-close{
	background: url(../img/modal-popup_close.png) 0 0 no-repeat;
	width: 45px;
	height: 45px;
	position: absolute;
	right: -14px;
	top: -12px;
	z-index: 2;
}
.modal-popup-close a{
	width: 39px;
	height: 39px;
	float: right;
}
.modal-popup-styler.rt{
	background: url(../img/modal-popup_sprite.png) 0 0 no-repeat;
	height: 9px;
	width: 244px;
	position: absolute;
	right: 20%;
	top: -9px;
}
.modal-popup-styler.l{
	background: url(../img/modal-popup_sprite.png) 0 -9px no-repeat;
	width: 9px;
	height: 178px;
	position: absolute;
	top: 20%;
	left: -9px;
}
.modal-popup-styler.r{
	background: url(../img/modal-popup_sprite.png) -9px -12px no-repeat;
	width: 6px;
	height: 225px;
	position: absolute;
	top: 10%;
	right: -6px;
}
.modal-popup-styler.rb{
	background: url(../img/modal-popup_sprite.png) -15px -9px no-repeat;
	width: 240px;
	height: 6px;
	position: absolute;
	bottom: -6px;
	right: 20%;
}
.modal-popup-content{
	padding: 29px 53px 41px;
	float: left;
}

/** MODAL POPUP - Fast Order
----------------------------------*/
.modal-popup-content h1{
	white-space: nowrap;
}
.modal-title{
	margin: 14px 25px 0 0;
	float: left;
	white-space: nowrap;
}
.modal-title a{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
}
.modal-price{
	color: #be1e2d;
	font-size: 19px;
	font-weight: bold;
	float: right;
	margin: 15px 9px 0 0;
}
.modal-price span{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
}

.modal-fast-order{
	width: 562px;
	float: left;
	clear: both;
	margin: 0 0 18px 0;
}
.modal-urname,
.modal-urphone{
	width: 246px;
	float: left;
	margin: 18px 0 0;
}
.modal-urname{
	margin-right: 42px;
}
.modal-urphone{
	clear: right;
}

.fast-order-modal-submit{
	clear: both;
	width: 100%;
	overflow: hidden;
}
.fast-order-modal-submit .fast-order-buy{
	margin: 0 12px 0 0;
	float: left;
}
.fast-order-modal-submit .fast-order-cancel{
	margin: 0 12px 0 0;
}

/** MODAL POPUP - Callback
----------------------------------*/
.modal-callback{
	width: 562px;
	float: left;
	clear: both;
	margin: 6px 0 15px 0;
}
.modal-callback-urname,
.modal-callback-urphone,
.modal-callback-urmail,
.modal-callback-msg,
.modal-callback-msg  textarea{
	width: 416px;
	float: left;
	margin: 14px 0 0 0;
}
.textarea-new textarea{
	border: 1px #e2e2e2 solid;
	border-radius: 13px;
	outline:0;
	padding: 10px;
	margin: 12px 0 0 0;
	color: #9ca0a6;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans";
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(98%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.modal-callback-urname-tip{
	color: #9ca0a6;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	float: left;
	margin: 23px 0 0 40px;
}
.modal-alert{
	color: #be1e2d;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin: 0 0 0 15px;
	display: block;
	clear: both;
}
.modal-alert-msg{
	color: #be1e2d;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin: 60px auto;
	display: block;
	clear: both;
}
.modal-submit{
	margin: 23px 15px 0 0;
	float: left;
}
.modal-cancel{
	float: left;
	margin: 23px 0 0;
}
.modal-cancel-fr{
	float: right;
}

/** MODAL POPUP - Subscribe
----------------------------------*/
.modal-subscribe-uremail{
	margin: 20px 0 15px 0;
	width: 533px;
	float: left;
	clear: both;
}
.modal-alert{
	display: block;
}

/** MODAL POPUP - Accepted Order
----------------------------------*/
.modal-popup .urorder-info{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	width: 460px;
	padding: 9px 0 19px 0;
}
.modal-popup .urorder-info p{
	color: #2e3237;
	font-size: 13px;
	line-height: 1.32;
}
.modal-popup .urorder-info p span{
	font-weight: bold;
}
.modal-popup .order-number{
	color: #5c8929;
	font-weight: bold;
	text-decoration: underline;
}
.modal-popup .order-urorder{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	padding: 0 0 24px 0;
	margin: 16px 0 0 0;
}
.modal-popup .order-urorder .title{
	color: #5b8828;
	font-size: 20px;
	font-weight: bold;
}
.modal-popup .order-urorder-item{
	background: #fff;
	border: 1px #eaeaea solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* padding: 17px 20px 15px 10px; */
	margin: 16px 0 0 0;
	overflow: hidden;
	clear: both;
}
.modal-popup .uroder-item-name{
	width: 270px;
	margin: 0 50px 0 0;
	padding: 11px 0 15px 10px;
	float: left;
}
.modal-popup .uroder-item-name a{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
}
.modal-popup .uroder-item-name a:hover{
	color: #be1e2d;
	text-decoration: none;
}
.modal-popup .urorder-item-price{
	color: #be1e2d;
	font-size: 19px;
	font-weight: bold;
	margin: 13px 0 0 0;
	display: block;
}
.modal-popup .urorder-item-price span{
	color: #2e3237;
	font-weight: bold;
	font-size: 14px;
}
.modal-popup .uroder-toget-info{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	padding: 0 0 20px 0;
	margin: 19px 0 0 0;
}
.modal-popup .uroder-toget-info span{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 14px 0 0 0;
}
.modal-popup .uroder-toget-info span span{
	font-size: 14px;
	line-height: 1.2;
	font-weight: normal;
	display: inline;
}
.modal-popup .uroder-toget-info .toget-info-price span{
	color: #be1e2d;
	font-weight: bold;
}
.modal-popup .uroder-toget-info .toget-info-price span span{
	color: #2e3237;
}
.modal-popup span.toget-info-thanks{
	color: #5c8929;
	font-weight: normal;
	font-size: 13px;
}

/** MODAL POPUP - Credit
----------------------------------*/
.modal-popup .modal-credit-scheme{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	width: 800px;
	margin: 25px 0 17px 0;
	padding: 0 0 30px 0;
	float: left;
	clear: both;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico{
	background: url(../img/modal-content_credit_ico_1.png) 50% 0 no-repeat;
	width: 220px;
	float: left;
	text-align: center;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico.two-mins{
	background: url(../img/modal-content_credit_ico_1.png) 50% 0 no-repeat;
	width: 190px;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico.docs{
	background: url(../img/modal-content_credit_ico_2.png) 50% 0 no-repeat;
	margin: 0 13px 0 52px;
	width: 190px;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico.happybuy{
	background: url(../img/modal-content_credit_ico_3.png) 50% 0 no-repeat;
	margin: -10px 0 0 60px;
	width: 130px;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico.separator{
	background: url(../img/modal-content_credit_ico_sep.png) 0 0 no-repeat;
	width: 35px;
	height: 73px;
	margin: 22px 0 0 33px;
}
.modal-popup .modal-credit-scheme-ico span{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 107px 0 0 0;
}
.modal-popup .modal-credit-scheme .modal-credit-scheme-ico.happybuy span{
	margin: 117px 0 0 0;
}

.modal-popup .modal-credit-info{
	float: left;
}
.modal-popup .credit-info-logos{
	float: left;
}
.modal-popup .credit-info-logos img{
	display: block;
	clear: both;
}
.modal-popup .credit-info-logo-kypivkredit{
	margin: 3px 0 0 8px;
}
.modal-popup .modal-credit-info ul{
	float: left;
	margin: 8px 0 0 58px;
}
.modal-popup .modal-credit-info ul li{
	background: url(../img/wavy-line_green.png) 0 6px no-repeat;
	color: #2e3237;
	font-size: 13px;
	margin: 14px 0;
	padding-left: 16px;	
	line-height: 1.2;
}
.modal-popup .modal-credit-info ul li:first-child{
	margin-top: 0;
}

.modal-popup .modal-credit-submit{
	margin: 21px 0 0 314px;
	float: left;
	clear: both;
}

/** MODAL POPUP - Feedback
----------------------------------*/
/* .paginator ul li.prev{
	margin: 7px 142px 0 0;
}
.modal-popup .paginator ul li.prev:hover{
	margin-right: 142px;
}
.modal-popup .paginator ul li.next{
	margin: 7px 0 0 143px;
}
.modal-popup .paginator ul li.next:hover{
	margin-left: 143px;
} */
.modal-popup .dialog{
	background: 0;
	margin-top: 0;
	padding-top: 0;
}
.modal-popup .dialog-item {
	margin: 15px 0 0 0;
	padding: 20px 0 0 0;
}
.modal-popup .ask-question .title{
	font-size: 47px;
}
.modal-popup .dialog-item.first{
	margin-top: 26px;
}
.modal-popup .dialog-item .answer{
	font-size: 14px;
	margin-left: 40px;
	margin-top: 10px;
}
.modal-popup .dialog-item .answer .caption {
	margin-top: 5px;
	color: #be1e2d;
	font-weight: bold;
}
.modal-popup .dialog-item .answer .body {
	margin-top: 5px;
}
.modal-popup .dialog-item .dialog-item-title{
	background: url(../img/dialog_sprite.png) -3px -83px no-repeat;
	font-size: 14px;
	padding: 0 0 0 22px;
}
.modal-popup .dialog-item .dialog-item-title span{
	color: #909294;
	font-size: 11px;
	font-style: normal;
}
.modal-popup .dialog-item p{
	margin: 3px 0 0 21px;
}
.modal-popup .paginator-dialog{
	margin: 16px 0 0 0;
	padding: 35px 0 0 0;
}
.modal-popup .paginator li {
	cursor: pointer;
}
.modal-popup .paginator li.active {
	cursor: default;
}
.modal-popup .paginator.paginator-dialog ul{
	padding: 0 0 30px 0;
}
.modal-popup .ask-question .form-tpl-urname,
.modal-popup .ask-question .form-tpl-uremail{
	width: 304px;
	float: left;
}
.modal-popup .ask-question .form-tpl-urname{
	margin: 0 45px 0 0;
}

.modal-popup .ask-question .form-tpl-msg .textarea-tpl textarea{
	min-width: 660px;
	max-width: 660px;
}

/** MODAL POPUP - Feedback
----------------------------------*/
.modal-select-region-title{
	margin: 0 0 0 46px;
}
.modal-region-yourcity{
	width: 100%;
	margin: 20px 0 0 32px;
	overflow: hidden;
	clear: both;
}
.modal-region-yourcity-input{
	width: 600px;
}
.modal-region-yourcity-submit{
	float: left;
	margin: 0 0 0 30px;
}
.modal-region-cities-list{
	width: 748px;
	margin: 20px 0 0 49px;
	position: relative;
	clear: both;
}
.modal-region-cities-main{
	clear: both;
	margin: 19px 0 0 49px;
	overflow: hidden;
}
.modal-region-cities-main span{
	float: left;
	margin: 0 0 0 134px;
}
.modal-region-cities-main span:first-child{
	margin: 0;
}
.modal-region-cities-main span a{
	color: #2e3237;
	font-size: 16px;
	font-weight: bold;
}
.modal-region-cities-main span a:hover{
	color: #5c8929;
	text-decoration: none;
}
.modal-region-cities-list .dynamic-cont{
	width: 100%;
	margin: 20px auto;
	overflow: visible;
}
.modal-region-cities-list .dynamic-cont-controls{
	position: absolute;
	top: 36px;
	right: 0px;
	left: auto;
}
.modal-region-cities-list .dynamic-setof-items ul{
	float: left;
}
.modal-region-cities-list .dynamic-setof-items ul li{
	line-height: 1.4;
}
.modal-region-cities-list .dynamic-setof-items ul li.dynamic-item-column{
	float: left;
	width: 187px;
}
.modal-region-cities-list .dynamic-setof-items ul li.dynamic-item-column ul{
	margin: 0 5px 0 0;
}
.modal-region-cities-list .dynamic-setof-items ul li a{
	color: #2e3237;
	font-size: 14px;
}
.modal-region-cities-list .dynamic-setof-items ul li a:hover{
	color: #5c8929;
	font-weight: bold;
	text-decoration: none;
}
.modal-region-cities-list .paginator ul li.prev.big{
	position: absolute;
	top: 63px;
	left: -814px;
}
.modal-region-cities-list .paginator ul li.next.big{
	position: absolute;
	top: 63px;
	left: -28px;
}
.modal-popup .paginator ul li:hover{
	position: relative;
}


/** MODAL POPUP - Postmat
----------------------------------*/
.modal-postmat-wrap{
	width: 800px;
	margin: 24px 0 0 0;
}
.modal-postmat-list{
	background: #fff;
	width: 410px;
	height: 356px;
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 20px 0 #d6d6d6;
	-moz-box-shadow: 0 0 20px 0 #d6d6d6;
	box-shadow: 0 0 20px 0 #d6d6d6;
	padding: 31px 0;
}

.modal-postmat-list-checkpoint{
	margin: 11px 0 0 36px;
}
.modal-postmat-list-checkpoint:first-child{
	margin: 0 0 0 36px;
}
.modal-postmat-list-checkpoint label{
	color: #2e3237;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 0 0 27px;
	display: block;
	cursor: pointer;
}
.modal-postmat-list-checkpoint input:checked + label{
	font-weight: bold;
}
.modal-postmat-map{
	width: 370px;
	height: 420px;
	float: left;
}


/** MODAL POPUP - Scroll Styles
----------------------------------*/
.modal-popup .scroll-pane{
	width: 410px;
	height: 359px;
	position: relative;
	overflow: hidden;
}
.modal-popup .scroll-content{
	position: absolute;
	width: 380px;
}
.modal-popup .scroll-bar-wrap{
	background: url(../img/scroll-bar.png) 0 0 no-repeat;
	position: absolute;
	width: 12px;
	height: 378px;
	top: 18px;
	right: 17px;
	border:0;
	border-radius:0;
}
.modal-popup .ui-widget-content{
	background: 0;
	border:0;
	width: 12px;
	height: 300px;
	top: 39px;
	left: 0px;
}
.modal-popup .ui-state-default, 
.modal-popup .ui-widget-content .ui-state-default, 
.modal-popup .ui-widget-header .ui-state-default{
	background: url(../img/scroll-bar.png) 0 -378px no-repeat;
	width: 12px;
	height: 76px;
}
.modal-popup .ui-slider-vertical .ui-slider-handle{
	left: 0;
	border:0;
	margin-bottom: -38px;
}
.modal-popup .ui-state-hover,
.modal-popup .ui-widget-content .ui-state-hover,
.modal-popup .ui-widget-header .ui-state-hover,
.modal-popup .ui-state-focus,
.modal-popup .ui-widget-content .ui-state-focus,
.modal-popup .ui-widget-header .ui-state-focus {
	width: 12px;
	height: 76px;
}

.modal-popup .h1-like-title {
	color: #5b8828;
	font-size: 45px;
	font-family: "m_Brody";
	white-space: nowrap;
}
.modal-error-msg {
    color: rgb(156, 160, 166);
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    margin: 20px;
    line-height: 1.25;
}