.content h1{
	margin-top: -7px;
}

.cart-breadcrumbs{
	overflow: hidden;
	margin: 20px 0 0 0;
}

.cart-breadcrumbs li{
	float: left;
}
.cart-breadcrumbs-cart{
	background: url(../img/cart-breadcrumbs_ico.png) 0 0 no-repeat;
	padding: 0 25px 0 45px;
	height: 31px;
	line-height: 1.9;
}
.cart-breadcrumbs-order{
	background: url(../img/cart-breadcrumbs_ico.png) 0 -31px no-repeat;
	padding: 0 50px 0 33px;
	margin: 0 0 0 2px;
	height: 30px;
}
.cart-breadcrumbs-order.active{
	background: url(../img/cart-breadcrumbs_ico.png) 0 -61px no-repeat;
}
.cart-breadcrumbs .cart-breadcrumbs-order span{
	line-height: 2;
	color: #bec0c3;
	font-weight: normal;
	font-size: 16px;
}
.cart-breadcrumbs .cart-breadcrumbs-order.active span{
	color: #5b8828;
	font-weight: bold;
}
.cart-breadcrumbs li .cart-breadcrumbs-separator{
	font-family: "PT Sans";
	font-size: 41px;
	font-weight: normal;
	float: left;
	margin: -24px 0 0 25px;
}
.cart-breadcrumbs li span{
	color: #5b8828;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin: 0 0 0 3px;
	line-height: 1.8;
}

.place-order-client{
	margin: 27px 0 0 0;
	clear: both;
	overflow: hidden;
}
.client-title,
.delivery-title,
.payment-title{
	color: #2e3237;
	font-size: 22px;
	font-weight: bold;
}
.client-item{
	margin: 8px 0 0 0;
	overflow: hidden;
	clear: both;
}
.client-phone{
	margin: 14px 0 0 0;
}
.client-item span{
	color: #2e3237;
	font-size: 14px;
	float: left;
	margin: 7px 0 0 0;
}
.client-item .input-tpl{
	margin: 0 50px 0 0;
	float: right;
	width: 680px;
}

.place-order-delivery{
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
}
.place-order-delivery .delivery-checkoption{
	margin: 18px 0 0 35px;
}
.delivery-title span{
	color: #8f9297;
	font-size: 13px;
	font-weight: normal;
}
.delivery-title span a{
	color: #5b8828;
	font-size: 13px;
	text-decoration: underline;
}
.place-order-delivery label,
.payment-checkoption label{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.place-order-delivery label span,
.payment-checkoption label span{
	cursor: auto;
}
.place-order-payment{
	margin: 25px 0 0 0;
	padding: 30px 0 0 0;
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	clear: both;
	overflow: hidden;
}
.place-order-delivery label{
	margin: 0 0 0 33px;
	padding: 3px 0 0 0;
	display: block;
	line-height: 1.2;
}
.payment-checkoption label{
	margin: 0 0 0 33px;
	padding: 3px 0 0 0;
	display: block;
	line-height: 1.2;
}
.place-order-delivery label span{
	color: #8f9297;
	font-size: 13px;
	font-weight: normal;
	display: block;
	clear: left;
	/*margin: 0 0 0 31px;*/
}
.place-order-delivery label span a{
	color: #5b8828;
	font-size: 13px;
}

.cart-items-sum{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	color: #2e3237;
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0 0 0;
	padding: 20px 0 0 0;
}
.cart-items-sum span{
	color: #5b8828;
	font-size: 19px;
}

.payment-checkoption{
	margin: 11px 0 0 35px;
}
.payment-checkoption.first{
	margin: 18px 0 0 35px;
}

.place-order-terms{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	margin: 20px 0 0 0;
	padding: 20px 25px 0 0;
}
.place-order-terms p{
	color: #a2a2a2;
	font-size: 12px;
}
.place-order-agree{
	margin: 18px 0 0 0;
}
.place-order-agree label{
	color: #2e3237;
	font-size: 13px;
	cursor: pointer;
}
.place-order-agree label a{
	color: #5b8828;
	text-decoration: underline;
}

.checkbox {
	background: url(../img/checkbox2.png) no-repeat;
	width: 14px;
	height: 15px;
	padding: 0 0 0 0;
	margin: 3px 5px 0 0;
	display: block;
	clear: left;
	float: left;
	cursor: pointer;
}

.cart-item-accept{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	margin: 25px 0 0 0;
	padding: 30px 0 0 0;
}
.item-accept-fastorder{
	margin: 10px 65px 0 0;
	float: left;
}
.item-accept-fastorder span{
	color: #5b8828;
	font-size: 13px;
	font-weight: bold;
}
.item-accept-fastorder span a{
	color: #5b8828;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
}

.cart-item-accept .order-loading {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
}