.product-title{
	margin: 14px 0 17px;
	clear: both;
	float: left;
}
.product-title h1{
	color: #2e3237;
	font-size: 26px;
	font-weight: bold;
	font-family: "PT Sans";
	float: left;
	clear: both;
	min-width: 300px;
}
.product-item{
clear: both;
float: left;
}
.product-item-view{
	float: left;
	clear: left;
	position: relative;
}
.product-item-img{
border: 1px #eaeaea solid;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
float: left;
clear: left;
line-height: 450px;
width: 350px;
text-align: center;
margin: 7px 35px 0 15px;
}
.product-item-img img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-height: 450px;
	display: inline-block;
	vertical-align: middle;
	max-width: 350px;
}
.product-item-view-detailed{
	float: left;
	clear: both;
	width: 377px;
	height: 110px;
	margin: 15px 0 0 0;
}
.product-item-view-detailed img{
	border: 1px #eaeaea solid;
	margin: 0 0 0 7px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	max-width: 110px;
}
.product-item-view-detailed img:hover{
	border: 3px #5f9a11 solid;
	/*border: 3px #be1e2d solid;*/
	margin: -5px -2px 0 5px;
}
.product-item-view-detailed a:first-child img{
	margin-left: 23px;
}
.product-item-view-detailed a:first-child img:hover{
	margin-left: 21px;
}
.dynamic-cont-controls ul li.prev{
 position: absolute;
 margin-top: -12px;
 top: 50%;
 left: 0px;
}
.dynamic-cont-controls ul li.next{
 position: absolute;
 margin-top: -12px;
 top: 50%;
 right: 0px;
}
.dynamic-cont-controls ul li.prev:hover{
 margin-top: -12px;
 top: 50%;
}
.dynamic-cont-controls ul li.next:hover{
 margin-top: -12px;
  top: 50%;

 }
.product-item-mark{
	width: 80px;
	height: 79px;
	position: absolute;
	top: -10px;
	left: -15px;
}
.product-item-mark.sale{
	background: url(../img/catalogue-item_sprite.png) 0 -128px no-repeat;
}
.product-item-mark.hit-sales{
	background: url(../img/catalogue-item_sprite.png) -88px 0 no-repeat;
}
.product-item-info{
	float: left;
	clear: right;
	margin: 0 0 0px;
	width: 350px;
}
.product-item-sale{
	margin: 0 0 20px 0;
}
.sale-ending{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	overflow: hidden;
	padding: 0 0 30px 0;
	margin: 0 0 17px 0;
}
.product-item-countdown{
	float: left;
	width: 182px;
	margin: 0 0 0 28px;
}
.item-sale-to{
	color: #606468;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 0 0;
	float: left;
}
.item-sale-old-price,
.item-sale-price-saving{
	color: #606468;
	font-size: 14px;
	font-weight: bold;
	display: block;
	line-height: 1.2;
}
.item-sale-old-price span{
	color: #8a8f96;
	font-size: 18px;
	text-decoration: line-through;
}
.item-sale-price-saving span{
	color: #608c2f;
	font-size: 18px;
}
.item-sale-price-saving span span{
	color: #8a8f96;
}

.product-item-buy,
.product-item-delivery,
.product-item-fastbuy,
.product-item-docprotect{
/*	background: url(../img/wavy-line_gray.png) 0 100% repeat-x; */
	margin: 16px 0 0 0;	
/*	padding: 0 0 26px 0;	*/
	float: left;
	clear: both;
	width: 100%;
/*	cursor: pointer; */
}
.product-item-price{
	float: left;
	margin: 0 36px 0 0;
}
.product-item-price span{
	color: #5f9a11;
	/*color: #be1e2d;*/
	font-size: 26px;
	font-weight: bold;
}
.product-item-price span span{
	color: #2e3237;
	font-size: 18px;
}
.ico-stock{
	margin: 12px 0 0 0;
	float: left;
}
.product-item-buy .btn-tpl.buy{
	margin: 0 20px 0 18px;
}
.buy-credit-ico{
	background: url(../img/product-item-credit_ico.png) 0 0 no-repeat;
	width: 34px;
	height: 39px;
	margin: -1px 0 0 15px;
	float: left;
}

#vkredit-btn {
	margin-left: -10px;
}

#vkredit-btn .ico{
	background: url(../img/credit_ok.png) 0 0 no-repeat;
	width: 34px;
	height: 39px;
	margin: -1px 0 0 15px;
	float: left;
	cursor: pointer;
}

#vkredit-btn .ico.empty{
	background: url(../img/credit_empty.png) 0 0 no-repeat;
	width: 34px;
	height: 39px;
	margin: -1px 0 0 15px;
	float: left;
	cursor: pointer;
}

#vkredit-btn .credit-info {
	color: rgb(255, 169, 1);
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
	text-decoration: underline;
	background: url("../img/question_mark.png") no-repeat scroll 177px 5px transparent;
}

#vkredit-btn .credit-additional-info {
	color: rgb(96, 100, 104);
	font-size: 14px;
	margin: 4px 0px 0px 8px;
}

#vkredit-btn .credit-description {
	color: rgb(157, 160, 165);
	font-size: 13px;
	display: block;
	margin: 4px 0px 0px;
	font-style: italic;
}

.product-item-delivery{
/*	margin: 40px 0 0 0; */
}
.product-item-delivery .ico-delivery{
	float: left;
}
.item-delivery-info{
	float: left;
	margin: -18px 0 0 10px;
}
.item-delivery-info .info-region{
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 7px 0;
}
.item-delivery-info .info-region span a{
	color: #5b8828;
	text-decoration: underline;
}
.item-delivery-info span{
	color: #606468;
	font-size: 13px;
	font-weight: bold;
	display: block;
	line-height: 1.3;
}
.item-delivery-info span span{
	color: #5b8828;
	display: inline;
}
.product-item-fastbuy{
	margin: 25px 0 0 0;
}
.product-item-fastbuy-tips{
	float: right;
	margin: 0 0 0 7px;
}

#fastz {
	background: url(../img/fast.png) no-repeat;
width: 118px;
overflow: hidden;
text-indent: 9999999px;
}

/*.product-item-fastbuy-tips span{*/
	/*color: #be1e2d;*/
	/*font-size: 19px;*/
	/*font-weight: bold;*/
	/*float: left;*/
	/*clear: left;*/
/*}*/
/*.product-item-fastbuy-tips span:first-child{*/
	/*color: #83878c;*/
	/*font-size: 13px;*/
/*}*/
.product-item-fastbuy-tips span:first-child {
color: #444;
padding: 3px 0;
margin-top: 0px;
font-size: 27px;
font-family: 'MyriadProBoldCondensed';
display: block;
}

a.ramka {
overflow: hidden;
border: 1px solid #f1f1f1;
display: block;
float: left;
padding: 12px;
border-radius: 20px;
margin: 20px 8px 0 0;
}

a.ramka:hover {
	border-color: #c7dcad;
}

#buyb {
	background: url(../img/buyb.png) no-repeat;
	width: 138px;
	margin: -4px 0 0;
}

#buyb.in-cart {
	background: url(../img/incart.png) no-repeat;
}

.product-item-docprotect{
	margin: 22px 0 0 0;
}
.product-item-docprotect span{
	color: #545b63;
	font-size: 13px;
	float: left;
	margin: 3px 0 0 10px;
	width: 300px;
}
.product-item-docprotect span a{
	color: #5b8828;
	font-weight: bold;
	text-decoration: underline;
}

.product-info{
	margin: 48px 0 0 0;
	clear: both;
	float: left;
}
.product-info-nav ul{
	overflow: hidden;
}
.product-info-nav ul li{
	float: left;
	margin: 0 30px 0 0;
	padding: 0 0 0 29px;
}
.product-info-nav ul li.description{
	background: url(../img/product-item-info-nav_ico.png) 0 6px no-repeat;
}
.product-info-nav ul li.video{
	background: url(../img/product-item-info-nav_ico.png) 0 -43px no-repeat;
	padding: 0 0 0 32px;
}
.product-info-nav ul li.feedback{
	background: url(../img/product-item-info-nav_ico.png) 0 -86px no-repeat;
	padding: 0 0 0 35px;
}
.product-info-nav ul li a{
	font-size: 25px;
	font-family: "m_Brody";
	color: #606468;	
}
.product-info-nav ul li.active{
	margin-top: -6px;
}
.product-info-nav ul li.active a{
	color: #5b8828;
	font-size: 34px;
	text-decoration: none;
}
.product-description{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	color: #2e3237;
	font-size: 14px;
	margin: 17px 0 0 0;
	padding: 0 0 18px 0;
	float: left;
	clear: both;
}
.product-description p{
	line-height: 1.2;
	margin-bottom: 15px;
	margin-top: 10px;
}

#pd tbody, #pd tr, #pd td{
	border: 1px solid;
}

#pd table {
	margin: 20px 0;
	text-align: center;
}


#pd td {
	padding: 3px 0;
}

#pd.product-description strong{
	font-weight: 700;
}

.product-description p a{
	color: #5b8828;
}
.product-description h2{
	color: #5b8828;
	font-size: 22px;
	font-weight: bold;
}
.product-description h3{
	margin-top: 10px;
}
.product-description-tech{
	margin: 20px 0 0 0;
}
.product-description-tech ol{
	margin: 10px 0 0 50px;
	list-style: decimal;
}
.product-description-tech ol li{
	/*font-weight: bold;*/
	line-height: 1.75;
}
.product-description-tech ol li span{
	font-weight: normal;
}
.product-description-spec{
	margin: 18px 0 0 0;
}
.simply-text-item{
	background: 0;
	padding: 0;
}
.simply-text-item ul{
	margin: 20px 0 0 30px;
}
.simply-text-item ul li{
	margin: 10px 0;
}
.product-video{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	float: left;
	clear: both;
	/* width: 100%; */
	padding: 17px 0 29px;
}
.product-video .title{
	color: #5b8828;
	font-size: 34px;
	font-family: "m_Brody";
	display: block;
}
.product-video .utube-api{
	margin: 20px 0 0 0;
	-webkit-box-shadow: 0 5px 20px 0 #9d9d9d;
	-moz-box-shadow: 0 5px 20px 0 #9d9d9d;
	box-shadow: 0 5px 20px 0 #9d9d9d;
}
.catalogue-list{
	/*float: left;*/
	margin-top: 18px;
}
.catalogue-list .title{
	color: #5b8828;
	font-size: 45px;
	font-family: "m_Brody";
	display: block;
	margin: 0 0 16px 32px;
	float: left;
width: 100%;
}

.line {
	clear: both;
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	margin: 27px 0 30px 0;
	width: 100%;
	height: 2px;
}

.catalogue-list.catalogue-similar-product{
	/* margin-left: -164px; */
}
.catalogue-list.catalogue-similar-product .title{
	/* margin-left: 164px; */
}
.catalogue-similar-product .catalogue-item{
	/* margin: 5px 0 30px 163px; */
}
.dialog{
	padding: 18px 0 0 0px;
}
.product-art{
	position: relative; 
	bottom: 20px; 
	left: 200px;	
	color: rgb(91, 136, 40);  
	font-weight: bold;  	
	font-size: 16px;
}