.selectBox-dropdown {
    color: #62902b;
    font-size: 12px;
    line-height: 1.9;
    height: 26px;
    border-left:0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.selectBox-dropdown .selectBox-label{
	background: url(../img/tmp_sep.png) 0 4px no-repeat;
	padding: 2px 30px 2px 25px;
	width: 150px;
}
.selectBox-dropdown .selectBox-arrow {
    background: url(../img/selectbox-arrow.png) 50% center no-repeat;
    position: absolute;
    top: 5px;
    right: 12px;
    width: 15px;
    height: 15px;
}
.selectBox-dropdown-menu{
	padding: 4px 0 0 0;
	border-top-left-radius: 0;
}
.selectBox-options LI A{
	padding: 0 5px 0 24px;
}
.selectBox-options LI.selectBox-hover A {
    background: url(../img/wavy-line_green.png) 9px 9px no-repeat;
}

.content h1{
	margin-top: -7px;
}

.search-bar{
	float: left;
	margin: 20px 0 0 0;
	clear: both;
	width: 100%;
}
.search-bar-what{
	float: left;
}
.search-bar-what .input-tpl{
	height: 30px;
}
.search-bar-what .input-tpl input{
	color: #9ca0a6;
	font-size: 13px;
	font-weight: normal;
	padding-right: 35px;
	width: 634px;
}
.search-bar-where{
	float: left;
	margin: 0 0 0 -25px;
}
.search-result .search-bar-what .input-tpl input{
	width: 613px;
}
.search-bar .btn-tpl.mid{
	margin: -1px 0 0 35px;
	float: right;
}
.btn-tpl.mid.gray span{
	padding: 6px 30px;
}

.search-result-count{
	background: url(../img/wavy-line_gray.png) 0 50% repeat-x;
	width: 100%;
	height: 20px;
	margin: 22px 0 0;
	clear: both;
	text-align: center;
}
.search-result-count span{
	background: #fff;
	padding: 0 18px;
	color: #878a8d;
	font-size: 13px;
}
.search-result-count span span{
	font-weight: bold;
	padding: 0;
}

.search-results-item{
	background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
	clear: both;
	/*overflow: hidden;*/
	float: left;
	margin: 18px 0 0 0;
	padding: 0 0 11px 0;
}
.search-results-item.article{
	margin: 27px 0 0 0;
	padding: 0 0 28px 0;
	/*overflow: hidden;*/
}
.search-results-item img{
	float: left;
	width: 220px;
	height: 180px;
}
.g-img-cont{
	height: auto;
}
.g-img-cont.active{
	background: url(../img/over_item_big.png) 0 1px no-repeat;
	border-radius: 5px;
	margin: 6px -20px -20px -14px;
	width: 256px;
	height: 171px;
}
.search-results-item.article .g-img-cont.active img{
	/*width: 138px;*/
	box-shadow: none;
	margin: 14px 0 0 14px;
	border-radius: 2px;
}
.search-results-item .active .footer-more-imgmark{
	bottom: 40px;
	left: 14px;
}
.search-results-item.article img{
	width: 222px;
	height: 137px;
	float: left;
	clear: left;
	margin: 20px 0 0 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 5px 4px 20px -3px #d6d6d6;
	-moz-box-shadow: 5px 4px 20px -3px #d6d6d6;
	box-shadow: 5px 4px 20px -3px #d6d6d6;
}
.search-result-item-info{
	margin: 0 0 0 33px;
	float: left;
	width: 740px;
}
.search-results-item.article .search-result-item-info{
	margin: 0 0 0 30px;
}
.search-results-item-title a{
	color: #2e3237;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	display: block;
	clear: right;
	margin: 14px 0 0 0;
}
.first .search-results-item-title a{
	margin: 20px 0 0 0;
}
.item-breadcrumbs a{
	color: #2e3237;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}
.item-breadcrumbs a:hover,
.search-results-item-title a:hover{
	color: #be1e2d;
	text-decoration: none;
}
.breadcrumbs-title{
	margin: 0 0 0 14px;
	float: left;
	clear: right;
}
.breadcrumbs-b{
	background: url(../img/ico_article.png) 100% -24px no-repeat;
	padding: 0 14px 0 0;
	float: left;
}
.breadcrumbs-b a{
	color: #70777e;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}
.breadcrumbs-title a{
	font-size: 16px;
}
.item-breadcrumbs.active .breadcrumbs-title a{
	color: #be1e2d;
	text-decoration: none;
}
.search-results-item p{
	color: #2e3237;
	font-size: 14px;
	clear: right;
	margin: 10px 0 0 0;
	line-height: 1.2;
}
.search-results-item.article p{
	margin: 17px 0 20px 0;
}
.search-result-item-price{
	color: #2e3237;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 28px 0 0 0;
}
.search-result-item-price span{
	color: #be1e2d;
	font-size: 19px;
	font-weight: bold;
}
.search-result .catalogue-item-btn{
	float: left;
	margin: 25px 0 0 35px;
}

.footer-more-imgmark{
	bottom: 20px;
}

.paginator{
	margin: 42px 0 0 0;
}
.content{
	margin-bottom: 48px;
}