/* Dropdown control */
.selectBox-dropdown {
    min-width: 100%;
    position: relative;
    border: solid 1px #e2e2e2;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
    color: #878a8d;
    outline: none;
    vertical-align: middle;
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #fff 1%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fff), color-stop(100%, #ececec));
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ececec', GradientType=0);*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing {
/*    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}

.selectBox-dropdown .selectBox-label {
    padding: 2px 8px 2px 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
    background: url(../img/selectbox-arrow.png) 50% center no-repeat;
    position: absolute;
    top: 2px;
    right: 4px;
    width: 15px;
    height: 15px;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1.2em;
    border: solid 1px #e2e2e2; /* should be the same border width as .selectBox-dropdown */
    border-radius: 11px;
    /*-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #fff 1%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fff), color-stop(100%, #ececec));
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ececec', GradientType=0);    */
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #878a8d;
}

.selectBox-options LI A {
    line-height: 1.5;
    padding: 0 5px 0 30px;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
    background: url(../img/wavy-line_green.png) 14px 9px no-repeat;
    color: #6f9943;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    color: #6f9943;
}

.selectBox-options .selectBox-optgroup {
    color: #878a8d;
    background: #EEE;
    line-height: 1.2;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}