/* about */

.content h1{
	margin-top: -7px;
}
p.item-p-align span{
	font-weight: bold;
	display: block;
	clear: both;
	margin-top: -5px;
}
.simply-text-item img{
	margin: 8px 0 14px 28px;
}
.simply-text-item img.item-img-first {
	margin-left: 0;
}
.text-initem-title{
	display: block;
	margin: 25px 0 0 0;
}
.text-item-title{
	margin-bottom: 0;
}
.about-info{
	padding-bottom: 0;
}
.about-info ul{
	margin: 21px 0 28px 30px;
}
.about-info p span{
	font-weight: bold;
}
.text-item-regards p{
	font-size: 16px;
}
.text-item-regards p:first-child span{
	color: #be1e2d;
	font-weight: bold;
	font-size: 18px;
}
.text-item-regards p span{
	color: #2e3237;
	font-weight: bold;
}


/* contacts */

.content{
	font-size: 14px;
}
.content h1{
	margin-top: -7px;
}
.contacts-worktime{
	margin: -2px 0 0 0;
}
.text-initem-title{
	margin: 27px 0 10px 0;
	display: block;
}
.contacts-phones{
	clear: both;
	overflow: hidden;
}
.contacts-phones .text-initem-title{
	margin-top: 30px;
}
.contacts-phones div{
	float: left;
	width: 250px;
	margin-right: 110px;
}
.contacts-phone-elem{
	color: #be1e2d;
	font-size: 21px;
	font-weight: bold;
}
.contacts-phones div span{
	display: block;
	line-height: 1.1;
}
.contacts-email{
	overflow: hidden;
	padding-bottom: 1px;
}
.contacts-email div{
	float: left;
	width: 250px;
	margin-right: 110px;
}
.contacts-email p a{
	margin: 12px 0 0 0;
	text-decoration: underline;
	color: #be1e2d;
}
.contacts-address{
	clear: both;
}

.contacts-map{
	background: url(../img/contacts-map_shape.png) 0 0 no-repeat;
	width: 732px;
	height: 407px;
	margin-top: 17px;
	overflow: hidden;
	clear: both;
}
.contacts-map div{
	/*padding: 15px 0 0 6px;*/
	margin: 15px 0 0 6px;
	width: 720px;
	height: 380px;
	overflow: hidden;
	border-radius: 13px;
}
.text-item-title{
	margin-bottom: 1px;
}
.contacts-office-item{
	background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
	padding-top: 25px;
	margin-top: 25px;
}
.contacts-office-item .text-initem-title{
	margin-top: 23px;
}


/* delivery-payment */

.content h1{
	margin-top: -7px;
}

.delivery-info img{
	margin: 13px 33px 0 0;
	float: left;
}
.delivery-info p.item-p-align{
	margin-top: 27px;
}

.delivery-volgograd .text-item-title,
.delivery-regions .text-item-title{
	margin-bottom: 17px;
}


.content .catalogue-list-name h1 {
	color: #4c4c4c;
}

/*  */