body {
    height: 101%;
}

.white {
    color: white;
}

.main-container {
    width: 1004px;
    margin: 0 auto;
    position: relative;
    clear: left;
}

/* Green prepage line */

#green-line {
    background: #8ac33e;
    background: -moz-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac33e), color-stop(100%,#598527));
    background: -webkit-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -o-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -ms-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: linear-gradient(to bottom, #8ac33e 0%,#598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac33e', endColorstr='#598527',GradientType=0 );
}

#green-line > .inner {
    min-height: 5px;
    height: 5px;
    background: url(../img/wave.png) top center repeat;
}

/* Green header */

#green-header {

}

#green-header > .inner {
    min-height: 151px;
    height: 151px;
}

#green-header #header-logo {
    position: absolute;
    top: 24px;
    left: 0;
}



#green-header #header-search-info {
    margin: 0 200px 0 290px;
}


#green-header #header-search-info > .info {
    position: relative;
}



#green-header #header-search-info > .search-form {
    
}


#green-header #header-phones {
    position: absolute;
    top: 19px;
    right: 0;
    width: 171px;
    color: #4d4d4d;
}

#green-header #header-phones > ul > li {
    margin: 0 0 7px;
}

#green-header #header-phones > ul > li > span {
    display: block;
}

#green-header #header-phones > ul > li > span.ph {
    font-size: 27px;
    font-family: 'MyriadProBoldCondensed'; 
}

#green-header #header-phones > ul > li > span.tm {
    color: #5b9c04;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#green-header #header-phones > ul > li > span.txt {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
}

#green-header #header-phones > ul > li > span.txt > span {
    color: #5b9c04;
}

#green-header #header-phones > ul > li.last {
    
}

#green-header #header-phones > ul > li.last > a {
    color: #5b9c04;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}




/* Green navigation */

#green-navigation {
    background: #72a81c;
    background: -moz-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72a81c), color-stop(100%,#5d9514));
    background: -webkit-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: -o-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: -ms-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: linear-gradient(to bottom, #72a81c 0%,#5d9514 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a81c', endColorstr='#5d9514',GradientType=0 );
}

#green-navigation > .inner {
    background: url(../img/wave.png) top center repeat;
    min-height: 52px;
    height: 52px;
}





/* Green splash slider */

#green-splash-slider {

}

#green-splash-slider > .inner {
    min-height: 421px;
    height: 421px;
}

/* Green big pills */

#green-big-pills {
    background: #689f01;
    background: -moz-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689f01), color-stop(100%,#548b01));
    background: -webkit-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: -o-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: -ms-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: linear-gradient(to bottom, #689f01 0%,#548b01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689f01', endColorstr='#548b01',GradientType=0 );
}

#green-big-pills > .inner {
    background: url(../img/wave.png) top center repeat;
    min-height: 119px;
    height: 119px;
}

#green-big-pills > .inner ul {

}

#green-big-pills > .inner ul > li {
    float: left;
    padding: 30px 0 27px;
    margin-right: 48px;
    background: url(../img/green-big-pills-delim.png) center right no-repeat;
}

#green-big-pills > .inner ul > li.last-item {
    margin-right: 0px;
    background: none;
}

#green-big-pills > .inner ul > li > a {
    display: block;
    text-decoration: none;
    float: left;
    height: 62px; 
}

#green-big-pills > .inner ul > li:hover > a {

}

#green-big-pills > .inner ul > li#green-big-pills-trust > a {
    width: 308px;
    background: url(../img/green-big-pills-trust.png) -4px center no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-trust > a > span {
    padding: 2px 54px 0;
}

#green-big-pills > .inner ul > li#green-big-pills-sales > a {
    width: 327px;
    background: url(../img/green-big-pills-sales.png) -4px center no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-sales > a > span {
    padding: 2px 58px 0;
}

#green-big-pills > .inner ul > li#green-big-pills-quant > a {
    width: 273px;
    background: url(../img/green-big-pills-quant.png) -5px top no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-quant > a > span {
    padding: 2px 10px 0 58px;
}

#green-big-pills > .inner ul > li > a > span {
    font-family: 'PT Sans'; 
    font-size: 13px;
    color: #dbf3a8;
    display: block;
}

#green-big-pills > .inner ul > li > a > span.title {
    font-family: 'MyriadProBoldCondensed'; 
    font-size: 20px;
    color: #edef52;
    text-transform: uppercase;
}




/* Green content */

#mc {
    width: 100%;
}

#green-content .main-main {
    margin: 28px 0 0;
}

#green-content .main-main .clr {
    height: 22px;
}

#green-content .main-main .cat-group h1 {
    margin: 0 0 20px;
}

/* green prefooter */

#green-prefooter {
    background: #f6f6f6;
}

#green-prefooter > .inner {
    font-size: 14px;
    color: #2e3237;
    padding: 50px 0;
    background: url(../img/wave.png) top center repeat;
}

#green-prefooter .footer-more-notice div {
    margin: 0px;
}

#green-prefooter .footer-more-notice > div > img {
    float: left;
    margin: 0 25px 25px 0;;
}

#green-prefooter .footer-more-notice h2 {
    color: #2e3237;
    font-size: 27px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 10px 0;
}




/* Green footer */

#green-footer {
    background: #8ac33e;
    background: -moz-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac33e), color-stop(100%,#598527));
    background: -webkit-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -o-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -ms-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: linear-gradient(to bottom, #8ac33e 0%,#598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac33e', endColorstr='#598527',GradientType=0 );
}

#green-footer > .inner {
    height: 165px;
    position: relative;
    padding: 40px 0;
    font-size: 11px;
    background: url(../img/wave.png) top center repeat;
}

#green-footer > .inner .col {
    border-left: 1px #89b152 dashed;
    float: left;
    line-height: 1.3;
}

#green-footer #copyrights {
    width: 25%;
    border-left: none;
    padding-left: 0;
}

#green-footer p {
    margin-top: 20px;
    line-height: 1.4;
}