
.main-container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    clear: left;
}
/* Green prepage line */

#green-line {
    background: #8ac33e;
    background: -moz-linear-gradient(top, #8ac33e 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac33e), color-stop(100%,#598527));
    background: -webkit-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -o-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: -ms-linear-gradient(top, #8ac33e 0%,#598527 100%);
    background: linear-gradient(to bottom, #8ac33e 0%,#598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac33e', endColorstr='#598527',GradientType=0 );
    min-width: 1010px;
}

#green-line > .inner {
    min-height: 5px;
    height: 5px;
    background: url(../img/wave.png) top center repeat;
}



/* Green header */

#green-header {
    min-width: 1010px;
}

#green-header > .inner {
    min-height: 151px;
    height: 151px;
}

#green-header #header-logo {
    position: absolute;
    top: 24px;
    left: 0;
}










#geolocation {
    position: absolute;
    top: 12px;
    left: 130px;
    z-index: 3;
    color: #ffffff;
    font-size: 12px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

#geolocation ul {
    position: relative;
    display: block;
}

#geolocation li.link {
    position: absolute!important;
    text-align: center!important;
    top: 5px!important;
    left: 0!important;
    padding: 3px 0 1px;
    background-image: url('../img/regreg.png')!important;
    background-repeat: no-repeat!important;
    background-position: top right!important;
    height: 36px!important;
    width: 133px!important;
}

#geolocation li.link>a, 
#geolocation  .dd-selected{
    display: inline!important;
    padding: 0!important;
    text-decoration: none!important;
    white-space: nowrap!important;
    color: #ffffff!important;
}

#geolocation li.link>a>span,
#geolocation  .dd-selected{
    border-bottom: 1px #ffffff dashed!important;
}

#geolocation {
    display: none;
}

#geolocation_result {
    border: 0px !important;
    width: auto !important; 
}

#geolocation .dd-selected-description-truncated {
    display: none;
}

#geolocation .dd-option-description.dd-desc {
    display: none;
}

#geolocation  .dd-select {
    border: none!important;
    position: absolute!important;
    text-align: center!important;
    top: 5px!important;
    left: 0!important;
    padding: 3px 0 1px;
    background-color: transparent!important;
    background-image: url('../img/regreg.png')!important;
    background-repeat: no-repeat!important;
    background-position: top right!important;
    height: 36px!important;
    width: 133px!important;
    border: 0px !important;
}

#geolocation .dd-pointer.dd-pointer-down {
    top: 10px;
}

#geolocation .dd-options.dd-click-off-close {
    border: 0px !important;
    top: 40px;
    position: absolute;
    width: 133px !important;
    padding: 10px 0;
    display: none;
    z-index: 100;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    background: #8ac43e;
}

#geolocation .dd-option {
    padding: 0px 10px;
    margin: 0 0 1px;
    display: block;
    border-bottom: solid 0px #ddd;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
}

#geolocation .dd-option:hover {
    background: #6ba11a;
    cursor: pointer!important;
}

#geolocation .dd-option:hover * {
    cursor: pointer!important;
}


#geolocation .dd-option-selected {
    background: #6ba11a;
}


#geolocation .dd-pointer {
    display: none!important;
}














#green-header #header-search-info {
    margin: 0 200px 0 290px;
    /*margin: 0 330px 0 430px;*/
}

#green-header #header-search-info > .info {
    padding: 1px;
}

#green-header #header-search-info > .info > div {
    /*min-height: 83px;    */
}

#green-header #header-search-info > .info > .nfo {
    float: left;
    width: 253px;
    color: #549300;
    padding-top: 20px;
}

#green-header #header-search-info > .info > .nfo > ul {
    padding-left: 18px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
}

#green-header #header-search-info > .info > .nfo .ttl {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}


#green-header #header-search-info > .info > .basket {
    position: relative;
    left: 50px;
    margin: 0 auto;
    width: 200px;
    color: #4a4a4a;
    padding-top: 18px;
}

#green-header #header-search-info > .info > .basket > ul {
    background: url(../img/green-big-basket.png) top left no-repeat;
    padding-left: 60px;
    padding-bottom: 10px;
}

#green-header #header-search-info > .info > .basket .ttl {
    font-family: 'MyriadPro'; 
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}


#green-header #header-search-info > .info > .basket  .ttl a {
    color: #4a4a4a;
    text-decoration: none;
}


#green-header #header-search-info > .info > .basket .ttl a span {
    text-decoration: underline;
}

/*
#green-header #header-search-info > .info > .basket .ttl a span#basket-summ-products {
    text-decoration: none;
    background: url(../img/bsq.png) left 1px no-repeat;
    color: #feff96;
    padding: 3px 11px;
    text-align: center;
}
*/

/* Small cart */

#green-header > .inner #small-cart a {
    display: block;
    padding: 0 0 5px 0;
    float: left;
    color: #4a4a4a;
    font-family: "PTSans", sans-serif;
    text-decoration: none;
    /* background: url(../img/cart-sprite.png) 0 -48px no-repeat; */
    background: url(../img/cart-sprite.png) 0 -96px no-repeat;
    padding-left: 60px;
} 


#green-header > .inner #small-cart a.inactive {
    background: url(../img/cart-sprite.png) 0 0 no-repeat;
    /* background: url(../img/cart-sprite.png) 0 -144px no-repeat; */
} 

#green-header > .inner #small-cart a:hover {
    background: url(../img/cart-sprite.png) 0 -96px no-repeat;
} 

#green-header > .inner #small-cart a:hover.inactive {
    background: url(../img/cart-sprite.png) 0 0 no-repeat;
    /* background: url(../img/cart-sprite.png) 0 -144px no-repeat; */
} 

#green-header > .inner #small-cart span.link {
    text-decoration: underline;
} 

#green-header > .inner #small-cart a:hover span.link{
    text-decoration: none;
} 


#green-header > .inner #header-search-info .basket .badge {
    display: inline-block;
    padding: 4px 11px 4px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #feff96;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    background: #7eb62f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlYjYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWM0M2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #7eb62f 0%, #8ac43e 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7eb62f), color-stop(100%,#8ac43e));
    background: -webkit-linear-gradient(left,  #7eb62f 0%,#8ac43e 100%);
    background: -o-linear-gradient(left,  #7eb62f 0%,#8ac43e 100%);
    background: -ms-linear-gradient(left,  #7eb62f 0%,#8ac43e 100%);
    background: linear-gradient(to right,  #7eb62f 0%,#8ac43e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb62f', endColorstr='#8ac43e',GradientType=1 );
}

#green-header #header-search-info > .info > .basket span#basket-summ-price {
    font-family: "PT Sans", sans-serif;
    color: #7eb62f;
    font-weight: bold;
}







#green-header #header-search-info > .search-form {
    margin-top:65px;
}

#green-header #header-search-info > .search-form > form {
    width: 750px;
}

#green-header #header-search-info > .search-form > form > div {
    background: url(../img/searchform_w.png) top left no-repeat;
    /*background-size: 100% 44px;*/
    position: relative;
    height: 44px;
}


#green-header #header-search-info > .search-form > form > div input.placeholder,
#green-header #header-search-info > .search-form > form > div input:focus.placeholder {
    /*width: 420px;*/
    width: 640px;
    position: absolute;
    top: 9px;
    left: 35px;
    border: none;
    color: #8e9296;
    outline: none;
    font-family: 'PT Sans'; 
    font-size: 14px;
}

#green-header #header-search-info > .search-form > form > div input.header-search-btn,
#green-header #header-search-info > .search-form > form > div input:focus.header-search-btn {
    width: 21px;
    height: 21px;
    background: url(../img/zoomm.png) top left no-repeat;
    position: absolute;
    top: 12px;
    outline: none;
    right: 18px;
    border: none;
    cursor: pointer;
}


#green-header #header-phones {
    position: absolute;
    top: 12px;
    right: 0px;
    width: 171px;
    color: #4d4d4d;
}

#green-header #header-phones > ul > li {
    margin: 0 0 7px;
}

#green-header #header-phones > ul > li > span {
    display: block;
}

#green-header #header-phones > ul > li > span.ph {
    font-size: 27px;
    font-family: 'MyriadProBoldCondensed'; 
}

#green-header #header-phones > ul > li > span.tm {
    color: #5b9c04;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#green-header #header-phones > ul > li > span.txt {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
}

#green-header #header-phones > ul > li > span.txt > span {
    color: #5b9c04;
}

#green-header #header-phones > ul > li.last {

}

#green-header #header-phones > ul > li.last > a {
    color: #5b9c04;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}


#green-header .hearts .favorites-heart.big {
    position: absolute;
    right: 50px;
    top: 23px;
}
/* Green navigation */

#green-navigation {
    background: #72a81c;
    background: -moz-linear-gradient(top, #72a81c 0%, #5d9514 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72a81c), color-stop(100%,#5d9514));
    background: -webkit-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: -o-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: -ms-linear-gradient(top, #72a81c 0%,#5d9514 100%);
    background: linear-gradient(to bottom, #72a81c 0%,#5d9514 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a81c', endColorstr='#5d9514',GradientType=0 );
    min-width: 1010px;
}

#green-navigation > .inner {
    background: url(../img/wave.png) top center repeat;
    min-height: 52px;
    height: 52px;
}

#green-navigation > .inner ul.main-menu-list {
    padding-left: 5px;
    margin-top: 2px;
}

#green-navigation > .inner ul.main-menu-list > li {
    float: left;
    position: relative;
    padding: 16px;
    padding-right: 21px;
    background: url(../img/mmd.png) center right no-repeat;
}

#green-navigation > .inner ul.main-menu-list > li.first {
    padding-left: 0;
}

#green-navigation > .inner ul.main-menu-list > li.last {
    padding-right: 25px;
    background: url(../img/mmr.png) center right no-repeat;
}


#green-navigation > .inner ul.main-menu-list > li.last ul {
    top: 70px;
    right: -25px;
    padding: 20px 20px 10px 30px;
    font-family: 'PT Sans'; 
    font-size: 13px;
    width: 158px;
    font-weight: bold;
    z-index: 15;
}

#green-navigation > .inner ul.main-menu-list > li.last ul > li {
    padding-bottom: 10px;
}

#green-navigation > .inner ul.main-menu-list > li > a {
    font-family: 'MyriadProBoldCondensed'; 
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;

}


#green-navigation > .inner ul.main-menu-list > li > a:hover {
    color: #edef52;
    text-decoration: none;

}




.dynamic-item-info > .dynamic-item-price {
    color: #549300;
    font-size: 47px;
    font-family: "m_Brody";
    float: left;
    margin: 15px 0 0 0;
}



/* Green big pills */

#green-big-pills {
    background: #689f01;
    background: -moz-linear-gradient(top, #689f01 0%, #548b01 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689f01), color-stop(100%,#548b01));
    background: -webkit-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: -o-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: -ms-linear-gradient(top, #689f01 0%,#548b01 100%);
    background: linear-gradient(to bottom, #689f01 0%,#548b01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689f01', endColorstr='#548b01',GradientType=0 );
}

#green-big-pills > .inner {
    background: url(../img/wave.png) top center repeat;
    min-height: 119px;
    height: 119px;
}

#green-big-pills > .inner ul {
    text-align: center;
}

#green-big-pills > .inner ul > li {
    /*float: left;*/
    width:29%;
    display:inline-block;
    vertical-align:top;
    text-align: left;
    padding: 30px 0 27px;
    margin-right: 48px;
    background: url(../img/green-big-pills-delim.png) center right no-repeat;
}

#green-big-pills > .inner ul > li.last-item {
    margin-right: 0px;
    background: none;
}

#green-big-pills > .inner ul > li > a,
#green-big-pills > .inner ul > li > span {
    display: block;
    text-decoration: none;
    float: left;
    height: 62px; 
}

#green-big-pills > .inner ul > li:hover > a,
#green-big-pills > .inner ul > li:hover > span {

}

#green-big-pills > .inner ul > li#green-big-pills-trust > a, 
#green-big-pills > .inner ul > li#green-big-pills-trust > span {
    /*width: 308px;*/
    background: url(../img/green-big-pills-trust.png) -4px center no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-trust > a > span,
#green-big-pills > .inner ul > li#green-big-pills-trust > span > span {
    padding: 2px 54px 0;
}

#green-big-pills > .inner ul > li#green-big-pills-sales > a,
#green-big-pills > .inner ul > li#green-big-pills-sales > span {
    width: 327px;
    background: url(../img/green-big-pills-sales.png) -4px center no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-sales > a > span,
#green-big-pills > .inner ul > li#green-big-pills-sales > span > span {
    padding: 2px 58px 0;
}

#green-big-pills > .inner ul > li#green-big-pills-quant > a,
#green-big-pills > .inner ul > li#green-big-pills-quant > span {
    width: 273px;
    background: url(../img/green-big-pills-quant.png) -5px top no-repeat;
}

#green-big-pills > .inner ul > li#green-big-pills-quant > a > span,
#green-big-pills > .inner ul > li#green-big-pills-quant > span > span {
    padding: 2px 10px 0 58px;
}

#green-big-pills > .inner ul > li > a > span, 
#green-big-pills > .inner ul > li > span > span {
    font-family: 'PT Sans'; 
    font-size: 13px;
    color: #dbf3a8;
    display: block;
}

#green-big-pills > .inner ul > li > a > span.title,
#green-big-pills > .inner ul > li > span > span.title {
    font-family: 'MyriadProBoldCondensed'; 
    font-size: 20px;
    color: #edef52;
    text-transform: uppercase;
}










/* green prefooter */

#green-prefooter {
    background: #f6f6f6;
}

#green-prefooter > .inner {
    font-size: 14px;
    color: #2e3237;
    padding: 50px 0 0;
    background: url(../img/wave.png) top center repeat;
}

#green-prefooter .footer-more-notice div {
    margin: 0px;
}

#green-prefooter .footer-more-notice > div > img {
    float: left;
    margin: 0 25px 20px 0;;
}

#green-prefooter .footer-more-notice h2 {
    color: #2e3237;
    font-size: 27px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 10px 0;
}



/* Green footer */

.footer {
    background-image: none;
    background: #629a10;
    background: -moz-linear-gradient(top, #629a10 0%, #598527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#629a10), color-stop(100%,#598527));
    background: -webkit-linear-gradient(top, #629a10 0%,#598527 100%);
    background: -o-linear-gradient(top, #629a10 0%,#598527 100%);
    background: -ms-linear-gradient(top, #629a10 0%,#598527 100%);
    background: linear-gradient(to bottom, #629a10 0%,#598527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#629a10', endColorstr='#598527',GradientType=0 );
    position: relative;
    bottom: 0;
    height: 267px;
    color: #ffffff;
    font-size: 12px;
}


.footer > .inner {
    background: url(../img/wave.png) top center repeat;
    width: auto;
    height: 267px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.footer > .inner .footer-item {
    border-left: 1px #89b152 dashed;
    padding: 0;
}

.footer > .inner .footer-item a {
    color: #ffffff;
}

.footer > .inner .footer-item a:hover {
    color: #fff799;
}

.footer > .inner .footer-item.footer-important-info {
    font-family: "Myriad Pro", sans-serif;
    width: 230px;
    padding-right: 60px;
    border: none;
}

.footer > .inner .footer-item.footer-important-info a {
    color: #fff799;
}


.footer > .inner .footer-item.footer-important-info a:hover {
    color: #ffffff;
}

.footer > .inner .footer-item.footer-menu {
    width: 130px;
    padding: 0 40px 0 50px;
}

.footer > .inner .footer-menu-title {
    font-family: "PT Sans Bold", sans-serif;
    font-size: 15px;
}

.footer > .inner .footer-item.footer-info {
    /*width: 430px;*/
    padding: 0 0 0 50px;
}



/* 
 *  Splash slider
 *  ----------------------------------------------------------------------------
 */
#theme-splash-slider {
    overflow: hidden;
}

#theme-splash-slider>.inner {
    margin: 6px 0;
}

#theme-splash-slider>.inner>.container {
    height: 410px;
}

#theme-splash-countour {
    background: url(../gfx/splash-countour.png) 0 0 no-repeat;
    height: 378px;
    width: 478px;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 8;
}

#splash-container {
    margin: 20px auto;
    position: relative;
    zoom: 1;
}

#splash-container .item {
    display: none;
}

#splash-container .item.active {
    display: block;
}

#splash-container .inner {
    position: relative;
    height: 350px;
}

#splash-container .poster {
    position: absolute;
    z-index: 7;
    top: 25px;
    right: 110px;
}

#splash-container .poster img {
    width: 334px;
    height: 300px;
}

#splash-container .item-info {
    height: 320px;
    margin-right: 490px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

#splash-container .item-info a {
    color: #2e3237;
    font-size: 47px;
    font-family: "MBrody";
    line-height: 0.9;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    margin-bottom: 40px;
}

#splash-container .item-info a:hover {
    color: #5b8828;
}

#splash-container .inner p {
    color: #2e3237;
    margin: 14px 0 0 0;
    line-height: 1.2;
}

#splash-container .item-info .item-price {
    color: #549300;
    font-size: 47px;
    font-family: "MBrody";
    float: left;
    margin: 15px 0 0 0;
}

#splash-container .item-price span {
    color: #2e3237;
    font-size: 36px;
}

#splash-container .item-buy {

}

#splash-container .item-info a {
    text-decoration: none;
}

#splash-container .splash-cost {
    padding: 15px 0 0;
    width: 100%;
}

#splash-container .slider .buy {
    background: url('../gfx/splash-buy.png');
    float: right;
    width: 137px;
    height: 35px;
}

#splash-container .pagination {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 8;
}

#splash-container .pagination>.inner {
    position: relative;
    width: 900px;
    height: 36px;
}

.pagination .prev {
    background: url(../gfx/splash-arrows.png) 0 0 no-repeat;
    width: 27px;
    height: 36px;
    float: left;
}

.pagination a:hover.prev {
    background: url(../gfx/splash-arrows.png) 0 -37px no-repeat;
}

.pagination .next {
    background: url(../gfx/splash-arrows.png) 0 -74px no-repeat;
    width: 27px;
    height: 36px;
    float: right;
}

.pagination a:hover.next {
    background: url(../gfx/splash-arrows.png) 0 -111px no-repeat;
}

.pagination .before {
    position: absolute;
    z-index: 5;
    top: -100px;
    left: -225px;
}

.pagination .after {
    position: absolute;
    z-index: 5;
    top: -100px;
    right: -240px;
}

.pagination .before img,.pagination .after img {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    height: 200px;
}
