@font-face {
    font-family: 'PT Sans'; 
    src: url('../fonts/PTSansWeb/PTS55F_W.eot'); 
    src: local('PT Sans'), 
        url('../fonts/PTSansWeb/PTS55F_W.woff') format('woff'),
        url('../fonts/PTSansWeb/PTS55F_W.ttf') format('truetype'), 
        url('../fonts/PTSansWeb/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSansWeb/PTS75F_W.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Sans Bold'), 
        url('../fonts/PTSansWeb/PTS75F_W.woff') format('woff'),
        url('../fonts/PTSansWeb/PTS75F_W.ttf') format('truetype'), 
        url('../fonts/PTSansWeb/PTS75F_W.svg#PTSans-Bold') format('svg');
}


@font-face {
    font-family: 'MyriadPro'; 
    src: url('../fonts/MyriadPro-Regular.otf'); 
}
@font-face {
    font-family: 'MyriadProBold'; 
    src: url('../fonts/MyriadPro-Bold.otf'); 
}

@font-face {
    font-family: 'MyriadProBoldCondensed'; 
    src: url('../fonts/MyriadProBoldCondensed/MyriadProBoldCondensed.eot'); 
    src: local('MyriadProBoldCondensed'),
        url('../fonts/MyriadProBoldCondensed/MyriadProBoldCondensed.woff') format('woff'),
        url('../fonts/MyriadProBoldCondensed/MyriadProBoldCondensed.ttf') format('truetype'), 
        url('../fonts/MyriadProBoldCondensed/MyriadProBoldCondensed.svg#MyriadPro-BoldCond') format('svg');
}
@font-face {
    font-family: 'm_Brody';
    src: url('../fonts/m_Brody/m_Brody.eot');
    src: local('m_Brody'), 
        url('../fonts/m_Brody/m_Brody.eot?#iefix') format('embedded-opentype'),
        /*url('../fonts/m_Brody/m_Brody.woff') format('woff'),*/
        url('../fonts/m_Brody/m_Brody.ttf') format('truetype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#compensation table,
#compensation tr,
#compensation td{

    padding: 5px 0;
}

.content table,
.content tbody,
.content tr,
.content td
{
	border: 1px solid;
}
.journal-article table,
.journal-article tbody,
.journal-article tr,
.journal-article td
{
	border: 0;
}

.tbl table,
.tbl tbody,
.tbl tr,
.tbl td
{
	border: 1px solid;
}

html,body{
    font-family: 'PT Sans', sans-serif;
    /*height: 100%;*/
    /*width: 100%;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
}

/** GLOBAL
----------------------------------*/
h1{
    color: #5b8828;
    font-size: 45px;
    font-family: "m_Brody";
}
.journal-article h2 {
	color: #5B8828;
	font-size: 22px;
	font-weight: bold;
}
.journal-article h3 {
	color: #5b8828;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

a{
    outline: none;
}

.comp_ref {
    color: #be1e2d;
    font-weight: bold;
}

.simply-text-item{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    clear: both;
    color: #2e3237;
    overflow: hidden;
    font-size: 14px;
    padding: 25px 0 0;
}	
.simply-text-item a{
    color: #be1e2d;
    font-weight: bold;
}
.simply-text-item p{
    margin: 15px 0;
    font-family: "PT Sans";
    line-height: 1.22;
}
span.colored-elem-dark{
    color :#be1e2d;
    font-weight: bold;
}
span.colored-elem-red{
    color :#be1e2d;
    font-weight: bold;
}
.simply-text-item ul{
    margin: 14px 0 26px 30px;
    width: 550px;
}
.simply-text-item ul li{
    background: url(../img/wavy-line_green.png) 0 9px no-repeat;
    margin: 14px 0;
    padding-left: 20px;
}
.text-item-title{
    color: #5b8828;
    font-size: 26px;
    font-weight: bold;
    font-family: "PT Sans";
    display: block;
    margin-bottom: 27px;
}
.text-initem-title{
    color: #2e3237;
    font-size: 20px;
    font-family: "PT Sans";
    font-weight: bold;
}

.delivery-info,
.about-info{
    padding: 0 0 27px 0;
    background: 0;
}

.dialog{
    clear: both;
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    margin: 27px 0 30px 0;
    padding: 27px 0 0 3px;
}
.dialog-title,
.ask-question .title,
.ask-response .title,
.doctor-ask-title{
    color: #5b8828;
    font-size: 34px;
    font-family: "m_Brody";
}
.dialog-item{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    margin: 29px 0 0 0;
    padding: 28px 0 0 0;
}
.dialog-item.first{
    background: 0;
    padding: 0;
}
.dialog-item.reply{
    margin-top: 26px;
    background: 0;
    padding: 0;
}
.dialog-item .dialog-item-title{
    background: url(../img/dialog_sprite.png) 0 2px no-repeat;
    color: #be1e2d;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 32px;
}
.dialog-item.reply .dialog-item-title{
    background: url(../img/dialog_sprite.png) 0 -26px no-repeat;
    color: #5b8828;
    margin: 0 0 0 33px;
}
.dialog-item-title span{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}
.feed-page .dialog-item-title span {
	color: rgb(144, 146, 148);
	font-size: 11px;
	font-style: normal;
}
.feed-page .dialog-item .answer {
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
}
.feed-page .dialog-item .answer .caption {
    margin-top: 5px;
    color: rgb(190, 30, 45);
    font-weight: bold;
}
.feed-page .dialog-item .answer .body {
    margin-top: 5px;
}
.dialog-item p{
    font-size: 14px;
    margin: 10px 0 0 33px;
    line-height: 1.2;
}
.dialog-item p a{
    color: #5b8828;
    text-decoration: underline;
}
.dialog-item.reply p{
    color: #5b8828;
    margin: 10px 0 0 66px;
}

.textarea-tpl textarea{
    min-width: 970px;
    max-width: 970px;
    height: 140px;
}
.ask-question .form-tpl-urname{
    width: 966px;
}
.ask-question .title,
.ask-response .title{
    margin: 0 0 15px 0;
    display: block;
    clear: both;
}
.form-tpl-submit{
    float: right;
    margin: 20px 0 0 0;
}

.modal-call-feedback{
    background: url(../img/otzyvy.png) 0 0 no-repeat;
    width: 47px;
    height: 255px;
    position: fixed;
    top: 290px;
    left: 0;
	z-index: 9;
}

#filter-form {
	background: #f9f9f9;
	padding: 12px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.modal-bg-overlay{
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    opacity: 0.851;
    z-index: 100;
}
.modal-call-feedback a{
    display: block;
    height: 100%;
    width: 100%;
}

.favorites-heart{
	width: 25px;
	height: 25px;
	background: url("../img/heart.png") center no-repeat;
	cursor: pointer;
}
.favorites-heart.big{
	width: 35px;
	height: 35px;
	background: url("../img/heart_big.png") center no-repeat;
}
.favorites-heart.empty{
	background: url("../img/heart_empty.png") center no-repeat;
}
.favorites-heart.big.empty{
	background: url("../img/heart_big_empty.png") center no-repeat;
}
.favorites-heart .heart-popup-right,
.favorites-heart .heart-popup-left{
	display: none;
}
.favorites-heart:hover .heart-popup-right,
.favorites-heart:hover .heart-popup-left{
	display: block;
	position: absolute;
	top: -21px;
	background: #da2133;
	border-radius: 10px;
	padding: 4px 10px;
	color: white;
	font-size: 80%;
}
.favorites-heart:hover .heart-popup-left{
right: -10px;
}
.favorites-heart:hover .heart-popup-right:after{
	content: '';
	display: block;
	width: 15px;
	height: 10px;
	position: absolute;
	left: 35px;
	bottom: -10px;
	background:  url("../img/heart_popup.png") center right no-repeat;
}
.favorites-heart:hover .heart-popup-left:after{
	content: '';
	display: block;
	width: 15px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: -10px;
	background:  url("../img/heart_popup.png") center left no-repeat;
}
/** Header
----------------------------------*/
.header{
    /* background: url(../img/header_bg.png) 0 0 repeat-x; */
    height: 224px;
    /* min-width: 100%; */
    width: 1004px;
}

.header-info,
.header-main{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-info{
    height: 58px;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}
.header-info ul{
    padding-top: 12px;
    clear: both;
}
.header-info ul li{
    background: url(../img/header-info_separator.png) 0 0 no-repeat;
    float: left;
    padding: 0 51px;
}
.header-info ul li div{
    float: left;
}
.header-info ul li .header-info-wrap{
    float: none;
    margin: 0 auto;
}
.header-info ul li.header-phone-first span.header-info-ico,
.header-info ul li.header-phone-second span.header-info-ico,
.header-info ul li.header-delivery span.header-info-ico,
.header-info ul li.header-callback span.header-info-ico
{
    float: left;
    height: 22px;
    margin: 2px 5px 0 0;
}
.header-info ul li.header-phone-first span.header-info-ico{
    background: url(../img/header_sprite.png) 0 0 no-repeat;
    width: 27px;
}
.header-info ul li.header-phone-second span.header-info-ico{
    background: url(../img/header_sprite.png) -27px 0 no-repeat;
    width: 16px;
}
.header-info ul li.header-delivery span.header-info-ico{
    background: url(../img/header_sprite.png) -43px 0 no-repeat;
    width: 27px;
    margin: 2px 9px 0 0;
}
.header-info ul li.header-callback span.header-info-ico{
    background: url(../img/header_sprite.png) -70px 0 no-repeat;
    width: 22px;
    margin: 4px 7px 0 0;
}
.header-info ul li.header-callback{
    margin-top: -2px;
    padding: 0 0 0 49px;
}
.header-info ul li.header-callback div div{
    white-space: nowrap;
}

.header-info ul li:first-child{
    background: none;
    padding-left: 0;
}
.header-info ul li span{
    font-size: 13px;
    font-weight: bold;
}
ul li.header-info-phone{
    font-family: 'MyriadProBoldCondensed';
    font-size: 25px;
}
ul li.header-info-phone div span{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin: 0 0 0 9px;
}
.header-info ul li a{
    color:#ffa63d;
    font-weight: bold;
    line-height: 1.2;
}

.header-main{
    height: 166px;
    position: relative;
}

li.header-more-menu{
    position: relative;
}
li.header-more-menu ul{
    position: absolute;
    top: 41px;
    right: -14px;
    width: 212px;
    padding: 10px 0 15px 0;
    display: none;
    z-index: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
   background: #6ba11a;
}
.more-menu-t{
    background: url(../img/header-more-menu_sprite.png) 0 0 no-repeat;
width: 212px;
position: absolute;
right: -166px;
top: -12px;
height: 31px;
}
.more-menu-d{
    background: url(../img/header-more-menu_sprite.png) 0 100% no-repeat;
    width: 212px;
    position: absolute;
    right: 0;
}

.catalogue-item-mark.hit-sales {
 background: url(../img/hit.png) no-repeat;
}

.header-main-menu ul li.header-more-menu ul li{
    float: none;
    text-align: left;
    margin-left: 35px;
    line-height: 1.7;
}
ul li.header-more-menu ul li span a{
    color: #fff;
}
ul li.header-more-menu ul li span a:hover{
    color: #fff200;
    text-decoration: none;
}

.hader-logo{
    position: absolute;
    top: 27px;
    left: 20px;
}
.header-city{
    background: url(../img/city_sprite.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    right: 10px;
    float: left;
}
.header-city span{
    background: url(../img/city_sprite.png) 100% -55px no-repeat;
    height: 35px;
    text-align: center;
    float: left;
    margin-right: -10px;
    padding: 0 17px 0;
    min-width: 50px;
    max-width: 115px;
}
.header-city span a{
    color: #fff;
    font-size: 10px;
    padding: 4px 0 0;
    display: block;
}
.header-main-search{
    width: 765px;
    padding-top: 24px;
    margin-left: 255px;
}
.header-main-search div{
    clear: right;
    height: 53px;
    margin-left: 30px;
    position: relative;
}
.header-main-search input.header-search-area{
    background: url(../img/header-search_sprite.png) 0 0 no-repeat;
    border: 0;
    height: 15px;
    width: 611px;
    float: left;
    outline: 0;
    padding: 19px 0 19px 32px;
    color: #8e9296;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
}
.header-main-search input.header-search-btn{
    background: url(../img/header-search_sprite.png) 0 -53px no-repeat;
    height: 53px;
    width: 92px;
    position: absolute;
    top: -2px;
    right: 0;
    padding: 0;
    margin: 0;
    border:0;
    outline: 0;
    cursor: pointer;
}
.header-main-search .main-search-tipplace{
    color: #8e9296;
    font-size: 11px;
    height: auto;
    margin: 6px 0 0 61px;
    clear: both;
    float: left;
}
.header-main-search span{
    margin: 0 5px 0 0;
}
.header-main-search span span{
    color: #75a934;
    text-decoration: underline;
}

.header-cart-wrap{
    background: url(../img/header-cart_ico.png) 0 0 no-repeat;
    position: absolute;
    right: 17px;
    top: 28px;
}
.header-cart-wrap a{
    text-decoration: none;
    position: relative;
    z-index: 0;
}
.header-cart{
    height: 47px;
    padding-left: 67px;
    color: #2e3237;
    font-size: 13px;
}
.header-cart span.header-cart-title{
    font-weight: bold;
    color: #2e3237;
}
.header-cart span{
    color: #598527;
    font-weight: bold;
    line-height: 1.3;
}
.header-cart-wrap a.header-cart-order{
    color: #be1e2d;
    font-weight: bold;
    font-size: 12px;
    /*float: right;*/
    position: relative;
    top: -17px;
    left: 67px;
    z-index: 1;
}

.header-main-menu{
    bottom: 0;
    margin-top: 19px;
    float: right;
}
.header-main-menu ul{
    float: left;
    width: auto;
    padding-left: 240px;
}
.header-main-menu ul li{
    margin-left: 60px;
    float: left;
}
.header-main-menu ul li .btn-tpl.added-align{
    margin-left: -29px;
}
.header-main-menu ul li:first-child{
    margin-left: 0;
}
.header-main-menu ul li a{
    color: #2e3237;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}
.header-main-menu ul li .btn-tpl{
    margin-top: -2px;
}
.header-main-menu ul li .btn-tpl span a{
    color: #fff;
    text-decoration: none;
    line-height: 1.4;
}
.header-main-menu ul li a:hover{
    color: #7f8994;
    text-decoration: none;
}


.journal-item{
    background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
    clear: both;
    /*overflow: hidden;*/
    float: left;
    margin: 18px 0 0 0;
    padding: 0 0 11px 0;
}
.journal-item.article{
    margin: 27px 0 0 0;
    padding: 0 0 28px 0;
    /*overflow: hidden;*/
}
.journal-item img{
    float: left;
    width: 220px;
    height: 180px;
}
.g-img-cont{
    height: auto;
}
.g-img-cont.active{
    background: url(../img/over_item_big.png) 0 1px no-repeat;
    border-radius: 5px;
    margin: 6px -20px -20px -14px;
    width: 256px;
    height: 171px;
}
.journal-item.article .g-img-cont.active img{
    /*width: 138px;*/
    box-shadow: none;
    margin: 14px 0 0 14px;
    border-radius: 2px;
}
.journal-item .active .footer-more-imgmark{
    bottom: 30px;
    left: 14px;
}
.journal-item.article img{
    width: 222px;
    height: 137px;
    float: left;
    clear: left;
    margin: 20px 0 0 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 4px 20px -3px #d6d6d6;
    -moz-box-shadow: 5px 4px 20px -3px #d6d6d6;
    box-shadow: 5px 4px 20px -3px #d6d6d6;
}
.joournal-item-info{
    margin: 0 0 0 33px;
    float: left;
    width: 740px;
}
.journal-item.article .joournal-item-info{
    margin: 0 0 0 30px;
}
.journal-item-title a{
    color: #2e3237;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    clear: right;
    margin: 14px 0 0 0;
}
.first .journal-item-title a{
    margin: 20px 0 0 0;
}
.item-breadcrumbs a{
    color: #2e3237;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
.item-breadcrumbs a:hover,
.journal-item-title a:hover{
    color: #be1e2d;
    text-decoration: none;
}
.breadcrumbs-title{
    margin: 0 0 0 14px;
    float: left;
    clear: right;
}
.breadcrumbs-b{
    background: url(../img/ico_article.png) 100% -24px no-repeat;
    padding: 0 14px 0 0;
    float: left;
}
.breadcrumbs-b a{
    color: #70777e;
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}
.item-breadcrumbs.active .breadcrumbs-title a{
    color: #be1e2d;
    text-decoration: none;
}
.journal-item p{
    color: #2e3237;
    font-size: 14px;
    clear: right;
    margin: 10px 0 0 0;
    line-height: 1.2;
}
.journal-item.article p{
    margin: 17px 0 20px 0;
}

.article-ico.big.author{
    background: url(../img/ico_article_big.png) 0 1px no-repeat;
    position: relative;
}
.article-ico.big.comments{
    background: url(../img/ico_article_big.png) 0 -56px no-repeat;
}
.article-ico.big.author.female{
    background: url(../img/ico_article_big.png) 0 -28px no-repeat;
}
.article-ico.big span{
    margin: 0 0 0 25px;
    padding: 0 0 1px 0;
    display: block;
}
.article-ico.big span a{
    color: #777c81;
    font-size: 13px;
}
.article-ico.big span a:hover{
    color: #be1e2d;
    font-weight: bold;
    text-decoration: none;
}

.article-ico.big.author{
    margin: 0 0 6px 0;
}

.articles-list{
    display: block;
    margin: 20px 0 0 20px;
}

.articles-list-item{
    margin: 10px 0 10px 10px;
}

.articles-list-item a {
    color: rgb(190, 30, 45);
    font-weight: bold;
}


/** Main Container
----------------------------------*/
.main-cont{
    width: 1280px;
    padding: 0 20px;
    margin: 31px auto 0;
    /*overflow: hidden;*/
}
.content{
    margin-bottom: 35px;
    float: right;
width: 1000px;
}


#mc{
    margin-bottom: 35px;
    float: left;
    /*width: 993px;*/
}
/** Sidebar
----------------------------------*/
.main-sider{
    width: 239px;
    font-size: 14px;
    position: relative;
    float: left;
    z-index: 3;
    margin-bottom: 30px;
}
.main-sider ul{
    background: url(../img/catalogue-sidebar_bg.png) 0 0 repeat;
    border-radius: 25px;
    width: 239px;
    margin: 0 auto 10px;
    padding: 0 0 11px 0;
}
.main-sider ul li{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    font-weight: bold;
}
.main-sider ul li.catalogue-list-item.after-active{
    background: 0;
}
.main-sider ul li:first-child{
    background: 0;
/*	padding-top: 25px;
	margin-top: 0 !important; */
}
.main-sider ul li span{
    background: url(../img/catalogue-sidebar_arrow.png) 16px 51% no-repeat;
    /*height: 19px;*/
    padding: 12px 27px 12px 50px;
    display: block;
}

.main-sider ul li:hover span {
background: url(../img/right.png) 16px 51% no-repeat;
cursor: pointer;
}
.main-sider ul li.catalogue-list-item.active{
    background: 0;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
}
.main-sider ul li.catalogue-list-item.active span a{
    display: inline;
}

.main-sider ul li.catalogue-list-item.active span a:first-child:hover {
	color: #fffab9;
}
.catalogue-sidemenu-lvl2{
    display: none;
}
.main-sider ul li.active .catalogue-sidemenu-lvl2{
    display: block;
    padding-top: 10px;
}
.main-sider ul li.active span{
    background: url(../img/sidebar_bg.png);
    width: 162px;
    height: 43px;
    padding: 0px 27px 0 50px;
    display: table-cell;
    vertical-align: middle;
	border-radius: 10px;
        
        color: #fff;
        cursor: pointer;
}
.main-sider ul li span.main-slider-endlist{
    display: none;
}
.main-sider ul li.active span.main-slider-endlist{
    background: url(../img/catalogue-sidebar_sprite.png) 0 -232px no-repeat;
    width: 239px;
    height: 33px;
    padding: 0;
    display: block;
    position: absolute;
    bottom: -33px;
}
.main-sider ul li.active a{
    color: #fffab9;
}
.main-sider ul li.active ul{
    background: #fff;
    border-radius: 0;
    width: 176px;
    padding: 0 24px 5px 24px;
}
.main-sider ul li.active ul li{
    background: url(../img/catalogue-sidebar_sprite.png) -231px -78px no-repeat;
    padding: 7px 0 0 19px;
    font-size: 13px;
}
.main-sider ul li.active ul li:first-child{

}
.main-sider ul li.active ul li.similar-items{
    padding: 0;
    margin: 10px 0 0 0;
    background: 0;
}
.main-sider ul li.active ul li.similar-items.first{
    margin: 0;
}
.main-sider ul li.active ul li.similar-items ul{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    padding: 4px 0 0 0;
}
.main-sider ul li.active ul li.similar-items.first ul{
    background: 0;
    padding: 0;
}
.main-sider ul li.actives ul li span{
    background: url(../img/catalogue-sidebar_sprite.png) -231px -115px no-repeat;
    height: 25px;
    font-size: 13px;
    padding: 6px 0 0 20px;
    width: 149px;
}
ul.catalogue-sidemenu-lvl2 li ul li.active a{
    background: url(../img/catalogue-sidebar_sprite.png) -231px -121px no-repeat;
    /*height: 13px;*/
    font-size: 13px;
    padding: 0px 0 0 20px;
    width: 149px;
    display: block;
}
.catalogue-sidemenu-lvl2 li.similar-items.first ul li:first-child{
    padding-top: 0;
    background-position: -231px -89px;
    /*margin-top: -15px;*/
}
.main-sider ul li.active ul li a{
    color: #3c4044;
}
.main-sider ul li.active ul li.active{
    background: 0;
    padding: 7px 0 0 0;
}
.main-sider ul li.active ul li.similar-items ul li.active{
    margin-bottom: 0;
}
.main-sider ul li.active ul li.active a{
    color: #5f9a11;
    font-weight: bold;
}

a.vibor {
	background: url(../img/vibor.png) no-repeat;
	width: 133px;
	height: 28px;
	display: block;
	position: absolute;
	top: 35px;
	right: 0;
}

.main-sider ul li.active ul li.similar-items li.active ul{
    background: 0;
    margin: 6px 0 5px 45px;
    width: 156px;
    display: block;
}
.main-sider ul li.active ul li.similar-items li ul{
    display: none;
}
.main-sider ul li.active ul li.active ul li{
    background: 0;
    list-style: disc;
    font-size: 8px;
    color: #5b8828;
    padding: 0 35px 5px 0;
}
.main-sider ul li.active ul li.active ul li a{
    font-size: 12px;
    color: #5b8828;
    font-weight: normal;
    text-decoration: underline;
    background: 0;
    padding: 0;
    height: auto;
    line-height: 1.5;
}
.main-sider ul li.active ul li.active ul li strong {
    font-size: 12px;
}
.main-sider ul li.active ul li.active ul li a:hover{
    color: #385d0f;
    font-weight: bold;
    text-decoration: none;
}
.main-sider ul li.active span a:hover{
    color: #fffab9;
}
.main-sider ul li a{
    color: #2e3237;
    text-decoration: none;
    font-family: "PT Sans";
}
.main-sider ul li a:hover{
    color: #5b8828;
    text-decoration: none;
}
.main-sider ul li ul li{
    font-weight: normal;
}
.main-sider ul li ul li a:hover{
    color: #5b8828;
font-weight: bold;
}

.green-sidebar-block {
	background: #689f01;
	background: -moz-linear-gradient(top, #689f01 0%, #548b01 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689f01), color-stop(100%,#548b01));
	background: -webkit-linear-gradient(top, #689f01 0%,#548b01 100%);
	background: -o-linear-gradient(top, #689f01 0%,#548b01 100%);
	background: -ms-linear-gradient(top, #689f01 0%,#548b01 100%);
	background: linear-gradient(to bottom, #689f01 0%,#548b01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689f01', endColorstr='#548b01',GradientType=0 );

border-radius: 25px;
margin: 10px auto;
position:relative;
}
.green-sidebar-block-wrap{
	padding: 15px 15px 15px 10px;
	background: url(../img/wave.png) top center repeat;
}

.green-sidebar-block-wrap div{
/*padding-left: 60px;*/
background-position:left top;
background-repeat:no-repeat;
	padding-bottom: 20px;
	min-height: 55px;
	position: relative;
}
.green-sidebar-block-wrap div:after{
content:'';
display:block;
width:100%;
height:10px;
position: absolute;
	bottom: 0;
	left: 0;
background:url(../img/green-big-pills-delim-hr.png);
	margin: 5px auto;
}
.green-sidebar-block-wrap div:last-child{
	padding-bottom: 0;
}
.green-sidebar-block-wrap div:last-child:after{
	display: none;
}
.green-sidebar-block-wrap div h4{
	margin-left: 60px;
	text-transform: uppercase;
	font-family: 'MyriadProBoldCondensed';
	font-size: 120%;
	color: #edef52;
}
.green-sidebar-block-wrap div p{
	margin-left: 60px;
font-size: 90%;
margin-top: 2px;
	font-family: 'PT Sans';
	color: #dbf3a8;
	display: block;
}

.sidebar-news{
background: url(../img/catalogue-sidebar_bg.png) 0 0 repeat;
border-radius: 25px;
margin: 10px auto;
position:relative;
	padding: 15px;
}
.sidebar-news h3{
	font-family: "m_Brody";
	font-size: 220%;
}
.sidebar-news-read-all{
	color: #636262;
	font-weight: bold;
	margin: 15px 0;
	display: block;
}
.sidebar-news-read-all:after{
	content: 'пїЅпїЅ';
	text-decoration: none;
	position: absolute;
}
.sidebar-news a:hover{
	text-decoration: none;
}
.sidebar-news-item{
	margin: 10px 0;
}
.sidebar-news-item span{
	display: block;
	color: #a6a6a6;
	font-size: 80%;
	line-height: 20px;
}
.sidebar-news-item a{
	color: #549300;
	font-weight: bold;
}
.sidebar-news-item p {
	padding: 10px 0 15px;
	border-bottom: 1px dotted lightgray;
}
/** Search results
----------------------------------*/
.search-result-count {
    float: right;
    margin: 15px;
    position: relative;
}
.search-result-count span{
    display: block;
    position: relative;
    left: 57px;
    font-family: "PT Sans";
    line-height: 1.22;
    float: right;
}
.search-result-count a{
    display: block;
    position: absolute;
    bottom: 0;
}

/** Breadcrumbs
----------------------------------*/
.breadcrumbs{
    float: left;
    /*margin: -5px 0 0 2px;*/
}
.breadcrumbs ul li{
    display: inline;
    color: #5c6064;
    font-weight: bold;
    font-size: 13px;
}
.breadcrumbs ul li span{
    background: url(../img/ico_article.png) 100% -24px no-repeat;
    padding: 1px 15px 0 0;
}
.breadcrumbs ul li a{
    color: #5b8828;
    font-weight: normal;
}

/** Catalogue - Items
----------------------------------*/
.catalogue-list{
    margin-top: 21px;
    margin-left: -33px;
    /*float: right;*/
}
.catalogue-item{
    position: relative;
    margin: 5px 0 30px 33px;
    float: left;
    width: 222px;
    height: 408px;
/*overflow: hidden;*/
}
.catalogue-item.active{
overflow: visible;
}
.catalogue-item-wrap{
width: 188px;
height: 375px;
border: 1px #eaeaea solid;
border-radius: 20px;
padding: 16px;
position: absolute;
}
.catalogue-image-wrap{
    width: 188px;
    height: 195px;
    padding: 0px;
    position: relative;
}
.catalogue-image-wrap a{
    display: block;
    position: absolute;
    bottom: 0;
}

.catalogue-item.active .catalogue-item-wrap{
    height: auto;
    border: 3px #5f9a11 solid;
    /*border: 3px #be1e2d solid;*/
    background: #fff;
   /*height: 345px;*/
	height: auto;
	min-height: 375px;
    margin: -2px 0 0 -2px;
    position: absolute;
    z-index: 5;
}
.catalogue-item.active .catalogue-item-description{
    margin: 5px 0 30px 0;
    color: #5c6064;
    font-size: 12px;
    height: auto;
    position: relative;
    z-index: 5;
}

.catalogue-item img{
    display: block;
    margin: 0 auto;
}

.catalogue-item.active .catalogue-item-mark{
    position: absolute;
    top: -8px;
    right: -10px;	
    z-index: 3;
}

.catalogue-item-mark{
    width: 63px;
    height: 63px;
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: 3;
}

.catalogue-item-mark.sale{
    background: url(../img/catalogue-item_sprite.png) -88px -64px no-repeat;
}

.catalogue-item-price{
    color: #5f9a11;
    /*color: #be1e2d;*/
    font-size: 19px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}
.item-price-promo{
    position: absolute;
    top: 200px;
}
.catalogue-item-price span{
    color: #2e3237;
    font-size: 14px;
}
.catalogue-item-price .item-price-promo span{
    color: #8a8f96;
    font-weight: normal;
    text-decoration: line-through;
}

.catalogue-item-btn{
width: 88px;
height: 23px;
padding: 7px 0 0 0;
margin-top: 3px;
float: right;
cursor: pointer;
text-align: center;
}
.catalogue-item-btn a{
    color: #feff96;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.catalogue-item-btn.item-buy{
    background: url(../img/buy.png) 0 0 no-repeat;
}
.catalogue-item-btn.item-incart{
    background: url(../img/catalogue-item_sprite.png) 0 -30px no-repeat;
}
.catalogue-item-btn.item-incart{
padding: 6px 0 0 0;
width: 88px;
}

.catalogue-item span.catalogue-item-title{
    display: block;
    clear:both;
    margin-top: 41px;
    font-size: 14px;
    line-height: 17px;
}
.catalogue-item span.catalogue-item-title a{
    color: #2e3237;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.catalogue-item span.catalogue-item-title a:hover,
.catalogue-item span.catalogue-item-title.active a{
    color: #5f9a11;
    /*color: #be1e2d;*/
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.catalogue-item-description{
    margin-top: 5px;
    color: #5c6064;
    font-size: 12px;
    position: relative;
    /*overflow: hidden;*/
    height: 74px;
}
.catalogue-item-description p{
    line-height: 1.2;
}
.description-overlay{
    width: 192px;
    height: 78px;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.catalogue-item-info{
    width: 53px;
    height: 29px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -26px;
}
.catalogue-item-info div:first-child{
    margin-right: 3px;
}

/** Catalogue - Item Tootip
----------------------------------*/
.tooltip-wrap{
    position: absolute;
    top: -30px;
    left: -85px;
    width: 220px;
    height: 60px;
    text-align: center;
}
.item-tooltip{
    position: relative;
    display: none;
    margin: -10px 0 0 -22px;
    zoom: 1;
    z-index: 7;
}
.item-tooltip.stock{
    margin: -10px 0 0 -22px;
}
.item-tooltip.delivery{
    margin: -10px 0 0 32px;
}
.item-tooltip.green{
    background: url(../img/item-tooltip_sprite.png) 0 0 no-repeat;
}
.item-tooltip.gray{
    background: url(../img/item-tooltip_sprite.png) 0 -93px no-repeat;
}
.item-tooltip.green span,
.item-tooltip.gray span{
    height: 30px;
    float: left;
    padding: 13px 19px 0 0;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    margin: 0 0 0 19px;
}
.item-tooltip.green span{
    background: url(../img/item-tooltip_sprite.png) 100% -43px no-repeat;
}
.item-tooltip.gray span{
    background: url(../img/item-tooltip_sprite.png) 100% -133px no-repeat;
}
.item-tooltip-arrow{
    width: 14px;
    height: 5px;
    position: absolute;
    bottom: 8px;
    right: 50%;
    margin-right: -7px;
}
.item-tooltip.green .item-tooltip-arrow{
    background: url(../img/item-tooltip_sprite.png) 0 -86px no-repeat;
}
.item-tooltip.gray .item-tooltip-arrow{
    background: url(../img/item-tooltip_sprite.png) 0 -176px no-repeat;
}


/** Catalogue - Item Countdown
----------------------------------*/
.catalogue-item-countdown{
    float: right;
    clear: both;
    margin: 12px 5px 7px 0;
    height: 43px;
}
/** Catalogue - Item Icons
----------------------------------*/
.item-stock,
.item-delivery{
    width: 25px;
    height: 29px;
    float: left;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.item-stock.instock{
    background: url(../img/catalogue-item_sprite.png) 0 -60px no-repeat;
}
.item-stock.tailor-made{
    background: url(../img/catalogue-item_sprite.png) -25px -60px no-repeat;
}
.item-delivery.free{
    background: url(../img/catalogue-item_sprite.png) 0px -89px no-repeat;
}
.item-delivery.formoney{
    background: url(../img/catalogue-item_sprite.png) -25px -89px no-repeat;
}


/** Paginator 
----------------------------------*/
.paginator{
	float: left;
	overflow: hidden;
	clear: both;
	margin: 4px 0 0 0;
	background: url(../img/paginator_bg.png) 0 0 repeat;
	position: relative;
	padding: 13px 20px 7px 20px;
	border-radius: 20px;
	width: 956px;
	z-index: 1;

}
.paginator-product{
	float: left;
	overflow: hidden;
	clear: both;
	margin: 4px 0 0 0;
	position: relative;
	border-radius: 20px;
}

.dostavka {
	background: url(../img/dostavka.png) no-repeat;
	width: 140px;
	height: 25px;
}

.nal {
	background: url(../img/nal.png) no-repeat;
	width: 99px;
	height: 25px;
}

.nazakaz {
	background: url(../img/na_zakaz.png) no-repeat;
	width: 70px;
	height: 25px;
}

.pomoskve {
	background: url(../img/pomoskve.png) no-repeat;
	font-size: 9pt;
	width: 134px;
	height: 25px;
	padding-top: 4px;
	color: white;
}

.paginator2{
float: left;
overflow: hidden;
clear: both;
margin: 4px 0 0 0;

position: relative;
z-index: 1;
padding: 13px 20px 7px 20px;
border-radius: 20px;

}
.clearfix{
    clear: both;
}
.paginator ul{
    /*overflow: hidden;*/
    height: 38px;
    float: left;
    clear: both;
}
.paginator ul li{
    background: url(../img/paginator_sprite.png) 0 0 no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: 0 3px;
}
.paginator ul li.active{
background: #7eba26;
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.36);
border-radius: 50%;
    /*background: url(../img/paginator_sprite.png) 0 -31px no-repeat;*/
}
.paginator ul li.active span a{
color:white;
}
.paginator ul li.separator{
    background: 0;
    font-weight: bold;
    margin: 0 2px;
}
.paginator ul li.prev{
    background: url(../img/paginator_sprite.png) 0 -62px no-repeat;
    width: 13px;
    height: 18px;	
    margin: 7px 14px 0 0;
}
.paginator ul li.next{
    background: url(../img/paginator_sprite.png) -13px -62px no-repeat;
    width: 13px;
    height: 18px;	
    margin: 7px 0 0 20px;
}
.paginator-product ul li.prev{
    background: url(../img/paginator_sprite.png) 0 -62px no-repeat;
    width: 13px;
    height: 18px;	
    margin: 7px 14px 0 0;
	cursor: pointer;
}
.paginator-product ul li.next{
    background: url(../img/paginator_sprite.png) -13px -62px no-repeat;
    width: 13px;
    height: 18px;	
    margin: 7px 0 0 20px;
	cursor: pointer;
}
.paginator ul li.prev.big{
    background: url(../img/paginator_sprite.png) 0 -80px no-repeat;
    width: 27px;
    height: 36px;	
    margin: 7px 14px 0 0;
	left:0;
}
.paginator ul li.next.big{
    background: url(../img/paginator_sprite.png) -27px -80px no-repeat;
    width: 27px;
    height: 36px;	
    margin: 7px 0 0 20px;
right:0;
}
.paginator ul li:hover{
    /*background: url(../img/paginator_sprite.png) -31px 0 no-repeat;*/
    /*height: 38px;*/
    /*position: relative;*/
    /*top: -6px;*/
background: url(../img/paginator_sprite.png) 0 -31px no-repeat;
}
.paginator ul li.active:hover{
cursor:default;
}
.paginator ul li.prev:hover{
    background: url(../img/paginator_sprite.png) -26px -62px no-repeat;
    width: 13px;
    height: 18px;
    margin: 8px 14px 0 0;
}
.paginator ul li.next:hover{
    background: url(../img/paginator_sprite.png) -39px -62px no-repeat;
    width: 13px;
    height: 18px;	
    margin: 8px 0 0 20px;
}
.paginator ul li.prev.big:hover{
    background: url(../img/paginator_sprite.png) 0 -116px no-repeat;
    width: 27px;
    height: 37px;
    margin: 7px 14px 0 0;
}
.paginator ul li.next.big:hover{
    background: url(../img/paginator_sprite.png) -27px -116px no-repeat;
    width: 27px;
    height: 37px;	
    margin: 7px 0 0 20px;
}
.paginator ul li.separator:hover{
    background: 0;
    cursor: default;
    margin: 12px 3px 0 1px;
}
.paginator ul li.separator:hover span{
    margin: 0;
}
.paginator ul li:hover span{
margin: 8px 0 0 -1px;
}
.paginator ul li.next:hover span{
    /*margin: 0;*/
}
.paginator ul li:hover span a{
    color: #000;
}
.paginator ul li.prev:hover span a,
.paginator ul li.next:hover span a{
    /*padding: 8px 0;*/
    /*margin-top: 0;*/
    /*display: block;*/
}
.paginator ul li.prev.big:hover span a,
.paginator ul li.next.big:hover span a{
    padding: 19px 0;
    margin-top: 0;
    display: block;
}
.paginator ul li span{
    display: block;
    text-align: center;
margin: 8px 0 0 -1px;
}
.paginator ul li.prev span{
    margin: 0;
}
.paginator ul li span a{
    color: #2e3237;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 3px;
}
.paginator ul li.prev span a,
.paginator ul li.next span a{
    padding: 15px 0;
    margin-top: -6px;
    display: block;
}
.paginator ul li.prev.big span a,
.paginator ul li.next.big span a{
    padding: 19px 0;
    margin-top: 0;
    display: block;
}
.paginator-dialog{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    margin: 29px 0 0 0;
    padding: 25px 0 0 0;
}
.paginator.paginator-dialog{
    float: left;
    width: 100%;
    clear: both;
}
.paginator.paginator-dialog ul{
    /*background: url(../img/wavy-line_gray.png) 0 100% repeat-x;*/
    /*overflow: hidden;*/
    float: left;
    clear: both;
    padding: 0 0 45px 0;
}
/** Footer 
----------------------------------*/
.footer-more-wrap{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
	overflow: hidden;
}
.footer-more{
    background: url(../img/footer-more_bg.jpg) 0 0 repeat;
    font-size: 14px;
    color: #2e3237;
    padding: 0 0 50px 0;
    position: relative;
    z-index: 0;
}

.footer-more-notice{
    background: url(../img/wavy-line_gray.png) 0 0 repeat-x;
    clear: both;
  /*overflow: hidden;*/
}
.footer-more-notice img{
    float: left;
    margin: 38px 0 0 0;
}
.footer-more-notice div{
    /*width: 65%;*/
    float: left;
    margin: 0 0 0 30px;
}
.footer-more-notice strong{
	font-weight: bold;
}
.footer-more .footer-more-notice h2{
    color: rgb(91, 136, 40);
    font-size: 27px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 40px 0 0 0;
}
.footer-more .footer-more-notice a{
    color: rgb(91, 136, 40);
}

.footer-more .footer-more-notice h3{
    color: rgb(91, 136, 40);
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.footer-more-notice p{	
    line-height: 1.2;
    margin: 12px 0 0 0;
}
.footer-more-notice ul{
    margin: 0px 0px 10px 25px;
}
.footer-more-notice ul li{
    line-height: 20px;
}
.footer-more-notice table{
    margin: 10px;
}
.footer{
    background: url(../img/footer_bg.png) 0 0 repeat-x;
    position: relative;
    bottom:0;
    height: 267px;
    color: #ffc7c9;
    font-size: 12px;
}
.footer-wrap{
    width: 1260px;
    height: 267px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-item{
    border-left: 1px #d05e68 dashed;
    float: left;
    margin: 38px 0 0;
    padding: 0 3.9%;
    line-height: 1.3;
    height: 175px;

}
.footer-item span.footer-menu-title{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.footer-item p{
    margin-top: 10px;
    line-height: 1.3;
}
.footer-important-info{
    font-family: "Myriad Pro", sans-serif;
    width: 250px;
    padding-left: 0;
    border:none;
    margin-top: 42px;
}
.footer-important-info span{
    color: #fff;
}
.footer-important-info a{
    color: #f0b4b9;
}
.footer-important-info p{
    margin-top: 20px;
    line-height: 1.4;
}
.footer-menu ul{
    margin-top: 8px;
}
.footer-menu ul li a{
    color: #fff;
    line-height: 1.5;
}
.footer-menu ul li a:hover{
    color: #ffa63d;
    text-decoration: none;
}
.footer-info{
    width: 46%;
    padding-right: 0;
}

.footer-counters div{
    margin: 35px 8px 0 0;
    float: left;
}

/** Template: ICO
----------------------------------*/
.ico-item.ico-stock .ico,
.ico-item.ico-delivery .ico,
.ico-item.ico-doc .ico,
.ico-item.ico-addservice .ico{
    width: 35px;
    height: 35px;
    float: left;
    position: relative;
    z-index: 2;
}
.ico-stock.instock .ico{
    background: url(../img/item-ico_sprite.png) 0 0 no-repeat;
}
.ico-stock.tailor-made .ico{
    background: url(../img/item-ico_sprite.png) -70px 0 no-repeat;
}
.ico-delivery.free .ico{
    background: url(../img/item-ico_sprite.png) -105px 0 no-repeat;
}
.ico-delivery.formoney .ico{
    background: url(../img/item-ico_sprite.png) -140px 0 no-repeat;
}
.ico-doc .ico{
    background: url(../img/item-ico_sprite.png) -175px 0 no-repeat;
}
.ico-addservice .ico{
    background: url(../img/item-ico_sprite.png) -35px 0 no-repeat;
}
.ico-item span{
    color: #608c2f;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 11px 0 0 8px;
}
.ico-stock.tailor-made span{
    color: #6b6e72;
}
.cart-item-addservice span{
    color: #6a7179;
    font-size: 11px;
    font-weight: bold;
    float: left;
    margin: 6px 0 0 8px;
    width: 90px;
}
/** Template: BUTTONS
----------------------------------*/
.btn-tpl{
    margin-left: 15px;
    cursor: pointer;
}
.btn-tpl.small.green{
    background: url(../img/buttons_sprite.png) 100% -24px no-repeat;
    height: 24px;
    float: left;
}
.btn-tpl.small.green.arrowed{
    background: url(../img/buttons_sprite.png) 100% -124px no-repeat;
    height: 24px;
    float: left;
}
.btn-tpl.small.gray{
    background: url(../img/buttons_sprite.png) 100% -100px no-repeat;
    height: 24px;
    float: left;
}
.btn-tpl.small.green span{
    background: url(../img/buttons_sprite.png) 0 0 no-repeat;
    height: 20px;
    float: left;
    margin-left: -15px;
    padding: 2px 12px;
}
.btn-tpl.small.green.arrowed span{
    background: url(../img/buttons_sprite.png) 0 0 no-repeat;
    height: 20px;
    float: left;
    margin-left: -15px;
    padding: 2px 25px 2px 12px;
}
.btn-tpl.small.gray span{
    background: url(../img/buttons_sprite.png) 0 -76px no-repeat;
    height: 20px;
    float: left;
    margin-left: -15px;
    padding: 2px 12px;
}

.btn-tpl.mid.green{
    background: url(../img/buttons_sprite.png) 100% -397px no-repeat;
    height: 30px;
    float: left;
}
.btn-tpl.mid.green span{
    background: url(../img/buttons_sprite.png) 0 -427px no-repeat;
    height: 18px;
    float: left;
    margin-left: -14px;
    padding: 6px 18px;
}

.btn-tpl.mid.gray{
    background: url(../img/buttons_sprite.png) 100% -457px no-repeat;
    height: 30px;
    float: left;
}
.btn-tpl.mid.gray span{
    background: url(../img/buttons_sprite.png) 0 -487px no-repeat;
    height: 18px;
    float: left;
    margin-left: -14px;
    padding: 6px 18px;
}
.btn-tpl.mid span a{
white-space: nowrap;
color: #fff;
font-size: 16px;
font-weight: bold;
text-decoration: none;
font-family: 'MyriadProBoldCondensed';
text-transform: uppercase;
}

.response {
    margin-bottom: 10px;
}

.btn-tpl.big.green{
    background: url(../img/buttons_sprite.png) 100% -152px no-repeat;
    height: 35px;
    float: left;
}
.btn-tpl.big.gray{
    /* background: url(../img/buttons_sprite.png) 100% -222px no-repeat; */
    height: 35px;
    float: left;
}
.btn-tpl.big.yellow{
    background: url(../img/buttons_sprite.png) 100% -292px no-repeat;
    height: 35px;
    float: left;	
	margin-left: 20px;
}
.btn-tpl.big.green span {
    background: url('../img/buttons_new.png') no-repeat scroll 0px 0px transparent;
    height: 19px;
    float: left;
    margin-left: -18px;
    padding: 8px 18px;
    width: 140px;
}
.btn-tpl.big.green.buy span{
    background: url(../img/buttons_sprite.png) 0 -362px no-repeat;
    margin-left: -18px;
    padding-left: 50px;
}
.btn-tpl.big.green.buy span a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.btn-tpl.big.green.incart {
    background: url(../img/catalogue-item_sprite.png) 0 -30px no-repeat;
    padding: 0 0 0 13px;
    width: 75px;
    height: 30px;
}
.btn-tpl.big.green.incart span {
    background: none;
    height: 19px;
    float: left;
    margin-left: -18px;
    padding: 7px 15px;
}
.btn-tpl.big.gray span{
    /* background: url(../img/buttons_sprite.png) 0 -257px no-repeat; */
    height: 19px;
    float: left;
    margin-left: -18px;
    padding: 8px 18px;
}
.btn-tpl.big.yellow span{
    background: url(../img/buttons_sprite.png) 0 -327px no-repeat;
    height: 19px;
    float: left;
    margin-left: -18px;
    padding: 8px 8px;	
}
.btn-tpl.big.yellow span a{
    color: #aa6c23;
}
.btn-tpl.ultra-big.green{
    background: url(../img/buttons_sprite.png) 100% -517px no-repeat;
    height: 48px;
    float: left;
}
.btn-tpl.ultra-big.green span{
    background: url(../img/buttons_sprite.png) 0 -565px no-repeat;
    height: 35px;
    float: left;
    margin-left: -31px;
    padding: 14px 25px;
}
.btn-tpl.small span a{
white-space: nowrap;
text-transform: uppercase;
padding: 0 10px;
margin-top: 5px;
display: block;
font-family: 'MyriadProBoldCondensed';
font-size: 13px;
}

#dop {

	background: url(../img/dop.png) no-repeat;
width: 369px;
text-align: center;
margin-left: -85px;
}


#dop1 {

	background: url(../img/dop.png) no-repeat;
width: 369px;
text-align: center;
margin-left: -120px;
}

.btn-tpl.big span a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
.btn-tpl.ultra-big.green span a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

/** Templates: INPUT
----------------------------------*/
.input-tpl.small{
    background: url(../img/form-input-small_sprite.png) 0 -21px no-repeat;
    width: 100%;
    height: 21px;
    padding: 0 0 0 8px;
    float: left;
}
.input-tpl.small input{
    background: url(../img/form-input-small_sprite.png) 100% 0 no-repeat;
    width: 100%;
    height: 19px;
    float: left;
    padding-right: 8px;
    text-align: center;
    color: #878a8d;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    border:0;
    outline:0;
}
.input-tpl.mid{
    background: url(../img/form-input-mid_sprite.png) 0 -28px no-repeat;
    width: 100%;
    height: 28px;
    padding: 0 0 0 13px;
    float: left;
    /*margin: 5px 0 5px 0;*/
}
.input-tpl.mid input{
    background: url(../img/form-input-mid_sprite.png) 100% 0 no-repeat;
    width: 100%;
    height: 26px;
    float: left;
    padding-right: 14px;
    text-align: left;
    line-height: 1.7;
    color: #9ca0a6;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    border:0;
    outline:0;
}
.textarea-tpl textarea{
    border: 1px #e2e2e2 solid;
    border-radius: 13px;
    outline:0;
    padding: 10px;
    margin: 12px 0 0 0;
    color: #9ca0a6;
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans";
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(98%,#f1f1f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
/** Templates: 
        - CHECKBOX
        - RADIO
        - SELECTBOX
----------------------------------*/
.checkbox, .radio {
    background: url(../img/checkbox.png) no-repeat;
    width: 14px;
    height: 15px;
    padding: 0 0 0 0;
    margin: 3px 5px 0 0;
    display: block;
    clear: left;
    float: left;
    cursor: pointer;
}
.radio {
    background: url(../img/radio.png) no-repeat;
    width: 16px;
    height: 17px;
    padding: 0 0 0 0;
    margin: 3px 5px 0 0;
}
/*.select {
        background: url(../img/select.png) no-repeat;
        position: absolute;
        width: 273px;
        height: 21px;
        color: #fff;
        font: 12px/21px arial,sans-serif;
        overflow: hidden;
}*/


/** Reassignment styles for
        jQueryUI.slider
----------------------------------*/
.ui-widget-header{

}
.ui-widget-content{
    background: url(../img/slider-price_sprite.png) center 0 no-repeat;
    height: 10px;
    border:0;
    border-radius:0;
}
.ui-slider .ui-slider-range{
    background: url(../img/slider-price_sprite.png) center -10px no-repeat;
    height: 15px;
    top: 5px;
}

.ui-widget-content .first-handle{
    background: url(../img/slider-price_sprite.png) 0 -35px no-repeat;
    height: 22px;
    top: 5px;
    border: 0;
    width: 18px;
    cursor:pointer;
    outline: 0;
}
.ui-widget-content .second-handle{
    background: url(../img/slider-price_sprite.png) -18px -35px no-repeat;
    height: 22px;
    top: 5px;
    border: 0;
    width: 18px;
    cursor:pointer;
    outline: 0;
}


/** Dynamic Container. 
        @Slider of content@ for elements.
----------------------------------*/
.dynamic-cont{
    position: relative;
    zoom: 1;
}
.dynamic-cont-controls{
}
.dynamic-setof-items{
position: relative;
height: 272px;
display: none;
zoom: 1;
}
.dynamic-setof-items.active{
    display: block;
}
.dynamic-setof-items .paginator{
position:absolute;
top:36px;
right:0;
}
.image-wrap{
    display: inline-block;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
}
.image-wrap2{
    display: block;
	float:left;
	height:120px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
}
/* .countdown{
        margin: 30px 0;
        height: 10px;
        border: 1px red solid;
        width: 100%;
} */


/** Journal - Articles 
----------------------------------*/
.announce-item{
    font-size: 14px;
}
.announce-item-title{
    clear: right;
    overflow: hidden;
    font-size: 13px;
}
.announce-item-title span{
    background: url(../img/ico_article.png) 100% -24px no-repeat;
    /*float: left;*/
    padding: 0 13px 0 0;
    margin: 0 6px 0 0;
}
.announce-item-title span a{
    color: #70777E;
    font-size: 12px;	
}

span.article-item-title{
    background: 0;
}
span.article-item-title a{
    color: #2E3237;
    font-size: 13px;
    font-weight: bold;	
}
span.article-item-title a:hover{
    color: #be1e2d;	
    text-decoration: none;
}
.announce-item-title.active span.article-item-title a{
    color: #be1e2d;	
    text-decoration: none;	
}
.announce-item-imgcont{
    float: left;
    clear: left;
    position: relative;
    height: 141px;
}
.announce-item-imgcont img{
    border-radius: 5px;
    margin: 12px 15px 0 0;
    /*box-shadow: #ccc 5px 5px 13px 0;*/
}

.announce-item-imgcont.active{
    background: url(../img/over_item_mid.png) 0 0 no-repeat;
    border-radius: 5px;
    margin: 4px 0 0 -7px;
    width: 170px;
    height: 137px;
}
.announce-item-imgcont.active img{
    width: 138px;
    /*box-shadow: #395e14 5px 5px 13px 0;*/
    box-shadow: none;
    margin: 11px 0 0 13px;
}
.announce-item-imgmark{
    background: url(../img/footer-img_mark.png) 0 -22px no-repeat;;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 34px;
    left: 0;
}
.announce-item-imgmark span{
    background: url(../img/footer-img_mark.png) 100% 0 no-repeat;;
    height: 17px;
    display: block;
    margin-right: -50px;
    padding: 9px 20px 0 5px;
}
.announce-item-imgcont.active .announce-item-imgmark{
    bottom: 34px;
    left: 9px;
}
.announce-item p{
    font-size: 12px;
    margin-top: 10px;
}
.announce-item-author{
    margin: 10px 0 0 0;
}
.announce-item-author.female .author-ico{
    background: url(../img/ico_article.png) 0 0 no-repeat;
    width: 12px;
    height: 11px;
    float: left;
    margin: 3px 5px 0 0;
}
.announce-item-author.green.female .author-ico{
    background: url(../img/ico_article.png) 0 -61px no-repeat;
}
.announce-item-author.male .author-ico{
    background: url(../img/ico_article.png) -12px 0 no-repeat;
    width: 14px;
    height: 11px;
    float: left;
    margin: 3px 5px 0 0;
}
.announce-item-author.green.male .author-ico{
    background: url(../img/ico_article.png) -12px -61px no-repeat;
}
.announce-item-comments{
    margin-top: 4px;
}
.announce-item-comments .comment-ico{
    background: url(../img/ico_article.png) 0 -11px no-repeat;
    width: 12px;
    height: 10px;
    float: left;
    margin: 4px 5px 0 0;	
}
.announce-item-comments .comment-ico.green{
    background: url(../img/ico_article.png) 0 -72px no-repeat;	
}
.announce-item-author span a,
.announce-item-comments span a{
    color: #777c81;
    font-size: 11px;
}

.g-img-cont{
    float: left;
    clear: left;
    position: relative;
    height: 141px;
}
.g-img-cont img{
    border-radius: 5px;
    margin: 12px 15px 0 0;
    box-shadow: #ccc 5px 5px 13px 0;
}

.g-img-cont.active{
    background: url(../img/over_item_mid.png) 0 0 no-repeat;
    border-radius: 5px;
    margin: 4px 0 0 -9px;
    width: 170px;
    height: 137px;
}
.g-img-cont.active img{
    width: 138px;
    box-shadow: none;
    margin: 11px 0 0 13px;
}
/*.footer-more-imgmark{
    background: url(../img/footer-img_mark.png) 0 -22px no-repeat;;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 37px;
    left: 0;
}
.footer-more-imgmark span{
    background: url(../img/footer-img_mark.png) 100% 0 no-repeat;;
    height: 17px;
    display: block;
    margin-right: -50px;
    padding: 9px 26px 0 9px;
}*/
.g-img-cont.active .footer-more-imgmark{
    bottom: 37px;
    left: 9px;
}

.hide {display: none;}

#fast-order .answer .modal-price div {display:inline;}
#fast-order .response strong {font-weight: bold;}
#fast-order .response p  {margin: 5px 0;}
#fast-order .response .title {margin-top: 10px; font-weight: bold; }

#basket-summ-products-text {display: inline;}


.static-page-content h2  {
    color: #5b8828;
    font-size: 35px;
    font-family: "m_Brody";
    margin-bottom: 5px;
}

.static-page-content h3 {
    color: #5b8828;
    font-size: 25px;
    font-family: "m_Brody";
    margin-bottom: 5px;
}
.companyfon {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #79b400;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.valign-top {
    vertical-align: top;
}


.catalog .in-cart, 
.slider .in-cart, 
.catlisting .in-cart {
    background: url("../img/incart.png") repeat scroll 0% 0% transparent;
    width: 136px;
    float: left;
    height: 35px;
}

.catalog .buy,
.slider .buy,
.catlisting .buy {
    background: url('/theme/img/buy.png');
    float: left;
    width: 120px;
    height: 35px;
}
.catlisting .buy,
.catlisting .in-cart {
    float: right;
}
/*
	New tags
*/
.catalogue-tags {
	width: 100%;
	float: left;
	clear: both;
}
.catalogue-tags .tags-with-img {
	margin: 10px 0;
}
.catalogue-tags .tags-with-img li {
	display: inline;
	margin-left: 5px;
}
.catalogue-tags .tags-with-img a{
	display: inline-block;
	margin: 5px;
	max-width: 70px;
	border: 1px solid #f6f6f6;
	overflow: hidden;
}

.catalogue-tags .tags-with-img a {
}

.catalogue-tags .tags-with-img a  img {
}


.catalogue-tags .tags-with-img a:hover{
	border: 1px solid #beda99;
}
.catalogue-tags .tags-no-img li {
	float: left;
	margin-right: 20px;
}
.catalogue-tags .tags-no-img a{
	font-size: 13px;
	color: rgb(91, 136, 40);
	font-weight: normal;
	text-decoration: underline;
	background: none repeat scroll 0px center transparent;
	padding: 0px;
	height: auto;
	line-height: 1.5;
}
.catalogue-tags .tags-no-img a:before{
	content: '~ ';
	display: inline-block;
}
.catalogue-tags .tags-no-img a:hover{
	color: rgb(56, 93, 15);
	font-size: 13px;
	text-decoration: none;
}

#filter-form {


}

.show-form {
	display: none;
		background: #f9f9f9;
padding: 12px;
border-radius: 20px;
}

.ya-market {
	position: relative;
	top: 20px;
	left: 20px;
}
/** Credit - Accepted Order
-----------BEGIN------------*/
.order-info .urorder-info{
background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
width: 460px;
padding: 9px 0 19px 0;
}
.order-info .urorder-info p{
color: #2e3237;
font-size: 13px;
line-height: 1.32;
}
.order-info .urorder-info p span{
font-weight: bold;
}
.order-info .order-number{
color: #5c8929;
font-weight: bold;
text-decoration: underline;
}
.order-info .order-urorder{
background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
padding: 0 0 24px 0;
margin: 16px 0 0 0;
}
.order-info .order-urorder .title{
color: #5b8828;
font-size: 20px;
font-weight: bold;
}
.order-info .order-urorder-item{
background: #fff;
border: 1px #eaeaea solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/* padding: 17px 20px 15px 10px; */
margin: 16px 0 0 0;
overflow: hidden;
clear: both;
}
.order-info .uroder-item-name{
width: 270px;
margin: 0 50px 0 0;
padding: 11px 0 15px 10px;
float: left;
}
.order-info .uroder-item-name a{
color: #2e3237;
font-size: 14px;
font-weight: bold;
}
.order-info .uroder-item-name a:hover{
color: #be1e2d;
text-decoration: none;
}
.order-info .urorder-item-price{
color: #be1e2d;
font-size: 19px;
font-weight: bold;
margin: 13px 0 0 0;
display: block;
}
.order-info .urorder-item-price span{
color: #2e3237;
font-weight: bold;
font-size: 14px;
}
.order-info .uroder-toget-info{
background: url(../img/wavy-line_gray.png) 0 100% repeat-x;
padding: 0 0 20px 0;
margin: 19px 0 0 0;
}
.order-info .uroder-toget-info span{
color: #2e3237;
font-size: 14px;
font-weight: bold;
display: block;
margin: 14px 0 0 0;
}
.order-info .uroder-toget-info span span{
font-size: 14px;
line-height: 1.2;
font-weight: normal;
display: inline;
}
.order-info .uroder-toget-info .toget-info-price span{
color: #be1e2d;
font-weight: bold;
}
.order-info .uroder-toget-info .toget-info-price span span{
color: #2e3237;
}
.order-info span.toget-info-thanks{
color: #5c8929;
font-weight: normal;
font-size: 13px;
}
#credit_btn {
margin: 10px;
}
.credit-btn-form {
float: left;
height: 70px;
}
.credit-exit-btn {
float: left;
height: 70px;
position: relative;
top: 13px;
left: 10px;
}
/** Credit - Accepted Order
-----------END------------*/
.show-all-btn {
position: relative;
bottom: 3px;
left: 0;
background: url(../img/catalogue-item_sprite.png) 0 0 no-repeat;
width: 108px;
height: 20px;
padding: 7px 0px 0px;
margin-top: 8px;
cursor: pointer;
text-align: center;
float: right;
}
.show-all-btn a {
    color: #feff96;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
/* 
 *  Splash slider
 *  ----------------------------------------------------------------------------
 */
#theme-splash-slider {
    overflow: hidden;
}

#theme-splash-slider>.inner {
    margin: 6px 0;
}

#theme-splash-slider>.inner>.container {
    height: 410px;
}

#theme-splash-countour {
    background: url(../gfx/splash-countour.png) 0 0 no-repeat;
    height: 378px;
    width: 478px;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 8;
}

#splash-container {
    margin: 20px auto;
    position: relative;
    zoom: 1;
}

#splash-container .item {
    display: none;
}

#splash-container .item.active {
    display: block;
}

#splash-container .inner {
    position: relative;
    height: 350px;
}

#splash-container .poster {
    position: absolute;
    z-index: 7;
    top: 25px;
    right: 110px;
}

#splash-container .poster img {
    width: 334px;
    height: 300px;
}

#splash-container .item-info {
    height: 320px;
    margin-right: 490px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

#splash-container .item-info a {
    color: #2e3237;
    font-size: 47px;
    font-family: "MBrody";
    line-height: 0.9;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    margin-bottom: 40px;
}

#splash-container .item-info a:hover {
    color: #5b8828;
}

#splash-container .inner p {
    color: #2e3237;
    margin: 14px 0 0 0;
    line-height: 1.2;
}

#splash-container .item-info .item-price {
    color: #549300;
    font-size: 47px;
    font-family: "MBrody";
    float: left;
    margin: 15px 0 0 0;
}

#splash-container .item-price span {
    color: #2e3237;
    font-size: 36px;
}

#splash-container .item-buy {

}

#splash-container .item-info a {
    text-decoration: none;
}

#splash-container .splash-cost {
    padding: 15px 0 0;
    width: 100%;
}

#splash-container .slider .buy {
    background: url('../gfx/splash-buy.png');
    float: right;
    width: 137px;
    height: 35px;
}

#splash-container .pagination {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 8;
}

#splash-container .pagination>.inner {
    position: relative;
    width: 900px;
    height: 36px;
}

.pagination .prev {
    background: url(../gfx/splash-arrows.png) 0 0 no-repeat;
    width: 27px;
    height: 36px;
    float: left;
}

.pagination a:hover.prev {
    background: url(../gfx/splash-arrows.png) 0 -37px no-repeat;
}

.pagination .next {
    background: url(../gfx/splash-arrows.png) 0 -74px no-repeat;
    width: 27px;
    height: 36px;
    float: right;
}

.pagination a:hover.next {
    background: url(../gfx/splash-arrows.png) 0 -111px no-repeat;
}

.pagination .before {
    position: absolute;
    z-index: 5;
    top: -100px;
    left: -225px;
}

.pagination .after {
    position: absolute;
    z-index: 5;
    top: -100px;
    right: -240px;
}

.pagination .before img,.pagination .after img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    -webkit-opacity: 0.1;
    opacity: 0.1;
    height: 200px;
}

.add-product-feed {
background: url(../img/buttons_new.png) no-repeat;
background-position: 0px -105px;
width: 177px;
height: 35px;
display: block;
}