/** Adaptive Style
----------------------------------*/
	
.w960 {
    min-width: 1010px;
}		


.w960 .header,
.w960 .header-info, 
.w960 .header-main{
	width: 1000px;
}
.w960 .header-info,
.w960 .header-main{
	padding: 0 10px;
}

.w960 .hader-logo{
	left: 10px;
}

.w960 .header-cart{
	right: 10px;
}

.w960 .header-info ul li{
	padding: 0 16px;
}
.w960 .header-info ul li:first-child{
	padding-left: 0;
}
.w960 .header-info ul li.header-callback{padding: 0 0 0 18px;}

.w960 .header-main-menu ul li{
	margin-left: 27px;
}
.w960 .header-main-menu ul li .btn-tpl.added-align{
	margin-left: 0px;
}

.w960 .header-main-search{
	width: 530px;
	margin-left: 235px;
}

.w960 .header-main-search input.header-search-area{
	width: 376px;
	padding: 19px 0 19px 32px;
}

.w960 .main-cont{
	width: 1000px;
	padding: 0 10px 50px;
overflow: hidden;
}

.w960 .content{
	width: 730px;
}
.w960 .main-cont{
width: 990px;
padding: 0 10px;
margin: 31px auto 0;
overflow: hidden;
}
.w960 .main-cont .main-item {
margin-left: 4px;
}


.w960 .main-container {
width: 1010px;
min-width: 1010px;
margin: 0 auto;
position: relative;
clear: left;
}


.w960.main-page .content{
	float: left;
	margin-left: 0;
	width: 100%;
}


.w960 .catalogue-filter-sort{
	width: 200px;
	margin-right: 20px;
}
.w960 .catalogue-filter-prices{
	width: 200px;
	margin-right: 0;
}
.w960 .catalogue-filter-slider #slider-price{
	width: 285px;
}

.catalogue .w960 .catalogue-list {
	margin-left: -32px;
}
.w960 .catalogue-item{
	margin: 5px 0 30px 32px;
}

.w960 .catalogue-list.catalogue-similar-product{
}
.w960 .catalogue-list.catalogue-similar-product .title{
	margin-left: 32px;
}
.w960 .catalogue-similar-product .catalogue-item{
	margin: 5px 0 30px 32px;
}
.w960 .catalogue-list.catalogue-similar-product{
	margin-left: -33px;
}
.w960 .paginator{
	width: 703px;
}

.w960 .footer-more-wrap{
	width: 1000px;
	padding: 0 10px;
}
.w960 .footer-more-notice div{
/*	width: 658px; */
}
.w960 .footer-wrap{
	width: 990px;
	padding: 10px;
}
.w960 .footer-more-item.mid-item{
	margin-left: -159px;
}
.w960 .footer-item{
	padding: 0 40px;
}
.w960 .footer-important-info{
	padding-left: 0;
}
.w960 .footer-item.footer-menu{
	padding: 0 47px 0 47px;
}
.w960 .footer-info{
	width: 420px;
	padding: 0 0 0 62px;
}

.w960 .sidebar-announcement{
	margin-left: 20px;
}
.w960 .sidebar-doctor{
	margin-left: 20px;
}

.w960 .doctor-ask-name{
	width: 703px;
}
.w960 .doctor-ask-email,
.w960 .doctor-ask-city{
	width: 333px;
}
.w960 .textarea-tpl textarea{
	width: 709px;
	min-width: 708px;
	max-width: 708px;	
}

.w960 .cart-item-title{
	width: 200px;
}
.w960 .dynamic-cont{
	width: 1000px;
	/*overflow: hidden;*/
}
.w960 .journal-article-info ul li{
	margin-left: 10px;
}
.w960 .journal-article-info ul li.author-name{
	width: 200px;
}
.w960 .journal-article-info ul li.date-public{
	width: 170px;
}
.w960 .journal-article-info ul li.comments-count{
	width: 70px;
}
.w960 .journal-article-info ul li.views-count{
	width: 70px;
}
.w960 .journal-article-more .dynamic-cont{
	width: 730px;
}
.w960 .journal-article-more .dynamic-cont .announce-item{
	width: 342px;
}
.w960 .product-item-view-detailed .dynamic-cont{
	width: 377px;
}
.w960 .product-item-view-detailed .dynamic-cont .dynamic-setof-items{
	padding-top: 10px;
}
.w960 .dynamic-cont .image-extra-wrap{
	width: 321px;
	margin: 0 auto;
}
/*.w960 .dynamic-cont .dynamic-setof-items .image-single{
	display: inline;
	width: 100px;
}*/
.w960.cart .dynamic-cont{
	width: 730px;
	/*overflow: hidden;*/
}
.w960 .dynamic-item-low.prev{
	display: none;
}
.w960  .dynamic-item-low.next{
	display: none;
}

.w960.main-page .dynamic-cont-controls ul li.prev{
	top: 144px;
	left: 45px;
}
.w960.main-page .dynamic-cont-controls ul li.next{
	top: 144px;
	right: 53px;
}
.w960 .product-item-view-detailed .dynamic-cont-controls ul li.prev{
	position: absolute;
	margin-top: -12px;
	top: 50%;
	left: 0;
}
.w960 .product-item-view-detailed .dynamic-cont-controls ul li.next{
	position: absolute;
	margin-top: -12px;
	top: 50%;
	right: 0;
}
.w960 .search-bar-what .input-tpl input{
	width: 371px;
}
.w960.search-result .search-bar-what .input-tpl input{
	width: 350px;
}
.w960 .search-result-item-info,
.w960 .joournal-item-info{
	width: 477px;
}

.w960 .ask-question .form-tpl-urname{
	width: 703px;
}

.w960 .product-item-buy .btn-tpl.buy{
	margin: 0 8px 0 16px;
}
.w960 .product-item-buy .buy-credit-ico{
	margin-left: 5px;
}
.w960 .product-item-info{
	width: 320px;
margin: 0 0 0 7px;
}
.w960 .item-sale-to{
	width: 110px;
}
.w960 .product-item-fastbuy-tips{
	margin: 0 0 0 28px;
}
.w960 .product-item-docprotect span{
	width: 250px;
	display: block;
}

.w960 .client-item .input-tpl{
	width: 515px;
}

.w960 .itemlist-head ul li.author-number{
	padding: 11px 26px 0 15px;
	border: 0;
}
.w960 .itemlist-head ul li.author-ava{
	padding: 9px 0 0 29px;
	width: 67px;
}
.w960 .itemlist-head ul li.author-name{
	padding: 9px 0 0 34px;
	width: 192px;
}
.w960 .itemlist-head ul li.author-status{
	padding: 9px 0 0 62px;
	width: 101px;
}
.w960 .itemlist-head ul li.author-articles{
	padding: 9px 0 0 34px;
	width: 61px;
}
.w960 .itemlist-head ul li.author-rating{
	width: 62px;
}
.w960 .journal-authors-item .author-name{
	margin: 38px 0 0 11px;
	width: 194px;
}
.w960 .journal-authors-item .author-status{
	margin: 39px 0 0 63px;
	width: 120px;
}
.w960 .journal-authors-item .author-rating{
	padding-left: 20px;
	margin: 36px 15px 0 0;
}

.w960 .list-type ul{
	width: 26%;
}
.w960 .journal-article-share{
	background: url(../img/journal-article-share_shape.png) 0 -68px no-repeat;
}

.w960 .journal-profile-nav ul li{
	padding: 0 60px;
}
.w960 .journal-profile-info,
.w960 .journal-profile-aboutme{
	width: 385px;
}

.w960 .green-header{
    
    width: 960px;
    min-width: 960px;
}

 #green-header #header-search-info > .info > .basket{
float:left;
left:0;
}
.w960 #green-header .hearts .favorites-heart.big{
right:25px;
}
.w960 #green-header #header-search-info > .search-form{
margin-top: 85px;
}
.w960 #green-header #header-search-info > .search-form > form > div input.placeholder,
.w960 #green-header #header-search-info > .search-form > form > div input:focus.placeholder {
width: 420px;
}

.w960 #green-header #header-search-info > .search-form > form {
width: auto;
}

.w960 .dynamic-item{
width: 740px;
/*float: left;*/
margin: 0 auto;
}
.w960 .dynamic-item-info{
float: left;
width: 360px;
margin: 39px 0 0 0;
}

.w960 #green-header #header-search-info > .search-form > form > div {
background: url(../img/searchform.png) top left no-repeat;
}

.w960 a.ramka {
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.w960  #theme-splash-slider>.inner>.container {
    width: 960px;
}

.w960  #green-big-pills {
    min-width: 1010px !important;
}