@font-face {
  font-family: 'armed_icons';
  src: url('../fonts/svg/armed_icons.eot?11338411');
  src: url('../fonts/svg/armed_icons.eot?11338411#iefix') format('embedded-opentype'),
       url('../fonts/svg/armed_icons.woff2?11338411') format('woff2'),
       url('../fonts/svg/armed_icons.woff?11338411') format('woff'),
       url('../fonts/svg/armed_icons.ttf?11338411') format('truetype'),
       url('../fonts/svg/armed_icons.svg?11338411#armed_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'armed_icons';
    src: url('../fonts/svg/armed_icons.svg?11338411#armed_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "armed_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check:before { content: '\e800'; } /* '' */
.icon-next:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-back:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */

@font-face {
	
font-family:"Lato Regular";
src:url("../fonts/lato/Lato-Regular.eot?") format("eot"),/* url("../fonts/lato/Lato-Regular.woff") format("woff"), */url("../fonts/lato/Lato-Regular.ttf") format("truetype"),url("../fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg");
font-weight:normal;
font-style:normal;

}


@font-face {
	
font-family:"Lato Black";
src:url("../fonts/lato/Lato-Black.eot?") format("eot"),/* url("../fonts/lato/Lato-Black.woff") format("woff"), */url("../fonts/lato/Lato-Black.ttf") format("truetype"),url("../fonts/lato/Lato-Black.svg#Lato-Black") format("svg");
font-weight:normal;
font-style:normal;

}

@font-face {
	
	
font-family:"Lato Bold";
src:url("../fonts/lato/Lato-Bold.eot?") format("eot"),/* url("../fonts/lato/Lato-Bold.woff") format("woff"), */url("../fonts/lato/Lato-Bold.ttf") format("truetype"),url("../fonts/lato/Lato-Bold.svg#Lato-Bold") format("svg");
font-weight:normal;
font-style:normal;

}


@font-face {
	
font-family:"Lato Semibold";
src:url("../fonts/lato/Lato-Black.ttf") format("truetype");
font-weight:normal;
font-style:normal;

}




@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-Medium.eot');
	src: local('DIN Pro Medium'), local('DINPro-Medium'),
		url('../fonts/DINpro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINpro/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-BlackItalic.eot');
	src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
		url('../fonts/DINpro/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-BlackItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedBlackItalic.eot');
	src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
		url('../fonts/DINpro/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedBlackItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedMedium.eot');
	src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
		url('../fonts/DINpro/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedMedium.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-MediumItalic.eot');
	src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
		url('../fonts/DINpro/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-MediumItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-Bold.eot');
	src: local('DIN Pro Bold'), local('DINPro-Bold'),
		url('../fonts/DINpro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-Bold.woff') format('woff'),
		url('../fonts/DINpro/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-Light.eot');
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url('../fonts/DINpro/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-Light.woff') format('woff'),
		url('../fonts/DINpro/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedMediumItalic.eot');
	src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
		url('../fonts/DINpro/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedMediumItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-Italic.eot');
	src: local('DIN Pro Italic'), local('DINPro-Italic'),
		url('../fonts/DINpro/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-Italic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
		url('../fonts/DINpro/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro.woff') format('woff'),
		url('../fonts/DINpro/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedBlack.eot');
	src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
		url('../fonts/DINpro/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedBlack.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedBold.eot');
	src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
		url('../fonts/DINpro/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedBold.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-Black.eot');
	src: local('DIN Pro Black'), local('DINPro-Black'),
		url('../fonts/DINpro/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-Black.woff') format('woff'),
		url('../fonts/DINpro/DINPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-LightItalic.eot');
	src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
		url('../fonts/DINpro/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-LightItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedBoldItalic.eot');
	src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
		url('../fonts/DINpro/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedBoldItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedRegular.eot');
	src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
		url('../fonts/DINpro/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedRegular.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedItalic.eot');
	src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
		url('../fonts/DINpro/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedLightItalic.eot');
	src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
		url('../fonts/DINpro/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedLightItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DINpro/DINPro-CondensedLight.eot');
	src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
		url('../fonts/DINpro/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-CondensedLight.woff') format('woff'),
		url('../fonts/DINpro/DINPro-CondensedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINpro/DINPro-BoldItalic.eot');
	src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
		url('../fonts/DINpro/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINpro/DINPro-BoldItalic.woff') format('woff'),
		url('../fonts/DINpro/DINPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

*{
	outline:none;
}
html, body
{
	width:100%;
	font-family:"Lato Regular";
	font-size:17px;
	margin:0;
	color:#282828;
	height:100%;
}

h1
{
	font-family: 'DIN Pro Cond';
	font-weight: bold;
}
h2, h3, h4, h5
{
	font-family:"Lato Bold";
	color:#3a3a3a;
	margin-bottom:20px;
}
h1
{
	font-size:30px;
	color:#3a3a3a;
}

h2
{
	font-size:17px;
	
	
}

ul
{
	padding:0;
	margin:0;
}
.mm-char-tab ul li, .static_page ul li
{
	list-style-type:none;
	font-size:14px;
	margin-bottom:18px;
}

.mm-char-tab ul li:before, .static_page ul li:before {
   
    content: ""; /* Сам маркер */
	width:6px;
	height:6px;
	background:#ce1635;
	display:inline-block;
	border-radius:6px;
	margin:0 15px 1px 0;
 }
 table
 {
	 border-collapse:collapse;
	 
 }
 table tr:nth-child(odd)
 {
	 background:#f5f8fa;
	 
 }
 table tr td
 {
	 padding:15px;
	 
 }
 input
 {
	border-radius:40px; 
 }
input, textarea
{
	padding:12px 26px;
	background:#ebeef0;
	
	border:0;
	color:#282828;
	box-sizing:border-box;
}
textarea
{
	width:100%;
	height:100px;
	border-radius:20px;
	font-family:"Lato Regular";
}
a
{
	text-decoration:none;
	color:#282828;
}

a:hover
{
	text-decoration:underline;
	color:#ce1635;
}

.mm-page
{
	overflow:hidden
}
.mm-header
{
	background:#fafbfb;
	border-radius: 0 0 20px 20px; 
		
	margin-top:40px;
}
.mm-container
{
	width:1006px;
	margin:0 auto;
	position:relative;
}
.mm-top
{
	overflow:hidden;
	background:#ce1635;
	height:41px;
	padding:0 37px;
	border-radius:20px 20px 0 0;

}
.mm-top-nav
{
	
	margin:0;
	padding:0;
	float:right;
	
}
.mm-top-nav li
{
	list-style-type:none;
	display:inline-block;
	line-height:39px;
}

.mm-top-nav li a
{
	font-size:15px;
	color:white;
	margin-left:35px;
	
}

.mm-logo{
	
	display:block;
	margin-top:-18px;
	margin-left:2px;
	position:relative;
	width:265px;
	float:left;
}

.offical
{
	font-family: 'DIN Pro Cond';
	text-transform:uppercase;
	color:#2b7a39;
	position:absolute;
	top:90px;
	left:101px;
	font-size:18px;
	font-weight: 500;
}
.mm-logo a:hover
{
	text-decoration:none;
}



.header-phones
{
	height:121px;
	
}

.header-phones:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 121px; 
  margin-left: -1px;
  vertical-align: middle;
}

.mm-phone
{
	font-family: 'DIN Pro Cond';
	font-weight: 500;
	display:inline-block;
	margin-left:38px;
	vertical-align:middle;
	font-size:27px;
	
}

.phone-text
{
	font-size:15px;
	color:#979797;
	font-family:"Lato Regular";
	text-align:right;
	
}

.mm-search-cart
{
	width:945px;
	margin:15px 0;
	/*overflow:hidden;*/
	padding:0 30px;
	height:41px;
	display:flex;
	justify-content: space-between;
}


.mm-search-form
{
	display:inline-block;
	width:650px;
	position:relative;
	
}

.mm-search-form fieldset
{
	border:0;
}

.mm-search-form .mm-text
{
	width:100%;
	background: #ebeef0;
	border:0;
	padding:12px 45px;
	box-sizing:border-box;
	border-radius:25px;
	color:#979797;
}

.mm-search-form .mm-text:hover
{
	background: #dbdfe1;
	
}
.mm-submit
{
 background:none;
 border:0;
}
.icon_search, .mm-search-form .mm-submit
{
	top:10px;
	position:absolute;
	left:15px;
	width:20px;
	height:20px;
	line-height:22px;
	z-index:9;
	cursor:pointer
}

.mm-cart-wrap
{
	display:inline-block;
	background: #ebeef0;
	border-radius:25px;
	padding:9px 19px;
}

.mm-cart-wrap.active
{
	background:#ce1635;
}  

.mm-cart-wrap:hover
{
background:#b51530;	

}

.mm-cart-wrap:hover .basket_link
{
	color:White;
}	

.icon_cart path
{
	fill: red;
        fill-rule: evenodd;
}

.basket_link
{
	display:inline-block;
	
	line-height:22px;
	color:#979797;
}
.basket_link:before
{
	margin-right:10px;
}
.basket_link:hover
{
	text-decoration:none;
}
.basket_link.active
{
	
	color:White;
}


.mm-nav{
	
	
}
#nav
{
	background:#4a4a4a;
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius: 0 0 20px 20px; 
	transition: all 0.5s ease-in;
	display: flex;
	justify-content: space-between;
}
#nav:hover
{
	border-radius: 0;
	box-shadow: -5px 10px 10px rgba(0,0,0,0.15), 3px 3px 5px rgba(0,0,0,0.15);
	
}
#nav>li
{
	display:inline-block;
	border-right: 1px solid #5c5c5c;
	height:69px;
	
	float:left
}
#nav>li:last-child
{
	border:0;
}
#nav>li>a
{
	
	color:white;
	font-family: 'DIN Pro Cond';
	font-weight: 500;
	font-size:21px;
	padding:0px 13px;
	display:inline-block;
	box-sizing:border-box;
	height:100%;
	max-width:154px;
	line-height:60px;
}



#nav>li>a>span
{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	box-sizing:border-box;
	line-height:20px;
}

#nav>li>a:hover
{
	text-decoration:none;
}

.mm-drop{
	position:absolute;
	display:none;
	z-index:999;
	background:#ebeef0;
	width:100%;
	left:0;
	opacity:0;
	/* box-shadow: 0px 2px 10px 10px #e7e7e7; */
	box-shadow: -5px 10px 10px rgba(0,0,0,0.15), 3px 3px 5px rgba(0,0,0,0.15);
	border-radius: 0 0 25px 25px;
	padding:50px;
	box-sizing:border-box;
}
.mm-column
{
	display:inline-block;
	margin-right:60px;
	vertical-align:top;
}
.mm-column .mm-column-link
{
	margin-bottom:25px;
}
.mm-drop a
{
	font-size:15px;
	color:#4a4a4a;
}
#nav
{
	letter-spacing : -.36em;
}
#nav>li
{
	letter-spacing : normal;
}
#nav>li.hover:last-child>a:after
{
	background:#ebeef0;
	position:absolute;
	width:4px;
	height:100%;
	content:"";
	right:-2px;
}

#nav>li.hover a
{
	background:#ebeef0;
	color:#4a4a4a;
	transition: all 0.2s ease-in;
	position:relative
}
#nav>li.hover .mm-drop{
	
	display:block;
	
	opacity:1;
	transition: all 1s ease-in;
}

/*.clearfix:after {
    content: "";
    display: table;
    clear: both;
}*/



.mm-slideshow {
    position: relative;
    width: 1004px;
    margin: 0 auto;
    overflow: hidden;
}

.mm-slideshow .gholder {
    overflow: hidden;
    width: 100%;
}

.mm-slideshow .gmask {
    position: relative;
    overflow: hidden;
    height: 476px;
}

.mm-slideshow .gmask .slideset {
    list-style: none;
    overflow: hidden;
    height: 527px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mm-slideshow .gmask .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 902px;
    height: 465px;
    padding: 62px 0 0 102px;
}

.mm-slideshow .gmask div.active {
    z-index: 1;
}

.mm-slideshow a.btn-prev,
.mm-slideshow a.btn-next {
    position: absolute;
    top: 195px;
    left: 0;
    background: url(../img/mm-btns.png) no-repeat;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 4;
}

.mm-slideshow a.btn-next {
    left: auto;
    right: 0;
    background-position: -35px 0;
}

.mm-slideshow a.btn-prev:hover {
    background-position: 0 -35px;
}

.mm-slideshow a.btn-next:hover {
    background-position: -35px -35px;
}

.mm-slideshow .c1 {
    background: url(../img/mm-slide0.png) no-repeat 347px 25px;
}

.mm-slideshow .c2 {
    background: url(../img/slide2.png) no-repeat 544px 50px;
}

.mm-slideshow .c3 {
    background: url(../img/mm-slide02.png) no-repeat 288px 28px;
    padding: 44px 0 0 102px !important;
}

.mm-slideshow .c4 {
    background: url(../img/mm-slide03.png) no-repeat 461px 49px;
    padding: 79px 0 0 102px !important;
}

.mm-intro-box {
    background: url(../img/mm-slider.jpg) no-repeat;
    height: 527px;
    height: 475px;
    margin: 50px -448px 50px;
    padding: 0 458px;
    border-top: 1px solid #fff;
    position: relative;
    z-index: 3;
    color: #4a4a4a;
}

.mm-slideshow h2 {
    margin: 0 0 36px;
    font-size: 32px;
    line-height: 36px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.mm-slideshow h2 a {
    color: #cc0000;
    text-decoration: underline;
}

.mm-slideshow h2 a:hover {
    text-decoration: none;
}

.mm-slideshow .mm-info {
    list-style: none;
    margin: 0 0 37px;
    padding: 0;
}

.mm-slideshow .mm-info li {
    background: url(../img/mm-bullet.png) no-repeat 0 4px;
    padding: 0 0 19px 33px;
    font-size: 18px;
    line-height: 19px;
}

.mm-slideshow .more {
    width: 148px;
    height: 46px;
    line-height: 46px;
    border: 3px solid #cc0000;
    margin: 0 0 0 34px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cc0000;
    font-size: 19px;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.mm-slideshow .c2 .mm-info li,
.mm-slideshow .c3 .mm-info li,
.mm-slideshow .c4 .mm-info li {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    padding: 0 10px 10px 33px;
    min-height: 28px;
}




.mm-slideshow2 {
    padding: 0;
    position: relative;
    margin-left: 16px;
}

.mm-slideshow2 .gmask {
    position: relative;
    height: 1%;
	margin-left:-29px;
}

.mm-slideshow2 .gmask .slideset {
    list-style: none;
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mm-slideshow2 .gmask .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 409px;
	z-index: 2;
}

.mm-slideshow2 .gmask .slide:after {
    content: "";
    display: block;
    clear: both;
}

.mm-slideshow2 .gmask div.active {
    z-index: 3;  
}

.mm-slideshow2 a.btn-prev,
.mm-slideshow2 a.btn-next {
    position: absolute;
    top: -53px;
    right: 30px;
    z-index: 6;
    background: url(../img/mm-btns02.png) no-repeat;
    width: 21px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-slideshow2 a.btn-next {
    right: 0px;
    background-position: -21px 0;
}

.mm-slideshow2 a.btn-prev:hover {
    background-position: 0 -22px;
}

.mm-slideshow2 a.btn-next:hover {
    background-position: -21px -22px;
}
.mm-catalog
{
	padding:0;
	margin:20px 0 0 -15px;
	word-spacing: -.38em;
	
}
.mm-catalog>li
{
	display:inline-block;
	vertical-align:top;
	 width: 222px;
	 height:440px; 
	 margin: 0 0 15px 15px;
	 word-spacing: normal;
}

.mm-catalog>li:hover
{
	position:relative;
	z-index:9;
}
.mm-prod-box {
    width: 222px;
	/* height:423px; */
   
    float:left;
    position:relative;
    /* margin: 0 0 0 17px; */
}
.mm-prod-box .best-icon {
	display: block;
	position: absolute;
	width: 44px;
	height: 25px;
	background: url('/theme/img_new/best.png') center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top:10px;
	right:10px;
}
.gallery .mm-prod-box
{
	margin: 0 0 0 15px;
}
.mm-prod-box:hover .mm-holder .mm-char
{
	display:block;
}
.mm-holder
{
	padding:20px;
	border:1px solid #d8dcdf;
	height:100%;
	transition: all 0.2s ease-in;
	 background:white;
}
.mm-holder .image {
	display: flex;
	height:180px;
	align-items: center;
}
.mm-prod-box:hover .mm-holder
{
	box-shadow: 0px 2px 7px 3px #d9d9d9;
	
}

.mm-title
{
	color:#282828;
	font-size:15px;
}
.product_title
{
	height: 72px;
	display:inline-block;
	overflow:hidden;
	margin:30px 0 20px 0;
}

.mm-holder .mm-char{
	
	display:none;
	margin-top:37px;
}
.mm-price
{
		display:inline-block;
}
.mm-price, .mm-sum{
	

	color:#3a3a3a;
	font-size:24px;
	font-family: 'DIN Pro';
	font-weight: bold;
}

.mm-submit-pricebtn:hover
{
	background:#ce1635;
	color:white;
	cursor: pointer;
}

.mm-popup-wrap
{
	float:right;
	display:inline-block;
	width:40px;
	height:40px;
	border:1px solid #f4cad1;
	border-radius:40px;
	margin-top:-5px;
}

.currency
{
	font-size:18px;
	font-family:"Lato Regular";
	font-weight:normal;
}
.mm-popup-wrap a
{
	color:#ca0426;
}

.mm-popup-wrap a:before
{
		font-size:22px;
	text-align: center;
	line-height: 39px;
	width: 100%;
	margin: 0;
}
.mm-popup-wrap:hover
{
	background:#ce1635;
	border:0;
}

.mm-popup-wrap a:hover
{
	text-decoration:none;
}
.mm-popup-wrap:hover a:before
{
	color:white
}
.mm-char ul
{
	margin:0;
	padding:0;
}

.mm-char ul li
{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom:17px;
	font-size:15px;
	
}

.mm-search-form.icon-search:before
{
	position:absolute;
	left:2px;
	color:#979797;
	transition: all 0.5s ease-in;
	z-index:8;
	
	width:39px;
	height:39px;
	line-height:39px;
	border-radius:39px;
}

.mm-search-form.icon-search.parent-active:before, .mm-search-form.icon-search.parent-active .mm-submit
{

	left:95%;
	color:#ce1836;
	
	
} 

.mm-search-form.icon-search.parent-active:before
{
	background:#ce1635;
	color:white;
}


.mini-ban
{
	background:#ebeef0;
	padding:20px 30px;
	overflow:hidden;
}
.mini-ban .ban-inner div
{
	float:left;
	font-family: 'DIN Pro Cond';
	font-size:30px;
	color:#3a3a3a;
	width:25%;
	text-align:center;
}

.mm-modal
{
	display:none;
}
.mm-footer-holder
{
	background:#ce1635;
	padding:30px 45px;
	margin-bottom:55px;
	border-radius:0 0 20px 20px;
	color:white;
	overflow:hidden;
}
.footer-nav
{
	overflow:hidden;
	float:left;
	width:45%;
}
.footer-nav .mm-footer-nav
{
	overflow:hidden;
	padding:0;
	margin:0;
	display:flex;
	flex-flow: column wrap;
	max-height:134px;
	
	
}


.mm-footer-nav li {
	list-style-type:none;
	margin-bottom:13px;
 
}

.mm-footer-nav a
{
	color:white;
	font-size:14px;
}

.payment-info img
{
	margin-top:10px;
}

.yandex-market, .payment-social, .footer-contacts
{
	float:left;
}

.payment-social
{
	width:24%;
	text-align:center;
	
}
.footer-contacts
{
	font-family: 'DIN Pro Cond';
	font-weight:500;
	font-size:27px;
}

.footer-contacts ul
{
	margin:0;
	padding:0;
}
.footer-contacts ul li:last-child
{
	line-height:15px;
}
a.mail_fot
{
	font-size:16px;
	font-family:"Lato Regular";
}

.banner
{
	margin-bottom:60px;
	text-align:center;
}

.slim_box
{
	width:935px;
	margin:auto;
}

.mm-breadcrumbs
{
	margin:50px 0 15px 0;
	padding:0;
	
}
.mm-breadcrumbs li
{
	list-style-type:none;
	display:inline-block;
}
.mm-breadcrumbs li a
{
	color:#4a4a4a;
	font-size:15px;
}
.mm-breadcrumbs li:nth-child(1n+2):before
{
	content:"/";
	margin:0 10px;
}

.mm-title-holder>h2
{
	color:#ce1635;
	margin:30px 30px;
	font-size: 23px;
}
.mm-contacts-box{
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
}
.contactsmail{
	color:#ce1635;
}
.contactsinfo{
	padding: 12px 10px 0;
    margin: 0 15px auto 0;
    border-radius: 4px;
    border: 2px solid #ce1635;
	display: inline-block;
}
.mm-map{
	display: inline-block;
}

#cat-hidden
{
	float:left;
	margin:0 -20px 25px 40px;
}
.sub-categories-cont {
	height: 70px;
	overflow: hidden;
	margin: 40px 0 0 0;
}
.mm-sub-categories
{
	padding:0;
	list-style-type:none;
}

.mm-sub-categories li
{
	display:inline-block;
	margin: 0 20px 15px 0;
}
.show-more {
	width:145px;
	cursor: pointer;
	border-bottom: 1px dashed gray;
	display: none;
}
.flex_title
{
	display:flex
}

.mm-title-holder h1
{
	white-space: nowrap;
}

.mm-sub-categories a
{
	color:#282828;
	font-size:15px;
}

a.active_tag
{
	color:#ca0426;
}

.mm-filter
{
	background:#ebeef0;
	padding:20px;
	border-radius:20px 20px 0 0;
	overflow:hidden;
}

.mm-sort-list
{
	padding:0;
	margin:0;
}
.mm-sort-list li
{
	list-style-type:none;
	padding:0;
	margin:0 0 0 20px;
	display:inline-block;
}

.carusel_box
{
	padding-top:60px;
}
.mm-sort-list li a
{
	color:#282828;
	font-size:15px;
	line-height:32px;
}
.mm-sort-list a.active
{
	color:#ca0426;
}
.mm-catalog-info-icons
{
	height:75px;
	
}
.mm-catalog-info-icons>div
{
	position:relative;
	padding-left:24px;
	font-size:15px;
	color:#2b7a39;
	margin-bottom:15px;
}
.mm-catalog-info-icons>div:before
{
	position:absolute;
	left:0;
	line-height:15px;
	font-size:17px;
	margin:0;
	
}

/*обратный звонок*/

.mm-info-box
{
	height: 39.55px;
	width: 160px;
	/*margin: 0 auto;*/
	background-color:#ebeef0;
	border-radius:20px;
	text-align: center;
	display: inline-block;
}

.mm-info-box:hover
{
	background-color: #ce1635;
	color: white;
	text-decoration: none;
}

.mm-price-listbtn
{
	display: inline-block;
	color:#ce1635;
	margin: auto;
	padding-top: 10px;
	width:160px;
	height:30px;
	border-radius: 20px;
}

.mm-price-listbtn:hover
{
	color:white;
	text-decoration:none;
}

/**/

.mm-sort
{
	float:left;
}
.mm-range
{
	float:right;
	max-width:272px;
}

.mm-range label
{
	color:#282828;
	font-size:15px;
	margin:0 8px;
}
.mm-range input
{
	background:white;
	width:115px;
	box-sizing:border-box;
	font-size:15px;
	text-align:center;
	padding:7px 26px;
}

.irs-from, .irs-to
{
	display:none !important;
}




.mm-item-holder .payment-info {
    float: left;
    width: 300px;
    font-weight: bold;
}

.mm-item-holder .payment-info img {
    width: 50px;
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;
    height: 51px;
    margin-top: -5px;
}

.mm-item-holder:after {
    content: "";
    display: block;
    clear: both;
}

.mm-tab-content {
    float: left;
    width: 414px;
    height: 446px;
    background: #fff;
    position: relative;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}

.mm-tab-content .mm-stick {
    position: absolute;
    top: -11px;
    left: -10px;
    width: 124px;
    height: 125px;
    z-index: 1;
}

.mm-tab-content img {
    border-radius: 0px;
    cursor: pointer;
}

.carousel2 {
    float: left;
    position: relative;
    width: 155px;
	margin-left:15px;
}

.carousel2 .gholder {
    width: 100%;
}

.carousel2 .gholder:after {
    content: "";
    display: block;
    clear: both;
}

.carousel2 .gmask {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 405px;
    float: left;
   
}

.carousel2 .gmask .slideset {
    list-style: none;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.carousel2 .gallery
{
	width:120px;
}

.carousel2 .gmask .slide {
    width: 130px;
    height: 120px;
    padding: 7px 0;
}

.carousel2 .gmask a {
    display: block;
    width: 116px;
    height: 116px;
    /* background: url(../img/mm-tab.png) no-repeat; */
    /* padding: 2px 2px 2px 12px; */
	border:1px solid #e1e1e1;
}

.carousel2 .gmask img {
    border-radius: 0px;
}

.carousel2 .gmask .active img {
    opacity: 0.5;
}

.carousel2 .gmask .active {
    border-color:#ce1635;
}

.carousel2 a.btn-prev,
.carousel2 a.btn-next {
    display: block;
    margin: 0 auto 0px;
	color:#999999;
    width: 21px;
    height: 22px;
    overflow: hidden;
	position:relative;
	
}
.carousel2 a.btn-prev:before, .carousel2 a.btn-next:before
{
	margin:0;
	position:absolute;
	
}
.carousel2 a.btn-prev
{
	margin-bottom:3px;
}

.carousel2 a.btn-prev:before
{
	transform:rotate(90deg);
	top:0;
	
	
	
}

.carousel2 a.btn-next:before
{
	transform:rotate(-90deg);
	bottom:0;
}

.carousel2 a.btn-prev:hover {
    
	text-decoration:none;
}



.carousel2 a.btn-next:hover {
    
	text-decoration:none;
}

.carousel2 .gmask .slideset {
    width: 100%;
}

.carousel2 .gmask .slide {
    float: none;
    width: auto !important;
}

.carousel2 .mm-text-box {
    float: right;
    width: 341px;
}

.carousel2 .mm-text-box h1 {
    margin: -3px 0 28px;
    font-size: 38px;
    line-height: 30px;
    font-weight: normal;
    color: #168498;
}
.mm-text-box
{
	font-size:15px;
}
.mm-text-box .mm-price-holder {
  
  overflow:hidden;
  margin-bottom:23px;
}

.mm-text-box .mm-price  {
    float: left;
    font-size: 29px;
    line-height: 37px;
    text-align: center;
    color: #4a4a4a;
}
.mm-text-box .mm-popup-wrap
{
	width:auto;
	background:#ce1635;
	border:0;
	margin:0;
}

.mm-popup-wrap-selected
{
	background:#ce1635;
	border:0;
}

.mm-popup-wrap-selected a
{
	color:white;
}

.mm-text-box .mm-cart
{
	padding:0 20px 0 20px;
	line-height:39px;
	font-size:15px;
	display:block;
	color:white;
	
	
}

.but_default
{
	border-radius:40px;
	border:1px solid black;
	padding:12px 20px;
	font-size:15px;
	display:inline-block;
	line-height:15px;
}

.mm-text-box .mm-cart:hover
{
	
}
.mm-text-box .mm-cart:before {

	float:left;
	text-align:left;
	width:32px;
}

.one-click
{
	border-color:#ce1635;
	color:#ce1635;
}

.one-click:hover
{
	background:#ce1635;
	color:white;
	text-decoration:none;
}

.over_block{
	overflow:hidden;
	margin-bottom:30px;
}

.free_text
{
	color:#2b7a39;
}
.mm-kredit
{
	color:#282828;
	float:right;
}
.mm-kredit:hover
{
	text-decoration:none;
	border-color:#ce1635;
}

.mm-text-box .delivery-info
{
	background:#f5f6f7;
	padding:20px;
}

.mm-soc-docs{
	
	background:#2b7a39;
	color:white;
	padding:9px 15px;
}

.mm-opt
{
	padding-left:15px;
}

.mm-opt a
{
	color:#282828;
	text-decoration:underline;
}

.mm-guarantee {
	margin-top:15px;
}

.tabset2
{
	padding:0 0 0 0;
	margin:50px 0 0 0;
	border-bottom:1px solid #e1e1e1;
}

.tabset2 li
{
		display:inline-block;
		margin-right:35px;
}

.tabset2 li a
{
	
	color:#282828;
	font-family: 'DIN Pro Cond';
	font-weight:500;
	font-size:24px;
	padding-bottom:12px;
	display:inline-block;
	margin-bottom:-1px;
}

.tabset2 li a.active
{
	color:#ce1635;
	border-bottom:1px solid #ce1635;
}

.tabset2 li a:hover
{
	text-decoration:none;
}

.mm-char-tab
{
	margin-bottom:80px;
	width:100%;
}
.mm-char-tab .mm-title-holder
{
	float:none;
	
}

.two-column-text
{
	overflow:hidden;
}
.two-column-text>div
{
	/*float:left;*/
	margin-right:20px;
}



.des_section{
	
	background:#f4f4f4;
	margin:40px -30px;
	padding:35px 30px;
}

.mm-name
{
	max-width:375px;
	padding-right:70px;
}
.mm-number 
{
	font-size:15px;
}
.mm-number input
{
	width:104px;
	text-align:center;
}

.mm-number .minus
{
	margin-right:-25px;
	position:relative;
}

.mm-number .plus
{
	margin-left:-25px;
	position:relative;
}
.mm-cart-table
{
	width:100%;
	margin-bottom:25px;
}

.mm-cart-table a
{
	color:#3a3a3a;
}
.mm-cart-table td{
	
	background:white;
	
	
}
.mm-cart-table tr
{
	border-bottom:1px solid #eaeff0;
}

.mm-cart-table tr:last-child
{
	border:0;
}
.mm-cart-table .mm-text-wrap a
{
	text-decoration:underline;
}

a.mm-delete
{
	color:#979797;
	
}

.mm-cart-form
{
	overflow:hidden;
	padding-bottom:65px;
	border-bottom:1px solid #bdc3c6;
	margin-bottom:60px;
}
.itog
{
	overflow:hidden;
	float:right;
}
.itog li
{
	display:inline-block;
	list-style-type:none;
	margin-left:50px;
	font-size:18px;
	text-align:right;
	color:#3a3a3a;
}

.value_itog
{
	color:#ce1635;
	font-family:"Lato Bold";
}

.itog .mm-sum
{
	color:#ce1635;
	font-size:29px;
}

.unsee
{
	display:none;
}

.container_finish
{
	overflow:hidden;
}

.column_finish
{
	float:left;
	width:42%;
	padding:0 0 0 0;
	box-sizing:border-box;
}

.column_finish:nth-child(1)
{
	margin-right:140px;
}
.mm-wrap-title{
	margin:0 0 0 15px;
}
.mm-text-wrap .wrap{
	margin-top: 5px;
}
.mm-text-wrap,  .select-area
{
	margin-bottom:15px;
}

.mm-text-wrap input, .mm-text-wrap textarea
{
	width:100%;
	color:#979797;
}

.payment_type, .dev_type_radio
{
	margin-bottom:25px;
}
input[type=radio]
{
	display:none;
}

.cont_radio
{
	display:inline-block;
	
}
.payment_type, .dev_type_radio
{
	position:relative;
	line-height:20px;
}
input[type="radio"]+label
{
	display:inline-block;
	position:relative;
	line-height:24px;
	height:24px;
	padding-left:30px;
	margin-right:25px;
	color:#3a3a3a;
	cursor:pointer;
	font-size:15px;
}
input[type="radio"]+label:before{
    content:"";
	width:22px;
	height:22px;
	border-radius:22px;
	border:1px solid #d0223f;
	display:inline-block;
	position:absolute;
	left:0;
}

.select-area
{
	width:100% !important;
}

input[type="radio"]:checked+label:after{
    content:"";
	width:10px;
	height:10px;
	border-radius:22px;
	background:#d0223f;
	display:inline-block;
	position:absolute;
	left:7px;
	top:7px;
}

#accept-order-button
{
	cursor:pointer;
	border:0;
	background:#ce1635;
	color:white;
	margin-top:60px;
	float:right;
}

.maincat_block{
	width:200px;
	height:220px;
	background:#fff;
	padding:10px;
	margin:10px 10px 30px 0;
	display:inline-block;
	border:1px solid #e1e1e1;
	vertical-align:bottom;
	text-align:center;
	text-decoration:none
}

.maincat_block>p{
	text-align:center;
	font-size:15px;
	letter-spacing:+1px;
	text-decoration:none;
	vertical-align:bottom
}

.maincat_block>img{
	width:150px;
	height:150px;
	margin:15px 25px 10px;
	background:#fff
}

.maincat_block:hover{
	border-color:#ca2032
}

.carusel_box h2, .mm-modal h2
{
	font-family: 'DIN Pro Cond';
	font-weight: bold;
	font-size:30px;
}

.mm-modal h2
{
	margin:0 0 25px 0;
}
.mm-modal {
    position: fixed;
    top: 100px;
    left: 35%;
    z-index: 1002;
    background: white;
    padding: 28px 35px 34px;
    border-bottom: 1px solid #f3f8fa;
    border-radius: 0px;
    width: 458px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5);
}

.mm-modal form
{
	padding:0 20px;
}
.mm-modal input
{
	width:100%;
}

input.text-active
{
	color:#282828
}

.mm-modal .close {
position: absolute;
right: 15px;
top: 15px;
width: 29px;
height: 29px;
opacity: 0.3;
cursor:pointer;
}

.mm-modal .mm-submit
{
	background:#f0b9c2;
	border:0;
	color:white;
	cursor:pointer;
}

.mm-modal .close:hover {
opacity: 1;
}
.mm-modal .close:before, .mm-modal .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 30px;
width: 2px;
background-color: #333;
}
.mm-modal .close:before {
transform: rotate(45deg);
}
.mm-modal .close:after {
transform: rotate(-45deg);
}

.info_modal
{
	font-size:14px;
	color:#979797;
	line-height:20px;
	margin: 30px 0 0 0;
}
.mm-modal .mm-title
{
	width:70%;
	display:inline-block;
	margin-bottom:25px;
}

.mm-modal .mm-price
{
	line-height:15px;
	vertical-align:top;
}

.field_cont
{
	width:260px;
	margin:0 auto;
}

.fader
{
	position:fixed!important;
}

.mm-question-form .mm-submit
{
margin-top:12px;
cursor:pointer;	
}
.mm-feedbacks-cont {
	width:45%;
	float:right;
	margin-top: 20px;
}
.mm-feedback-form {
	width:45%;
	float:left;
	margin-top: 35px;
}
.mm-feedback-form fieldset {
	border:0px;
	padding: 0px;
}
.mm-feedback-form .form-check {
	font-size: 15.5px;
	padding-left: 19px;
	padding-top: 4px;
	color: #979797;
}
.mm-feedback-form .mm-text-wrap {
	margin-top: 20px;
}
.mm-feedback-form textarea  {
	height: 200px;
	color: #979797;
	padding-top: 29px;
	font-size: 15px;
	padding-left: 20px;
	resize:none;
}

.mm-feedback-form .g-recaptcha {
	width:305px;
	margin: 10px auto 0;
}

.mm-feedback-form .rating-container {
	display: inline-block;
}
.mm-feedback-form .mm-submit {
	border-color: #ce1635;
	color: #ce1635;
	text-align: center;
	width: 150px;
	margin: 15px auto 0px;
	display: block;
	cursor: pointer;
}


.mm-feedback-form .glyphicon, .feedback-container .glyphicon {
	display: block;
	width: 25px;
	height: 25px;
	background-color: white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.mm-feedback-form .glyphicon-minus-sign {
	display: none;
}

.feedback-container {
	margin-top: 30px;
}

.feedback-container .glyphicon {
	width: 20px;
	height: 20px;
	padding-left: 1px;
}

.feedback-container .name-date-feed {
	display: inline-flex;
	padding-left: 5px;
	align-items: baseline;
}

.feedback-container .name-date-feed .name {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
.feedback-container .name-date-feed .date {
	color: #979797;
	font-size: 16px;
}
.feedback-container .feedback-question {
	font-size: 16px;
	margin-top: 20px;
	padding-left: 5px;
}

.mm-main-holder {
	margin-bottom: 20px;
}


.mm-search-form .autocomplete {
	display: block;
	position: absolute;
	top: 29px;
	width: 95%;
	padding: 0px;
	list-style: none;
	z-index: 10;
	margin: 0px;
	left: 0px;
	background-color: #ebeef0;
	font-size: 15px;
}
.mm-search-form .autocomplete li {
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top:2px;
	border-bottom: 1px solid #979797;
}
.mm-search-form .autocomplete li:last-child {
	border: 0px;
}
.mm-search-form .autocomplete li > a {
	text-decoration: none;
	color:#4a4a4a;
}


.title-holder {

}
.title-holder h2 {
	display: inline-block;
}
.title-holder .mm-cat-search {
	display: inline-block;
	margin-left: 20px;
}
.mm-cat-search input[type="submit"] {
	cursor: pointer;
	border-color: #ce1635;
	color: #ce1635;
}
.mm-cat-search input[type="submit"]:hover {
	color: #fff;
	background-color: #ce1635;
} 





.mm-paging-wrap {
    height: 36px;
    background-color: #e6e6e6;
    border-bottom: 2px solid #c1c1c1;
    padding: 8px 17px 0 17px;
}

.mm-paging-wrap .mm-all {
    float: right;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: url(../img/mm-btn02.png) no-repeat;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
}

.mm-paging-wrap .mm-all:hover {
    color: #fff;
}

.mm-paging-wrap .mm-prev,
.mm-paging-wrap .mm-next {
    background: url(../img/mm-btns03.png) no-repeat;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 3px 15px 0 0;
    float: left;
}

.mm-paging-wrap .mm-next {
    background-position: -33px 0;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 3px 15px 0 0;
    float: left;
}

.mm-paging-wrap .mm-next:hover {
    background-position: -33px -32px;
}

.mm-paging-wrap .mm-prev:hover {
    background-position: 0 -32px;
}

.mm-paging-wrap .paging {
    list-style: none;
    margin: 0 15px 0 0;
    padding: 0;
    float: left;
}

.mm-paging-wrap .paging li {
    float: left;
    /*background: url(../img/mm-separator07.png) no-repeat 0 100%;*/
    width: 32px;
    padding-left: 1px;
    font-size: 17px;
    font-weight: bold;
}

.mm-paging-wrap .paging li:first-child {
    background: none;
}

.mm-paging-wrap .paging a {
    display: block;
    height: 28px;
    padding: 3px 0 0;
    margin: 0 auto;
    text-align: center;
    width: 28px;
    text-decoration: none;
    color: #4a4a4a;
    box-sizing: border-box;
}

.mm-paging-wrap .paging a:hover,
.mm-paging-wrap .paging .active a {
    color: #fff;
    background: url(../img/mm-paging-a.png) no-repeat;
}

/* свойства для кнопок "в корзину" при клике */
.mm-popup-wrap-selected
{
	background:#ce1635;
	border:0;
}

.mm-popup-wrap-selected a
{
	color:white;
}

.catalog-cart > .mm-popup-wrap-selected{
	background:#00803B;
}
/* инструкция товара */
.pdficon{
	background: url('../img/pdf.png') center no-repeat;
	background-size: contain;
	width: 90px;
    height: 90px;
    margin: 20px;
}

.mm-char-tab .instructionbtn{
	display: inline-block;
    border: 1px solid #ce1635;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 20px;
    margin: 0 0 0 15px;
    text-decoration: none;
    color: #ce1635;
}

.mm-char-tab .instructionbtn:hover{
	background-color: #ce1635;
	color: white;
	cursor: pointer;
}

.mm-char-tab .feedback-container .feedback-question{
	border:1px solid rgba(206, 22, 53, 0.5);
	border-radius: 10px;
	padding-left: 10px;
	padding: 10px;
	position: relative;
}

.feedback-question:after, .feedback-question:before{
	position: absolute;
	content: "";
    top: -20px;
    left: 30px;
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
}

.feedback-question:before {
	top: -21px;
    border-bottom: 10px solid rgba(206, 22, 53, 0.5);
}

.fbrating{
	padding-bottom: 20px;
}

.avaragerating{
	margin-right: 5px;
}

.microdata{
	display: none;
}