@font-face{font-family:'arialnarrow';src:url('../fonts/ArailNarrow/arialnarrowbold-webfont.eot');src:url('../fonts/ArailNarrow/arialnarrowbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ArailNarrow/arialnarrowbold-webfont.woff2') format('woff2'), url('../fonts/ArailNarrow/arialnarrowbold-webfont.woff') format('woff'), url('../fonts/ArailNarrow/arialnarrowbold-webfont.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:'arialnarrow_bold_italic';src:url('../fonts/ArailNarrow/arialnarrowbolditalic-webfont.eot');src:url('../fonts/ArailNarrow/arialnarrowbolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ArailNarrow/arialnarrowbolditalic-webfont.woff2') format('woff2'), url('../fonts/ArailNarrow/arialnarrowbolditalic-webfont.woff') format('woff'), url('../fonts/ArailNarrow/arialnarrowbolditalic-webfont.ttf') format('truetype');font-weight:bold;font-style:italic;}
@font-face{font-family:'arialnarrow_italic';src:url('../fonts/ArailNarrow/arialnarrowitalic-webfont.eot');src:url('../fonts/ArailNarrow/arialnarrowitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ArailNarrow/arialnarrowitalic-webfont.woff2') format('woff2'), url('../fonts/ArailNarrow/arialnarrowitalic-webfont.woff') format('woff'), url('../fonts/ArailNarrow/arialnarrowitalic-webfont.ttf') format('truetype');font-weight:normal;font-style:italic;}
@font-face{font-family:'arialnarrow';src:url('../fonts/ArailNarrow/arialnarrowregular-webfont.eot');src:url('../fonts/ArailNarrow/arialnarrowregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ArailNarrow/arialnarrowregular-webfont.woff2') format('woff2'), url('../fonts/ArailNarrow/arialnarrowregular-webfont.woff') format('woff'), url('../fonts/ArailNarrow/arialnarrowregular-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
*{margin:0px;padding:0px;}
html{font-size:100%;font-family:'arialnarrow', 'Arial', 'sans-serif';}
body{}
header{background:#25919D;}
.hide{display:none;}
.clearfix{clear:both;}
.phones{height:35px;background:#cc0000;position:relative;}
.phones > div{height:inherit;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-align-items:center;align-items:center;-webkit-align-content:center;align-content:center;}
.phones > div > a{color:white;text-align:center;font-weight:bold;font-size:1rem;text-decoration:none;}
.mainpanel{height:94px;box-shadow:0 0 10px rgba(0, 0, 0, 0.5);}
.mainpanel > .top{padding:0px 20px;height:55px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;align-items:center;-webkit-align-content:center;align-content:center;color:white;background:whitesmoke;}
.main_menu{display:block;width:34px;height:24px;background:url('../img/icon_menu.png') 1px 0px no-repeat;}
.logo{display:block;width:163px;height:34px;background:url('/theme/img/logo2.png') 0px 0px no-repeat;background-size:contain;}
.basket_icon{display:block;position:relative;width:30px;height:24px;background:url('../img/kor.png') center center no-repeat;text-decoration:none;}
.basket_icon > .counter{position:absolute;width:14px;height:14px;top:-2px;right:-5px;line-height:14px;font-size:0.5rem;color:white;background:#6d6d6d;border-radius:10px;text-align:center;}
form.search{background:white;position:relative;height:40px;background:white;}
.search_area{position:absolute;padding:0px 0px 0px 20px;top:0px;bottom:0px;left:0px;right:60px;width:auto;}
.search_area > input{display:block;line-height:40px;outline:none;border:none;background:none;color:black;width:100%;height:inherit;font-size:0.875rem;font-weight:bold;font-family:'arialnarrow', 'Arial', 'sans-serif';}
.search_area > input::-webkit-input-placeholder{color:black;font-family:'arialnarrow', 'Arial', 'sans-serif';}
.search_area > input::-moz-placeholder{color:black;font-family:'arialnarrow', 'Arial', 'sans-serif';}
.search_area > input:-moz-placeholder{color:black;font-family:'arialnarrow', 'Arial', 'sans-serif';}
.search_area > input:-ms-input-placeholder{color:black;font-family:'arialnarrow', 'Arial', 'sans-serif';}
.search_submit{width:60px;right:0px;top:0px;bottom:0px;background:white;position:absolute;border:none;cursor:pointer;}
.search_submit:after{content:'';display:block;width:16px;height:16px;background:url('../img/sprite2.png') -320px -1px no-repeat;position:absolute;top:0px;right:0px;left:0px;bottom:0px;margin:auto;}
.catalog_area{padding:15px 10px;max-height:260px;overflow:hidden;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-align-items:flex-start;align-items:flex-start;-webkit-align-content:flex-start;align-content:flex-start;}
.catalog_area.open{max-height:none;}
.category{width:60px;word-wrap:break-word;text-align:center;margin:20px 7px 10px;height:100px;line-height:0px;}
.category > .image{width:58px;height:58px;display:block;background-size:contain;border:1px solid #efefef;border-radius:2px;background-repeat:no-repeat;background-position:center center;}
.category .name{text-decoration:none;color:black;font-size:0.75rem;font-weight:bold;letter-spacing:-0.5px;line-height:14px;}
section > .main_container{padding:0px 20px;}
.show_all_catalogs{display:block;width:100%;height:30px;color:white;background:#cc0000;font-size:0.875rem;font-weight:bold;border-radius:5px;text-align:center;text-decoration:none;text-transform:uppercase;}
.show_all_products{display:block;width:100%;height:58px;line-height:58px;border:1px solid #a53556;color:#a53556;font-size:1.125rem;text-transform:uppercase;font-weight:bold;border-radius:5px;text-align:center;text-decoration:none;text-transform:uppercase;}
.show_all_catalogs .arrow{display:inline-block;width:10px;height:12px;background:url('../img/sprite2.png') -43px -26px no-repeat;margin:0px 0px 0px 5px;}
.show_all_catalogs > span{vertical-align:middle;line-height:30px;}
footer{margin:40px 0px 0px;padding:10px 20px 30px;background:#cc0000;text-align:center;font-size:0.875rem;color:white;}
.footer_pages_menu{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;}
.footer_pages_menu > a{display:block;margin:5px 15px;text-decoration:none;color:white;}
.f_text{font-weight:bold;margin:10px 0px;}
.in_full_vers{display:block;height:30px;line-height:30px;font-weight:bold;text-align:center;background:#8a1522;border-radius:5px;color:white;text-decoration:none;margin:15px 0px 0px;}
.action_nav{overflow:hidden;}
.pages_list{list-style:none;padding:10px 0px;margin:45px 0px 35px;border-radius:10px;box-shadow:0px 0px 3px rgba(0, 0, 0, 0.1);}
.pages_list > li{line-height:35px;border-bottom:1px solid #f7f7f7;}
.pages_list > li:last-child{border-bottom:none;}
.pages_list > li > a{color:#3e3e3e;padding:0px;line-height:35px;font-size:0.875rem;padding:0px 20px;text-decoration:none;display:block;position:relative;}
.pages_list > li > a:after{content:'';display:block;position:absolute;width:6px;height:10px;top:0px;bottom:0px;right:20px;background:url('../img/sprite2.png') -61px -26px no-repeat;margin:auto;}
.site_info{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;}
.site_info > div{min-height:60px;margin:5px 0px;}
.site_info > div > p{margin:5px 0px;}
.site_info .phone{font-size:1.125rem;font-weight:bold;color:black;text-decoration:none;}
.site_info .phone > span{color:#a53556;}
.site_info .workmode{font-weight:bold;}
.pay_systems{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.pay_systems > div{width:32px;height:22px;margin:0px 10px 0px 0px;}
.pay_systems .mcard{background:url('../img/sprite2.png') -210px -0px no-repeat;}
.pay_systems .visa{background:url('../img/sprite2.png') -175px -0px no-repeat;}
.backcall{display:block;height:50px;line-height:50px;font-size:1.125rem;font-weight:bold;text-decoration:none;text-transform:uppercase;color:white;background:#62a621;border-radius:10px;text-align:center;margin:10px 0px;}
.action_nav{width:auto;position:absolute;padding:30px 20px;z-index:8;left:0px;right:0px;background:white;box-shadow:0px 5px 10px rgba(0, 0, 0, 0.5);transform-origin:top center;-webkit-transform-origin:top center;transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;}
.action_nav li{margin:0px;}
.action_nav.hide{opacity:0.8;transform:rotateX(-90deg);-webkit-transform:rotateX(-90deg);}
.section_list{list-style:none;}
.section_list > li{max-height:31px;}
.section_list > li{max-height:none;}
.section_list > li:last-child > a{border-bottom:none;}
.section_list > li > a{display:block;height:40px;line-height:40px;font-size:1rem;font-weight:bold;color:#3e3e3e;text-decoration:none;border-bottom:1px solid #d4d4d4;}
.category_list{max-height:0px;overflow:hidden;}
.category_list.wrap{max-height:none;}
.category_list > li{margin:5px 0px;}
.category_list > li > a{display:block;font-size:0.875rem;color:#3e3e3e;text-decoration:none;line-height:30px;margin:0px 10px;}
section > .top{box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.1);background:#f4f4f4;position:relative;height:35px;padding:0px 20px;}
section > .top:after{content:'';position:absolute;display:block;width:1px;margin:auto;height:100%;top:0px;left:0px;right:0px;bottom:0px;background-color:#d8d8d8;}
section > .top > div{height:35px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;}
section > .container{padding:20px 25px;}
.top .back{position:relative;color:#474747;font-size:0.875rem;font-weight:bold;text-decoration:none;}
.top .back:before{content:'';display:inline-block;background:url('../img/sprite2.png') -0px -25px no-repeat;width:6px;height:10px;margin:0px 10px 0px 0px;}
.top .next{position:relative;color:#474747;font-size:0.875rem;font-weight:bold;text-decoration:none;}
.top .next:after{content:'';display:inline-block;background:url('../img/sprite2.png') -97px -26px no-repeat;width:6px;height:10px;margin:0px 0px 0px 10px;}
.breadcrumbs{list-style:none;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;flex-wrap:wrap;}
.breadcrumbs a{font-size:0.875rem;text-decoration:none;color:#3e3e3e;}
.catlist{list-style:none;}
.catlist > li{display:block;border-radius:10px;border:1px solid #f7f7f7;margin:20px 0px;box-shadow:0px 2px 8px rgba(200, 200, 200, 0.5);}
.list_element_cart{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;height:inherit;padding:15px 10px;}
.list_element_cart > .img{background-size:contain;background-position:center;background-repeat:no-repeat;min-height:80px;position:relative;border:1px solid #f9f9f9;border-radius:3px;min-width:80px;width:25%;padding:5px;text-align:center;}
.list_element_cart > .img > img{margin:5px;max-width:100%;max-height:200px;}
.list_element_cart > .info{width:50%;}
.list_element_cart .title{font-size:1rem;text-decoration:none;color:#3e3e3e;display:block;margin:0px 0px 10px;}
.info_flags_true{font-size:0.875rem;color:#62a621;line-height:24px;}
.info_flags_false{font-size:0.875rem;color:#B7B7B7;line-height:24px;}
.info_flags_true:before,
.info_flags_false:before{content:'';display:inline-block;width:16px;height:16px;vertical-align:middle;margin:0px 8px 2px 0px;}
.info_flags_true.available:before{background:url('../img/sprite2.png') -270px -1px no-repeat;}
.info_flags_false.available:before{background:url('../img/sprite2.png') -270px -18px no-repeat;}
.info_flags_true.delivery:before{background:url('../img/sprite2.png') -288px -2px no-repeat;}
.info_flags_false.delivery:before{background:url('../img/sprite2.png') -288px -19px no-repeat;}
.list_element_cart .price{font-size:0.875rem;font-weight:bold;color:#3e3e3e;margin:10px 0px;}
.list_element_cart .price:nth-child(2){font-size:1.125rem;}
.list_element_cart .price:nth-child(3){font-size:1rem;}
#video_cont{display:flex;justify-content:center;min-width:375px;min-height:300px;}
.in_basket{display:inline-block;text-align:center;font-size:1rem;font-weight:bold;color:white;background:#cc0000;border-radius:5px;text-decoration:none;min-width:110px;}
.in_basket.active{background:#6d6d6d;}
.fast_order{background:#f17820;display:inline-block;text-align:center;font-size:1rem;font-weight:bold;color:white;border-radius:5px;text-decoration:none;}
.cart .in_basket,
.cart .fast_order{margin:5px 0px;width:100%;height:50px;line-height:50px;}
.list_element_cart .in_basket{width:65%;height:30px;line-height:30px;min-width:130px;}
.callphone{display:flex;justify-content:center;background:#cc0000;border-radius:5px;text-decoration:none;min-width:110px;margin:5px 0px;width:100%;height:60px;line-height:20px;}
.callphone.active{background:#6d6d6d;}
.phnicon{display: inline-block;margin:auto 0;width:30px;height:30px;margin-right:10px;background:url('../img/sprite.png') -159px -36px no-repeat;}
.phntext{display:inline-block;margin:auto 0;font-size:1rem;color:#fff;font-weight:700;}
.phntext>span:last-child{font-size: .875rem;font-weight: 400}
.feedback_count{position:absolute;}
.sort_filters{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;}
.sort_filters > a{height:30px;line-height:30px;padding:0px 10px;color:#cc0000;font-size:0.875rem;font-weight:bold;border-radius:5px;text-align:center;text-decoration:none;box-shadow:0px 1px 5px rgba(100, 100, 100, 0.2);}
.sort_filters > a.active{color:white;box-shadow:none;background:#cc0000;}
.sort_filters > .arrow_up,
.sort_filters > .arrow_down{position:relative;padding:0px;width:30px;}
.arrow_up:after{content:'';position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;width:12px;height:8px;background:url('../img/sort_ar_up.png') center center no-repeat;}
.arrow_down:after{content:'';margin:auto;position:absolute;top:0px;left:0px;right:0px;bottom:0px;width:12px;height:8px;background:url('../img/sort_ar_down.png') center center no-repeat;}
.arrow_down.active:after{background:url('../img/sprite2.png') -20px -26px no-repeat;background-position:-81px -27px;}
.arrow_up.active:after{background:url('../img/sprite2.png') -20px -26px no-repeat;background-position:-68px -28px;}
.cat_title{padding:12px 0px 12px;line-height:26px;}
.paginator{padding:10px 0px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;}
.paginator > a{height:30px;line-height:30px;padding:0px 10px;color:#cc0000;font-size:0.875rem;font-weight:bold;border-radius:5px;text-align:center;text-decoration:none;box-shadow:0px 1px 5px rgba(100, 100, 100, 0.2);margin:0px 5px;}
.paginator > a.active,
.paginator > a:hover{color:white;box-shadow:none;background:#cc0000;}
.cart > .info{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:baseline;align-items:baseline;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;}
.price > span:nth-child(1){font-weight:bold;color:#565656;}
.price > span:nth-child(2){font-size:1.5rem;font-weight:bold;color:#cc0000;}
.price > span:nth-child(3){font-weight:bold;color:#565656;}
.lazy_slider{width:100%;margin:10px auto;padding:5px;}
.lazy_slider .image{height:250px;position:relative;border-radius:15px;padding:15px 0px;margin:10px;box-shadow:0px 1px 5px rgba(100, 100, 100, 0.2);}
.s_element{position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;max-width:80%;max-height:250px;margin:auto;}
.lazy_slider .slick-dots{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:baseline;align-items:baseline;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;list-style:none;padding:10px 0px;}
.lazy_slider .slick-dots > li{width:16px;height:16px;border-radius:12px;border:none;background:#eeeeee;margin:5px 5px;}
.lazy_slider .slick-dots > li.slick-active{background:#cc0000;}
.lazy_slider .slick-dots > li > button{display:none;}
.panel2{margin:10px 0px;position:relative;background:#fafafa;min-height:50px;box-shadow:0px 1px 5px rgba(100, 100, 100, 0.4);}
.panel2 > div.block{padding:3px 20px;height:inherit;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;min-height:44px;}
.panel2 > div.block span{font-size:0.875rem;color:#3d3d3d;}
.panel2 > div.block span:nth-child(2){font-weight:bold;}
.panel2 .delivery,
.panel2 .time_delivery{max-width:40%;vertical-align:middle;}
.panel2 > div.separator{position:absolute;top:0px;left:0px;right:0px;bottom:0px;width:1px;background:#e5e5e5;height:100%;margin:0px auto;}
.product_des{margin:30px 0px 0px;}
.product_des .head{margin:15px 0px 0px;padding:0px 20px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.product_des .head > .button{width:50%;color:#3e3e3e;font-size:1.125rem;font-weight:bold;background:#f6f6f6;border-radius:10px 10px 0px 0px;height:38px;line-height:38px;text-align:center;cursor:pointer;}
.product_des .head > .button.active{color:white;background:#941c3f;box-shadow:inset 0px 5px 10px rgba(0, 0, 0, 0.2);}
.product_des .head > .button.deactive{display:none;}
.product_des .wrapper{padding:10px 20px 25px;box-shadow:0px 1px 5px rgba(50, 50, 50, 0.3);}
.product_des .wrapper h4{width:90%;color:#3e3e3e;font-size:1.125rem;font-weight:bold;margin:10px auto;}
.product_des .feat_area ul{padding-left:35px;margin:0px auto;width:90%;color:#941c3f;list-style:square;}
.product_des .feat_area ul > li > span{font-size:0.875rem;color:#3e3e3e;}
.product_des .wrapper > div{display:none;}
.product_des .wrapper > div.active{display:block;}
.product_des .des_area p{margin:10px 0px;font-size:0.875rem;color:#3e3e3e;line-height:16px;}
.product_des .des_area ul{padding-left:35px;font-size:0.875rem;color:#3e3e3e;list-style:square;}
.phone_btn2{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;-webkit-align-content:center;align-content:center;margin:10px 0px;width:100%;height:60px;padding:5px 0px;line-height:20px;text-decoration:none;color:white;background:#81a729;border-radius:5px;min-width:110px;box-shadow:3px 3px 0px rgb(86,119,11);}
.phone_btn2 > .icon{display:inline-block;width:30px;height:30px;margin-right:10px;background:url('../img/sprite2.png') -158px -36px;}
.phone_btn2 > .text{font-size:1rem;color:white;font-weight:bold;}
.phone_btn2 > .text span:last-child{font-size:0.875rem;font-weight:normal;}
.subtitle{height:30px;position:relative;margin:25px 0px 10px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;align-items:center;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;}
.subtitle > h3{display:block;font-size:0.875rem;color:#cc0000;text-transform:uppercase;text-align:center;line-height:30px;font-weight:normal;padding:0px 15px;}
.subtitle:after, .subtitle:before{content:'';display:block;width:10%;background:#cc0000;height:1px;flex-grow:2;}
.feedbacks{padding:5px 0px 20px;overflow:hidden;box-shadow:0px 1px 5px rgba(50, 50, 50, 0.3);}
.feedbacks .wrap{padding:0px 40px;}
.feedbacks .head{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;align-items:center;margin:10px 0px;}
.feedbacks .name{font-size:1rem;color:#941c3f;font-weight:bold;}
.feedbacks .date{font-size:0.652rem;color:#919191;}
.feedbacks .body{margin:10px 0px;font-size:0.75rem;color:#3e3e3e;line-height:18px;}
.feedbacks .body p{margin:8px 0px;}
.feedbacks .slick-arrow{position:absolute;display:block;width:60px;height:60px;border-radius:40px;font-size:0rem;background:#941c3f;box-shadow:inset 0px 5px 10px rgba(0, 0, 0, 0.2);border:none;z-index:5;}
.feedbacks .slick-arrow:after{content:'';display:block;position:absolute;width:10px;height:16px;top:0px;bottom:0px;margin:auto;background:url('../img/sprite2.png') 0px 0px no-repeat;z-index:6;}
.feedbacks .slick-prev{top:0px;bottom:0px;left:-38px;margin:auto;}
.feedbacks .slick-next{top:0px;bottom:0px;right:-38px;margin:auto;}
.feedbacks .slick-prev:after{right:8px;background-position:-338px 0px;}
.feedbacks .slick-next:after{left:8px;background-position:-338px -18px;}
.bot_listing{padding:5px 10px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;flex-wrap:wrap;}
.bot_listing .element{min-width:110px;max-width:130px;text-align:center;margin:10px;}
.bot_listing .img{padding:10px;height:110px;display:block;position:relative;box-shadow:2px 2px 7px rgba(50, 50, 50, 0.2);border-radius:10px;}
.bot_listing img{display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;max-width:110px;max-height:110px;margin:auto;}
.bot_listing .name{margin:10px 0px 5px;color:#3e3e3e;font-size:0.875rem;}
.bot_listing .price{margin:0px;font-size:1.125rem;font-weight:bold;color:#cc0000;}
.bottom_separator{margin:15px 0px 0px;height:1px;background:#e3e3e3;}
form.make_order .item{margin:20px 0px;}
form.make_order .item .head{background:#f6f6f6;padding:5px 20px;min-height:28px;line-height:28px;font-size:0.875rem;color:#606060;font-weight:bold;}
form.make_order .item .body{padding:0px 15px;min-height:90px;box-shadow:0px 1px 4px rgba(50, 50, 50, 0.3);display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-align-items:center;align-items:center;}
form.make_order .body > div{margin:0px 5px;}
form.make_order .item .image{position:relative;height:68px;width:68px;border:1px solid #dedede;border-radius:3px;}
form.make_order .image > img{position:absolute;max-height:64px;max-width:64px;top:0px;bottom:0px;left:0px;right:0px;margin:auto;display:block;}
form.make_order .control{min-width:100px;max-width:35%;height:70px;text-align:center;}
form.make_order .control > div{height:50%;}
form.make_order .del_product{font-size:0.875rem;text-decoration:none;color:#606060;text-align:center;margin-top:20px;}
form.make_order input[name="count"]{width:26px;border:1px solid #dedede;border-radius:5px;padding:5px;vertical-align:top;margin:0px 2px;}
form.make_order .inc,
form.make_order .dec{vertical-align:top;width:16px;height:16px;border:5px solid #cc0000;border-radius:5px;display:inline-block;background:url('../img/sprite2.png') no-repeat #cc0000;}
form.make_order .inc{background-position:-212px -22px;}
form.make_order .dec{background-position:-228px -22px;}
form.make_order .price{color:#cc0000;font-weight:bold;min-width:50px;max-width:40%;margin:0px;}
form.make_order .list_summ{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;align-items:center;padding:0px 20px;color:#606060;font-weight:bold;}
form.make_order .container{padding:0px 20px;}
form.make_order h3{font-size:1.125rem;color:#606060;font-weight:bold;text-transform:uppercase;}
form.make_order .list_summ p:last-child{font-size:1.5rem;}
form.make_order .final_order{margin:15px 0px;color:white;background:#62a621;height:50px;display:block;line-height:50px;font-size:1.125rem;font-weight:bold;text-transform:uppercase;text-decoration:none;text-align:center;border-radius:5px;}
form.make_order .final_order:after{content:'';margin:0px 0px 0px 10px;display:inline-block;height:16px;width:12px;background:url('../img/sprite2.png') -350px -3px no-repeat;vertical-align:middle;}
form.make_order .info input{padding:4px;width:100%;height:30px;line-height:30px;margin:10px 0px;display:block;border-radius:5px;border:1px solid #dedede;color:#878585;box-sizing:border-box;}
form.make_order input.warrning{background-color:#FDDEDE;}
form.make_order .pay_type{margin:15px 0px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;}
form.make_order .pay_type > div{width:40%;border-radius:3px;display:block;border:1px solid #dedede;min-height:128px;vertical-align:middle;color:#606060;font-weight:bold;text-align:center;}
form.make_order .pay_type .icon{content:'';display:block;margin:25px auto 5px;width:36px;height:28px;background-image:url('../img/sprite2.png');display:inline-block;}
form.make_order .pay_type .icon.bk{background-position:-17px -37px;}
form.make_order .pay_type .icon.nal{background-position:-125px -37px;}
form.make_order .pay_type .active .icon.bk{background-position:-52px -37px;}
form.make_order .pay_type .active .icon.nal{background-position:-89px -37px;}
form.make_order .pay_type .active{background:#cc0000;border-color:#e84f00;color:white;}
form.make_order .delivery_wrapper{position:relative;margin:15px 0px;line-height:48px;overflow:hidden;border-radius:5px;border:1px solid #dedede;}
form.make_order .delivery_wrapper .control2{position:absolute;right:20px;top:20px;border:5px solid transparent;border-top:10px solid #cc0000;display:block;}
form.make_order .delivery_wrapper ul{padding:0px 40px 0px 10px;list-style:none;}
form.make_order .delivery_wrapper li{height:28px;padding:10px 0px;line-height:28px;color:#606060;font-size:0.875rem;overflow:hidden;}
form.make_order .delivery_wrapper li.active{font-weight:bold;}
form.make_order .delivery_wrapper.min li:not(.active){display:none;}
form.make_order .comment_order textarea{border:1px solid #dedede;border-radius:5px;padding:5px;font-family:inherit;font-size:0.875rem;width:100%;height:200px;box-sizing:border-box;margin:10px 0px;}
form.make_order .finish_summ > div{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;-webkit-align-items:flex-start;align-items:flex-start;margin:10px 0px;color:#606060;font-weight:bold;}
form.make_order .finish_summ > div > div{max-width:48%;}
form.make_order .finish_summ > div > div:last-child{text-align:right;}
form.make_order .finish_summ .red{color:#cc0000;}
form.make_order .finish_order_btn{display:block;height:50px;line-height:50px;color:white;text-decoration:none;text-transform:uppercase;color:white;font-size:1.125rem;background:#cc0000;border-radius:5px;text-align:center;margin:20px 0px;}
.error_warrning{margin:20px 0px 10px;color:red;font-weight:bold;display:none;}
.error_warrning.warrning{display:block;}
.error_messages{padding-left:10px;list-style-position:inside;}
.error_messages > li{font-size:0.875rem;color:red;display:none;}
.error_messages > li.warrning{display:block;}
.finish_order{padding:30px 20px;min-height:65vh;}
.finish_order h3{font-size:1.25rem;text-align:center;margin:20px 0px;}
.finish_order p{margin:10px 0px;}
.finish_order .t2, .finish_order .red{font-weight:bold;color:#cc0000;}
.subcats{padding:5px 10px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;align-items:flex-start;-webkit-justify-content:space-around;-moz-justify-content:space-around;justify-content:space-around;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;flex-wrap:wrap;}
.subcats > .element{width:110px;text-align:center;margin:10px;}
.subcats .img{padding:10px;height:110px;display:block;position:relative;box-shadow:2px 2px 7px rgba(50, 50, 50, 0.2);border-radius:10px;margin-bottom:10px;}
.subcats img{display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;max-width:100px;max-height:100px;margin:auto;}
.subcats .title{color:#cc0000;font-weight:bold;text-decoration:none;line-height:18px;}
.inp_extra_information{width:100%;border:1px solid #dedede;}
table{width:100% !important;}
.mm-map>ymaps{width:100% !important;}