#table-1 input[type="number"] {
	width: 50px;
}
#table-1 div.inline {
	display: inline-block;
	padding: 1em;
}
#table-1 form.ajaxAutoSafe {
	display: inline-block;
	float: right;
}
#delivery-group-add label {
	margin: 0;
	width: 8em;
	text-align: right;
}


#delivery-group-add button{
	width: 9em;
}
.delivery-group-list form {
	margin: 0;
}

form.ajaxAutoSafe{
	margin: 0;
}
.ajaxAutoSafe .input-append button{
	width: 28px;
	height: 28px;
}
.ajaxAutoSafe .input-append button i{
	margin-left: -4px;
}
.forms .btn-primary.add {
float: right;
}
form.ajaxAutoSafe input.error{
	border-color: #B94A48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form.ajaxAutoSafe input[type='text'],
form.ajaxAutoSafe span.text
{
	width:10em;
}

form.ajaxAutoSafe input[type='number'],
form.ajaxAutoSafe span.number
{
	width:7em;
}
form.ajaxAutoSafe select{
	width: 11em;
}

#gabarits-group, #delivery-group{
	float:left;
}