@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'UniSansHeavyItalic';
    src: url(../fonts/UniSans/Uni_Sans_Heavy_Italic.otf);
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url(../fonts/UniSans/Uni_Sans_Heavy.otf);
}

@font-face {
    font-family: 'UniSansThinItalic';
    src: url(../fonts/UniSans/Uni_Sans_Thin_Italic.otf);
}

@font-face {
    font-family: 'UniSansThin';
    src: url(../fonts/UniSans/Uni_Sans_Thin.otf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    color: #4a4a4a;
    /*font: 17px/21px 'PT Sans Narrow', sans-serif;*/
    font: 17px/21px 'Verdana';
    height: 100%;
}
h2 {
    font-size:1.25em;
}
img {
    border-style: none;
    display: block;
}

a {
    color: #cc0000;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #e54d1c;
}

input,
textarea,
select {
    font: 100% 'PT Sans Narrow', sans-serif;
    vertical-align: middle;
    color: #000;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

header,
section,
footer,
nav,
article,
aside {
    display: block;
}

html,
body,
#wrap {
    height: 100%;
}

body > #wrap {
    min-height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */

.mm-page {
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*padding-bottom: 135px;*/
    
    overflow: hidden;
}

.mm-container {
    width: 1004px;
    margin: 0 auto;
}
.mm-header:before {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	left:0px;
    height: 51px;
	background:#cc0000;
	z-index:0;
}
.mm-header {
    margin: 0 -458px;
    padding: 0 458px;
	font-family: Myriad Pro, sans-serif;
}

.mm-top {
    height: 51px;
	position:relative;
	z-index:5;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.mm-top > .w-hours {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
	font-family: Myriad Pro;
	margin-left:95px;
}
.mm-top:after {
    content: "";
    display: block;
    clear: both;
}

.mm-top-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background: url(../img/mm-separator.png) no-repeat 100% 17px;*/

}

.mm-top-nav li {
    float: left;
    /*background: url(../img/mm-separator.png) no-repeat 0 17px;*/
    padding: 0 10px 0 10px;
}

.mm-top-nav a {
    display: block;
    color: #fff;
	text-decoration:none;
	font-size:13px;
}

.mm-top-nav .active a,
.mm-top-nav a:hover {
    /*background: url(../img/mm-bg-nav-h.png) no-repeat 50% 0;*/
    /*border-bottom:3px solid #fff;*/
    /* font-weight: 700; */
}

.mm-top-nav li:hover {
    /* border-bottom: 2px solid #fff; */
    /* background: url('../img/left-triangle.png') no-repeat, url('../img/right-triangle.png') no-repeat right; */
}

.mm-cart-wrap {
	padding: 0px 0 0 40px;
    color: #4a4a4a;
    position: relative;
    margin-right: 20px;
}

.mm-cart-wrap .basket_link {
    color: #fff;
}
.mm-cart-wrap::before {
	content: "";
    display: block;
    width: 37px;
    height: 34px;
    position: absolute;
    background: url(../img/mm-bg-cart03.png) no-repeat;
    left: -6px;
    top: -4px;
}
.mm-cart-wrap .issue {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: #FFF;
    background: #cc0000;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-empty {
	color: #fff;
}

.mm-head-box {
    height: 86px;
    position: relative;
    z-index: 11;
}

.mm-head-box:after {
    content: "";
    display: block;
    clear: both;
}

.mm-header .mm-logo {
    float: left;
    background: url(../img/mm-logo3.png) no-repeat 2px 5px;
    width: 270px;
    height: 82px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0;
}

.mm-header .mm-logo a {
    display: block;
    height: 100%;
}

.mm-header .mm-popup-holder {
    position: relative;
    margin: 0 0 11px;
}

.mm-header .mm-popup-holder .mm-open {
    font-size: 16px;
    color: #4a4a4a;
    background: url(../img/mm-bg-arrow.png) no-repeat 100% 9px;
    text-decoration: none;
    padding: 0 15px 0 0;
    cursor: pointer;
}

.mm-popup-holder .mm-open span {
    border-bottom: 1px dashed #4a4a4a;
}

.mm-header .mm-popup-holder .mm-open:hover,
.mm-header .mm-popup-active .mm-open {
    color: #4a4a4a;
}

.mm-header .mm-popup-holder .mm-open:hover span,
.mm-header .mm-popup-active .mm-open span {
    border: 0;
}

.mm-info-box {
    float: left;
    padding: 48px 0 0;
    margin-left: 145px;
}

.mm-info-box .mm-price-list {
    background: url(../img/mm-bg-price.png) repeat-x;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    zoom: 1.2;
}

.mm-info-box .mm-popup {
    position: absolute;
    top: 32px;
    right: -18px;
    width: 162px;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #fff;
    padding: 10px 17px 10px 18px;
    display: none;
}

.mm-info-box .mm-popup-active .mm-popup {
    display: block;
}

.mm-info-box .mm-popup:after {
    position: absolute;
    top: -8px;
    right: 20px;
    content: '';
    background: url(../img/mm-bg-arrow02.png) no-repeat;
    width: 12px;
    height: 8px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-info-box .mm-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-info-box .mm-popup li {
    border-top: 1px solid #c7d5d9;
}

.mm-info-box .mm-popup li:first-child {
    border: 0;
}

.mm-info-box .mm-popup a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    display: block;
    line-height: 20px;
    padding: 6px 17px 6px 18px;
    margin: -1px -17px -1px -18px;
}

.mm-info-box .mm-popup a:hover {
    color: #cc0000;
}
.header-phones {
	display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.mm-phone {
	display:block;
}
.mm-phone div:first-child {
	font-weight:bold;
	font-size: 29px;
    color: #4a4a4a;
	font-family:'PT Sans Narrow',sans-serif;
}
.mm-phone div:first-child > span {
	color:#cc0000;
}
.mm-phone > .phone-text {
	margin-top:5px;
	font-size:14px;
}

.mm-contacts {
    float: left;
    padding: 35px 0 0 35px;
}

.mm-contacts strong {
    display: block;
    font-size: 29px;
    color: #4a4a4a;
    margin: 0 0 3px;
}

.mm-contacts strong span {
    color: #cc0000;
}

.mm-contacts .mm-note {
    font-size: 15px;
    color: #4a4a4a;
}

.mm-box-type {
    float: right;
    padding: 0px 0 0;
    /*margin:0 -2px 0 0;*/
    
    padding-top: 40px;
    margin: 0px 15px 0 0;
    padding: 0;
}

.mm-contacts .mm-schedule {
    display: block;
    font-size: 15px;
    color: #cc0000;
    /*margin: 0 0 14px;*/
}

.mm-contacts .mm-schedule span {
    color: #4a4a4a;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 2px;
    background: url('../img/calendar-icon.png') no-repeat;
}

.mm-contacts .mm-email {
    color: #4a4a4a;
    font-size: 15px;
}

.mm-contacts .mm-email span {
    color: #01647f;
    text-decoration: underline;
}

.mm-box-type strong {
    letter-spacing: -0.5px;
}
.mm-search-cart {
    height: 51px;
    background: #cc0000;
    margin-bottom: 3px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.mm-nav-wrap {
    /* background: url(../img/mm-nav.png) no-repeat; */
	background: #cc0000;
    width: 1004px;
    height: 60px;
    position: relative;
    z-index: 9;
} 

.mm-nav {
    height:100%;
}

.mm-nav > ul {
    list-style: none;
    margin: 0;
	padding:0px;
	position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 100%;
}


.mm-nav ul>li {
	
}



.mm-nav > ul>li.has-drop-down>a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    background: url(../img/arrow_dropdown.png) no-repeat 50% -7px transparent;
    background-size: 100%;
    width: 100%;
    height: 15px;
    text-indent: -9999px;
    overflow: hidden;
    display: none;
    z-index: 10;
}



.mm-nav > ul>li>a {
    font-size: 18px;
    color: #fff;
	height:60px;
    line-height: 65px;
    text-decoration: none;
    padding: 0 17px;
    position: relative;
    line-height: 18px;
    max-width: 200px;
    vertical-align: middle; 
	text-align:center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.mm-nav ul>li:hover {
    /*background: url(../img/mm-nav-h.png) no-repeat 50% 0;*/
    
    background-color: #e6e6e6;
}

.mm-nav ul>li:hover>a {
    color: #4a4a4a;
}
.mm-nav ul>li:hover>a .menu-icon {
    background: url(../img/menu-icon-sprite.png) no-repeat 4px 2px;
}
.mm-nav ul>li:hover>a:after {
    display: block;
}

.mm-search-form {
    float: right;
    width: 53%;
    height: 29px;
    padding: 0 16px 0 21px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-left: 15px;
    background: #fff;
	position:relative ;
}

.mm-search-form .mm-text {
    float: left;
    width: 515px;
    height: 19px;
    padding: 5px 0;
    color: #4a4a4a;
    font-size: 14px;
    background: none;
    border: 0;
    outline: none;
}

.mm-search-form .mm-submit {
    float: right;
    background: url(../img/mm-submit.png) no-repeat;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 8px 0 0;
}
.mm-search-form .autocomplete {
	display: block;
    position: absolute;
    top: 29px;
    width: 100%;
    padding: 0px;
    list-style: none;
    z-index: 10;
    background: white;
    margin: 0px;
    left: 0px;
}
.mm-search-form .autocomplete li {
    padding-left: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}
.mm-search-form .autocomplete li:last-child {
	border: 0px; 
}
.mm-search-form .autocomplete li > a {
	text-decoration: none;
}

.mm-submit-price {
    height: 27px;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding: 0px 25px;
    border: 0px solid;
    background: #cc0000;
    outline: none!important
}

.mm-nav .mm-drop {
    position: absolute;
    left: 0;
	margin-top:-2px;
	background-color: #fff;
	border: 1px solid #cc0000;
	display: none;
	width:100%;
}

.mm-nav li:hover .mm-drop {
    display: block;
}

.mm-nav .mm-drop .mm-cols-wrap {
	display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* background: url(../img/mm-cols.png) repeat-y 385px 0; */
	padding-top:20px;
	padding-bottom:20px;
}


.mm-nav .mm-drop .mm-column {
    float: left;
    min-width: 380px;
}
.mm-column .mm-column-link {
	margin-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mm-column .mm-column-link > a {
	color:#000;
	text-decoration:none;
	font-family: Myriad Pro, 'sans-serif';
}
.mm-column .mm-column-link > a:hover {
	font-weight:bold;
}
.mm-nav .mm-drop ul {
    list-style: none;
    margin: 0;
	padding:0px;
	padding-left:20px;
}

.mm-nav .mm-drop .mm-column ul:last-child {
    padding: 0 0 0 33px;
}

.mm-nav .mm-drop ul li {
    float: none;
    height: auto;
}

.mm-nav .mm-drop ul a {
    text-decoration: none;
    line-height: 14px !important;
    display: block;
    font-family: 'UniSansThin';
    font-weight: bold;
    color: #4a4a4a !important;
    font-size: 12px;
}

.mm-nav .mm-drop ul a:hover {
    text-decoration: none !important;
    color: #cc0000 !important;
}

.mm-nav .mm-drop ul li:first-child a {
    font-size: 12px;
    font-family: 'UniSansHeavy', 'Arial', 'sans-serif';
}

.mm-slideshow {
    position: relative;
    width: 1004px;
    margin: 0 auto;
    overflow: hidden;
}

.mm-slideshow .gholder {
    overflow: hidden;
    width: 100%;
}

.mm-slideshow .gmask {
    position: relative;
    overflow: hidden;
    height: 476px;
}

.mm-slideshow .gmask .slideset {
    list-style: none;
    overflow: hidden;
    height: 527px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mm-slideshow .gmask .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 902px;
    height: 465px;
    padding: 62px 0 0 102px;
}

.mm-slideshow .gmask div.active {
    z-index: 1;
}

.mm-slideshow a.btn-prev,
.mm-slideshow a.btn-next {
    position: absolute;
    top: 195px;
    left: 0;
    background: url(../img/mm-btns.png) no-repeat;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 4;
}

.mm-slideshow a.btn-next {
    left: auto;
    right: 0;
    background-position: -35px 0;
}

.mm-slideshow a.btn-prev:hover {
    background-position: 0 -35px;
}

.mm-slideshow a.btn-next:hover {
    background-position: -35px -35px;
}

.mm-slideshow .c1 {
    background: url(../img/mm-slide0.png) no-repeat 347px 25px;
}

.mm-slideshow .c2 {
    background: url(../img/slide2.png) no-repeat 544px 50px;
}

.mm-slideshow .c3 {
    background: url(../img/mm-slide02.png) no-repeat 288px 28px;
    padding: 44px 0 0 102px !important;
}

.mm-slideshow .c4 {
    background: url(../img/mm-slide03.png) no-repeat 461px 49px;
    padding: 79px 0 0 102px !important;
}

.mm-intro-box {
    background: url(../img/mm-slider.jpg) no-repeat;
    height: 527px;
    height: 475px;
    margin: -25px -458px 50px;
    padding: 0 458px;
    border-top: 1px solid #fff;
    position: relative;
    z-index: 3;
    color: #4a4a4a;
}

.mm-slideshow h2 {
    margin: 0 0 36px;
    font-size: 32px;
    line-height: 36px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.mm-slideshow h2 a {
    color: #cc0000;
    text-decoration: underline;
}

.mm-slideshow h2 a:hover {
    text-decoration: none;
}

.mm-slideshow .mm-info {
    list-style: none;
    margin: 0 0 37px;
    padding: 0;
}

.mm-slideshow .mm-info li {
    background: url(../img/mm-bullet.png) no-repeat 0 4px;
    padding: 0 0 19px 33px;
    font-size: 18px;
    line-height: 19px;
}

.mm-slideshow .more {
    width: 148px;
    height: 46px;
    line-height: 46px;
    border: 3px solid #cc0000;
    margin: 0 0 0 34px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cc0000;
    font-size: 19px;
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.mm-slideshow .c2 .mm-info li,
.mm-slideshow .c3 .mm-info li,
.mm-slideshow .c4 .mm-info li {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    padding: 0 10px 10px 33px;
    min-height: 28px;
}

.mm-main {
    height: 1%;
    padding: 0 0 0px;
}

.mm-main:after {
    content: "";
    display: block;
    clear: both;
}

.mm-aside {
    float: right;
    width: 239px;
}

.mm-aside .mm-news-box {
    background: url('../img/news-back.png') no-repeat;
    background-color: #e0e0e0;
    border-radius: 0px;
    padding: 22px 0 23px;
    margin: 0 0 56px;
    position: relative;
}

.mm-news-box .mm-title-box {
    background: url(../img/mm-title02.png) no-repeat;
    padding: 0 34px;
}

.mm-news-box .mm-title-box h2 {
    font-family: 'UniSansHeavy', Arial, sans-serif;
    color: #cc0000 !important;
    font-size: 24px;
    margin: 0;
    padding: 11px 37px 0 0;
    min-height: 32px;
    color: #fff;
    text-transform: none;
    font-weight: normal;
}

.mm-news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-news-list li {
    background: url(../img/mm-separator03.png) repeat-x;
}

.mm-news-list li:first-child {
    background: none;
}

.mm-news-list div {
    padding: 15px 30px 22px 35px;
}

.mm-news-list li:hover div {
    background: url(../img/triangle-news-top.png) no-repeat, url(../img/triangle-news-bot.png) no-repeat bottom;
}

.mm-news-list li:hover a {
    border-left-color: #cc0000;
    color: #cc0000 !important;
    font-weight: 700;
}

.mm-news-list .mm-date {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #545454;
    padding: 0 0 3px;
}

.mm-news-list .mm-title {
    display: block;
    color: #4a4a4a;
    text-decoration: underline;
    line-height: 20px;
    border-left: 3px solid rgba(37, 37, 37, 0.8);
    padding-left: 10px;
}

.mm-news-list .mm-title:hover {
    color: #4a4a4a;
    text-decoration: none;
    border-left-color: #cc0000;
}

.mm-news-box .mm-all {
    position: absolute;
    bottom: -17px;
    left: 51px;
    background: url(../img/mm-all.png) no-repeat;
    width: 137px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.mm-news-box .mm-all:hover {
    text-decoration: none;
    background-position: 0 -35px;
    color: #fff;
}

.mm-contact-form {
    background-color: #e0e0e0;
    width: 240px;
    height: 105px;
    margin: 0px 0px;
    padding: 38px 0 0;
}

.mm-contact-form .mm-title {
    display: block;
    font-family: 'UniSansHeavy', 'Arial', 'sans-serif';
    color: #cc0000;
    text-align: center;
    font-size: 17px;
    margin: 0 0 20px;
}

.mm-contact-form .mm-row {
    /* background: url(../img/mm-input02.png) no-repeat; */
    
    width: 187px;
    height: 33px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 0 16px;
    background: url('../img/sumbit-button-action.png') repeat-x 0px -2px;
    background-color: #9e0414;
}

.mm-contact-form .mm-text {
    float: left;
    width: 145px;
    height: 21px;
    /* background: none; */
    
    padding: 6px 10px;
    margin-left: -19px;
    border: 0;
    font-size: 16px;
    color: #4a4a4a;
    outline: none !important;
}

.mm-contact-form .mm-submit {
    float: right;
    background: none;
    border: 0;
    padding: 0 0 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
    color: #f5f8f9;
    text-transform: uppercase;
    font-weight: bold;
}

.mm-content {
    float: left;
    /*width: 732px;*/
    width: 100%;
}

.mm-content-box {
    background: #F4F4F4;
    border-radius: 0px;
    padding: 20px 0 35px;
    margin: 0 0 0px;
}

.mm-title-holder {
    padding: 11px 0 0 35px;
    min-height: 20px;
    margin: 0 0 22px;
}

.mm-title-holder.analog-prod {
    width: 998px;
    margin: 0 auto;
}

.mm-title-holder h1 {
    font-family: 'UniSansHeavy', Arial, sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    color: #4a4a4a;
}

.mm-title-holder h1 span {
    color: #cc0000;
}

.mm-slideshow2 {
    padding: 0;
    position: relative;
    margin-left: 16px;
}

.mm-slideshow2 .gmask {
    position: relative;
    height: 1%;
}

.mm-slideshow2 .gmask .slideset {
    list-style: none;
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mm-slideshow2 .gmask .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 409px;
	z-index: 2;
}

.mm-slideshow2 .gmask .slide:after {
    content: "";
    display: block;
    clear: both;
}

.mm-slideshow2 .gmask div.active {
    z-index: 3;  
}

.mm-slideshow2 a.btn-prev,
.mm-slideshow2 a.btn-next {
    position: absolute;
    top: -53px;
    right: 65px;
    z-index: 6;
    background: url(../img/mm-btns02.png) no-repeat;
    width: 21px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-slideshow2 a.btn-next {
    right: 34px;
    background-position: -21px 0;
}

.mm-slideshow2 a.btn-prev:hover {
    background-position: 0 -22px;
}

.mm-slideshow2 a.btn-next:hover {
    background-position: -21px -22px;
}

.mm-prod-box {
    width: 222px;
    height: 409px;
    position: relative;
    float: left;
    margin: 0 0 0 17px;
}

.mm-prod-box:hover {
    /* z-index: 10; */
}

.mm-prod-box .stick {
    position: absolute;
    top: -10px;
    left: -9px;
}

.mm-new .stick {
    width: 124px;
    height: 125px;
}

.mm-hit .stick {
    width: 124px;
    height: 125px;
}

.mm-prod-box .mm-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
    border-radius: 0px;
    padding: 35px 15px 25px;
    border: 2px solid #e1e1e1;
    background: #fff;
    height: 350px;
    overflow: hidden !important;
}

.mm-prod-box2 .mm-holder {
    padding: 15px 15px 22px;
    height: 370px;
}

.mm-prod-box .one-click {
    display: block;
    background: url(../img/mm-one-click.png) no-repeat;
    width: 129px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 0 16px auto;
}

.mm-prod-box:hover .mm-holder {
    height: auto;
	z-index:10;
    border: 2px solid #cc0000;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.30);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.30);
}

.mm-prod-box .image {
    height: 169px;
    position: relative;
    margin: 0 0 12px;
}

.mm-prod-box .image img {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.mm-catalog-info-icons > .delivery-info, .mm-catalog-info-icons > .amount-info  , .mm-status-holder  .delivery-info, .mm-status-holder  .amount-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
	margin-bottom:5px;
}

.mm-catalog-info-icons .icon   {
	display: block;
    width: 30px;
    height: 30px;
	margin-right: 5px;
	background: url('../img/list_icons_sprite.png') no-repeat -4px 0px #fff ;
}
.mm-status-holder .icon {
	display: block;
    width: 30px;
    height: 30px;
	margin-right: 5px;
	background: url('../img/list_icons_sprite.png') no-repeat -4px 0px #f4f4f4 ;
}
.amount-info > .icon {
	background-position: -35px 0px;
}
.mm-catalog-info-icons .icon-text {
	font-size:13px;
}
.mm-prod-box .mm-price-holder {
    margin: 0 0 10px;
    padding-top: 5px;
}

.mm-prod-box .mm-price-holder:after {
    content: "";
    display: block;
    clear: both;
}

.mm-prod-box .mm-price-holder .mm-cart {
    float: left;
    background: url(../img/mm-cart.png) no-repeat;
    width: 40px;
    height: 41px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 4;
}

.mm-prod-box .mm-popup-wrap:hover .mm-cart {
    background-position: 0 -41px !important;
}

.mm-prod-box .mm-popup-wrap .mm-cart.in-back {
    background-position: 0 -41px !important;
}

.mm-prod-box .mm-popup-wrap {
    float: left;
    position: relative;
}

.mm-prod-box .mm-popup-wrap .mm-tooltip {
    position: absolute;
    bottom: 17px;
    left: -26px;
    background: url(../img/mm-tip.png) no-repeat;
    width: 130px;
    height: 54px;
    text-align: center;
    padding: 27px 38px 49px;
    display: none;
}

.mm-prod-box .mm-popup-wrap:hover .mm-tooltip {
    /*display:block;*/
}

.catalog-cart .mm-popup-wrap:hover .mm-cart {
    /*background-position: 0 -41px !important;*/
}

.catalog-cart .mm-popup-wrap .mm-cart.in-back {
    /*background-position: 0 -41px !important;*/
}

.catalog-cart .mm-popup-wrap {
    float: left;
    position: relative;
}

.catalog-cart .mm-popup-wrap .mm-tooltip {
    position: absolute;
    bottom: -15px;
    left: 0px;
    background: url(../img/mm-tip.png) no-repeat;
    width: 130px;
    height: 54px;
    text-align: center;
    padding: 27px 38px 49px;
    display: none;
}

.catalog-cart .mm-popup-wrap:hover .mm-tooltip {
    /*display:block;*/
}

.mm-prod-box .mm-tooltip span {
    display: block;
    line-height: 15px;
    color: #4a4a4a;
    margin: 0 0 4px;
}

.mm-prod-box .mm-tooltip a {
    font-weight: bold;
    font-size: 13px;
    color: #cc0000;
    text-decoration: underline;
    text-transform: uppercase;
}

.mm-prod-box .mm-tooltip a:hover {
    text-decoration: none;
}

.mm-prod-box .mm-price-holder .mm-price {
    background: url(../img/mm-price.png) no-repeat;
    width: 136px;
    height: 40px;
    padding: 0 0 0 7px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #4a4a4a;
    float: left;
}

.mm-prod-box .mm-title {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #4a4a4a;
    text-decoration: underline;
    margin: 0 0 17px;
}

.mm-prod-box .mm-title:hover {
    text-decoration: none;
    color: #cc0000;
}

.mm-new .mm-title:hover {
    color: #cc0000;
}

.mm-hit .mm-title:hover {
    color: #cc0000;
}

.mm-prod-box .mm-char {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
	position:relative;
}

.mm-prod-box .mm-char ul {
    list-style-type: none;
    padding-left: 20px;
}

.mm-prod-box:hover .mm-char {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 200px;

    /*    margin-left: -20px;
 height: 129px;
 white-space: nowrap;
 overflow: hidden;*/
}

.mm-prod-box .mm-char li {
    background: url(../img/mm-bullet02.png) no-repeat;
    padding: 1px 0 9px 24px;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 14px;
}

.mm-prod-box .mm-hide {
    display: none;
}

.mm-prod-box:hover .mm-hide {
    display: block;
}

.mm-new:hover .mm-holder {
    border: 2px solid #cc0000;
    box-shadow: 0 5px 27px rgba(126, 95, 84, 0.6);
}

.mm-hit:hover .mm-holder {
    border: 2px solid #cc0000;
    box-shadow: 0 5px 27px rgba(49, 75, 57, 0.6);
}

.mm-twocolumn {
    zoom: 1;
    padding: 0 0 16px;
}

.mm-twocolumn:after {
    content: "";
    display: block;
    clear: both;
}

.mm-threecolumns {
	display:flex;
    margin: 0 -30px 0 0;
    padding: 0 0 20px;
}

.mm-threecolumns .mm-column {
    float: left;
    width: 324px;
    height: 239px;
    margin: 0 16px 0 0;
    background-color: #e0e0e0 !important;
    border-radius: 0px;
    position: relative;
}

.mm-threecolumns .col1 {
    background: url(../img/mm-item02.png) no-repeat 100% 100%;
}

.mm-threecolumns .col2 {
    background: url(../img/mm-item03.png) no-repeat 100% 100%;
}

.mm-threecolumns .col3 {
    background: url(../img/mm-item04.png) no-repeat 100% 100%;
}

.mm-threecolumns .mm-title {
    height: 61px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    background: url(../img/mm-title04.png) repeat-x 0 100%;
    margin: 0 0 6px;
}

.mm-threecolumns .mm-title .mm-holder {
    background: url(../img/mm-title04.png) repeat-x 0 100%;
    padding-left: 34px;
    font-family: 'UniSansHeavy', Arial, sans-serif;
    font-size: 14px;
}

.mm-threecolumns .col1 .mm-title {
    color: #cc0000;
}

.mm-threecolumns .col2 .mm-title {
    color: #cc0000;
}

.mm-threecolumns .col3 .mm-title {
    color: #cc0000;
}

.mm-threecolumns ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-threecolumns ul li {
    border-top: 1px solid #e1ebee;
    padding: 9px 48px 9px 34px;
    font-size: 15px;
    line-height: 19px;
}

.mm-threecolumns ul a {
    text-decoration: underline;
    padding: 0 0 0 34px;
    display: block;
}

.mm-threecolumns ul a:hover {
    text-decoration: none;
}

.mm-threecolumns ul li:first-child {
    border: 0;
}

.mm-threecolumns ul li.resetCss {
    border-top: none;
    padding: 0;
}

.mm-threecolumns .col1 ul a {
    background: url(../img/mm-arrow02.png) no-repeat 0 4px;
    color: #4a4a4a;
}

.mm-threecolumns .col1 ul a:hover {
    font-weight: 700;
    color: #cc0000;
}

.mm-threecolumns .col2 ul a {
    background: url(../img/mm-arrow03.png) no-repeat 0 4px;
    color: #4a4a4a;
}

.mm-threecolumns .col2 ul a:hover {
    font-weight: 700;
    color: #cc0000;
}

.mm-threecolumns .col3 ul a {
    background: url(../img/mm-arrow04.png) no-repeat 0 4px;
    color: #4a4a4a;
}

.mm-threecolumns .col3 ul a:hover {
    font-weight: 700;
    color: #cc0000;
}

.mm-threecolumns .mm-shadow {
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 324px;
    height: 18px;
}

.mm-footer {
    background: #cc0000;
    padding: 0px 0 60px;
    overflow: hidden;
    position: relative;
    clear: both;
	font-family: Myriad Pro, 'sans-serif';
}

.mini-ban {
	display: flex;
    justify-content: center;
    height: 60px;
    background-color: #cc0000;
	margin-bottom: 20px;
	margin-top:10px;
}
.mini-ban .ban-inner {
	display: inline-flex;
    width: 1000px; 
    justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
}
.mini-ban .ban-inner > div {
	display:flex;
	align-items:center;
}
.mini-ban .ban-inner > div > .ban_icon {
	width:60px;
	height:60px;
	display:inline-block;
	background:url('../img/ban_sprite.png') no-repeat 0px 3px #FFF;
	margin-right:15px;
	BORDER-radius: 50%;
}
.mini-ban .ban-inner > div:first-child > .ban_icon {
	background:url('../img/ban_sprite.png') no-repeat 1px -53px #FFF;
}
.mini-ban .ban-inner > div:nth-child(3) > .ban_icon {
	background:url('../img/ban_sprite.png') no-repeat -70px 3px #FFF;
}
.mini-ban .ban-inner > div:nth-child(4) > .ban_icon {
	background:url('../img/ban_sprite.png') no-repeat -70px -53px #FFF;
}
.mm-footer-holder {
    width: 910px;
    margin: 0 auto;
	display: flex;
    justify-content: space-between;
}
.footer-nav {
	width:165px;
}
.footer-nav-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.mm-footer .mm-copy {
    float: right;
    width: 304px;
    font-size: 16px;
    line-height: 19px;
    color: #4a4a4a;
    position: relative;
    top: 40px;
    left: 475px;
}

.mm-footer .yandex-market > a {
	display:block;
	margin-top:17px;
}
.mm-footer-nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
	min-width:140px;
	margin-top:6px;
}

.mm-footer-nav li {
    display: block;
    color: #fff;
    font-size: 13px;
    min-height: 24px;
}

.mm-footer-nav a {
	color:#fff;
    text-decoration: none;
}

.mm-footer-nav a:hover {
    text-decoration: none;
    font-weight: bold;
}
.footer-contacts > .mm-footer-nav  a:hover {
	text-decoration: none;
	font-weight:normal;
}
.mm-footer-holder  > .payment-social {
	width:150px;
}
.payment-social > .social_info {
	width:100%;
}
.social-icons {
	display:flex;
	margin-top:11px;
}
.social-icon {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 9px;
}
.social-icon.vk {
	background: url(../img/mm-social-sprite.png) 0px 0px no-repeat;
}
.social-icon.fb {
	background: url(../img/mm-social-sprite.png) -52px -2px no-repeat;
}
.mm-intro-type {
    background: url(../img/mm-intro.jpg) no-repeat;
    height: 85px;
    margin-bottom: 0;
}

.mm-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.mm-breadcrumbs .active {
    font-weight: 700;
    color: #cc0000 !important;
}

.mm-breadcrumbs li {
    font-size: 16px;
    line-height: 21px;
    float: left;
    padding: 0 16px 0 25px;
    background: url(../img/mm-separator05.png) no-repeat 0 5px;
    color: #4a4a4a;
    float: left;
}

.mm-breadcrumbs li:first-child {
    background: none;
    padding-left: 0;
}

.mm-breadcrumbs a {
    color: #4a4a4a;
    text-decoration: underline;
}

.mm-breadcrumbs a:hover {
    text-decoration: none;
}

.mm-main-holder {
    background: #fff;
    border-radius: 0 0 0px 0px;
    padding: 0px 34px 51px;
    margin: 0 0 0px;
}

.mm-main-holder .mm-title-holder {
    margin: 0 0 9px -34px;
}

#cat-hidden {
	height:70px;
	overflow:hidden;
}
.mm-main-holder .eshe {
	cursor:pointer;
}
.mm-sub-categories {
    list-style: none;
    margin: 0 0 0px;
    padding: 0;
}

.mm-sub-categories li {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 21px;
    padding: 0 14px 0 0;
    margin: 0 6px 3px 0;
    background: url(../img/mm-separator06.png) no-repeat 100% 5px;
}

.mm-sub-categories a {
    text-decoration: underline;
    color: #4a4a4a;
}

.mm-sub-categories a:hover {
    text-decoration: none;
    color: #cc0000;
    /*font-weight: 700;*/
}

.mm-filter {
    padding: 19px 34px 20px;
    /*background:#dbe7eb url(../img/mm-filter.gif) repeat-x;*/
    
    background-color: #e6e6e6;
    border-bottom: 2px solid #c1c1c1;
    /*border-radius:10px;*/
    /*box-shadow:0 10px 15px rgba(0,0,0,0.4);*/
    
    position: relative;
    margin: 0 0 50px;
}

.mm-filter .mm-row {
    padding: 0;
}

.mm-filter .mm-row:after {
    content: "";
    display: block;
    clear: both;
}

.mm-filter .mm-sort {
    float: left;
    width: 360px;
}

.mm-filter .mm-sort-title {
    overflow: hidden;
    margin: 0 0 11px;
}

.mm-filter .mm-sort-title strong {
    float: left;
    margin: 0 12px 0 0;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.mm-filter .mm-sort-title span {
    display: block;
    overflow: hidden;
    height: 11px;
    border-bottom: 1px solid #FFFFFF;
    text-indent: -9999px;
}

.mm-sort-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mm-sort-list li {
    float: left;
    margin: 0 0 0 16px;
    width: 171px;
}

.mm-sort-list a {
    display: block;
    /*background: url(../img/mm-sort.png) no-repeat -171px 0;*/
    
    background-color: #ffffff;
    width: 155px;
    height: 29px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 2px solid #FFFFFF;
}

.mm-sort-list a#price-asc {
    background: url('../img/arrow_min.png') no-repeat 11px;
    background-color: #ffffff;
}

.mm-sort-list a#price-asc.active {
    background: url('../img/arrow_min_active.png') no-repeat 11px;
    background-color: #cc0000;
    color: #FFFFFF;
    border-bottom: 2px solid #b00316;
}

.mm-sort-list a#price-asc:hover {
    background: url('../img/arrow_min_active.png') no-repeat 11px;
    background-color: #cc0000;
}

.mm-sort-list a#price-desc {
    background: url('../img/arrow_max.png') no-repeat 11px;
    background-color: #ffffff;
}

.mm-sort-list a#price-desc.active {
    background: url('../img/arrow_max_active.png') no-repeat 11px;
    background-color: #cc0000;
    color: #FFFFFF;
    border-bottom: 2px solid #b00316;
}

.mm-sort-list a#price-desc:hover {
    background: url('../img/arrow_max_active.png') no-repeat 11px;
    background-color: #cc0000;
}

.mm-sort-list .active a,
.mm-sort-list a:hover {
    background-position: -171px -34px;
    color: #e8eff1;
    border-bottom: 2px solid #b00316;
    background-color: #cc0000;
}

.mm-sort-list a:hover:after {
    content: '';
    position: absolute;
    /* right: -96px; */
    
    margin-left: -60px;
    top: 82px;
    border: 5px solid transparent;
    border-top: 5px solid #b00316;
}

.mm-sort-list li:first-child {
    margin-left: 0;
}

.mm-sort-list li:first-child a {
    background-position: 0 0;
}

.mm-sort-list li:first-child a:hover,
.mm-sort-list li.active:first-child a {
    background-position: 0 -34px;
}

.mm-price-range {
    float: right;
    width: 477px;
}

.mm-price-range label {
    float: left;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 14px;
    width: 24px;
    line-height: 30px;
}

.mm-price-range .mm-text {
    float: left;
    width: 56px;
    height: 20px;
    border: 1px solid #FFFFFF;
    /* border-radius: 10px; */
    
    margin: 0 10px 0 0;
    text-align: center;
    padding: 4px 5px;
    font-size: 13px;
    color: #4a4a4a;
}

.mm-filter .mm-open {
    position: absolute;
    bottom: -32px;
    left: 0;
    background: url(../img/more_params.png) no-repeat;
    width: 137px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-filter.expanded .mm-open {
    /*background-position:0 -30px;*/
}

.mm-filter .mm-slide-holder {
    padding: 17px 0 0;
}

.mm-filter .mm-slide-holder .mm-column {
    float: left;
    width: 274px;
    margin-left: 23px;
}

.mm-filter .mm-slide-holder .mm-column:first-child {
    margin-left: 0;
}

.mm-catalog {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -50px 0 0;
    margin-top: -30px;
}

.mm-catalog>li {
    display: inline-block;
    vertical-align: top;
    width: 222px;
    margin: 0 12px 33px 0;
}

.mm-catalog .mm-prod-box {
    margin-left: 0;
}

.mm-paging-wrap {
    height: 42px;
    background-color: #e6e6e6;
    border-bottom: 2px solid #c1c1c1;
    padding: 8px 17px 0 17px;
}

.mm-paging-wrap .mm-all {
    float: right;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: url(../img/mm-btn02.png) no-repeat;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    margin: 3px 0 0;
}

.mm-paging-wrap .mm-all:hover {
    color: #fff;
}

.mm-paging-wrap .mm-prev,
.mm-paging-wrap .mm-next {
    background: url(../img/mm-btns03.png) no-repeat;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 6px 15px 0 0;
    float: left;
}

.mm-paging-wrap .mm-next {
    background-position: -33px 0;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 6px 15px 0 0;
    float: left;
}

.mm-paging-wrap .mm-next:hover {
    background-position: -33px -32px;
}

.mm-paging-wrap .mm-prev:hover {
    background-position: 0 -32px;
}

.mm-paging-wrap .paging {
    list-style: none;
    margin: 0 15px 0 0;
    padding: 0;
    float: left;
}

.mm-paging-wrap .paging li {
    float: left;
    background: url(../img/mm-separator07.png) no-repeat 0 100%;
    width: 32px;
    padding-left: 1px;
    font-size: 17px;
    font-weight: bold;
}

.mm-paging-wrap .paging li:first-child {
    background: none;
}

.mm-paging-wrap .paging a {
    display: block;
    height: 35px;
    padding: 7px 0 0;
    margin: 0 auto;
    text-align: center;
    width: 28px;
    text-decoration: none;
    color: #4a4a4a;
}

.mm-paging-wrap .paging a:hover,
.mm-paging-wrap .paging .active a {
    color: #fff;
    background: url(../img/mm-paging-a.png) no-repeat;
}

.mm-content-box .mm-text-box {
    padding: 0 34px;
}

.mm-content-box .mm-text-box:after {
    content: "";
    display: block;
    clear: both;
}

.mm-content-box .mm-image-left {
    float: left;
    margin: 0 33px 0 0;
    border-bottom: 2px solid #60a4ba;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.mm-content-box .mm-image-left img {
    border-radius: 15px;
}

.mm-cat-search {
    background: url(../img/mm-search.png) no-repeat;
    width: 918px;
    height: 55px;
    margin: -15px -15px 15px;
    padding: 15px 15px 15px 33px;
}

.mm-cat-search .mm-text {
    float: left;
    background: none;
    border: 0;
    width: 800px;
    height: 20px;
    margin: 0;
    padding: 7px 0;
    font-size: 16px;
    color: #4a4a4a;
}

.mm-cat-search .mm-submit {
    float: right;
    width: 103px;
    height: 34px;
    background: none;
    padding: 0 0 2px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}

.mm-item-holder {
    height: 1%;
    padding: 23px 0 43px;
}

.mm-item-holder .payment-info {
    float: left;
    width: 300px;
    font-weight: bold;
}

.mm-item-holder .payment-info img {
    width: 50px;
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;
    height: 51px;
    margin-top: -5px;
}

.mm-item-holder:after {
    content: "";
    display: block;
    clear: both;
}

.mm-tab-content {
    float: left;
    width: 409px;
    height: 441px;
    background: #fff;
    position: relative;
    border: 2px solid #e1e1e1;
    border-bottom: 2px solid #c1c1c1;
    overflow: hidden;
}

.mm-tab-content .mm-stick {
    position: absolute;
    top: -11px;
    left: -10px;
    width: 124px;
    height: 125px;
    z-index: 1;
}

.mm-tab-content img {
    border-radius: 0px;
    cursor: pointer;
}

.carousel2 {
    float: left;
    position: relative;
    width: 155px;
}

.carousel2 .gholder {
    width: 100%;
}

.carousel2 .gholder:after {
    content: "";
    display: block;
    clear: both;
}

.carousel2 .gmask {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 381px;
    float: left;
    margin: 0 0 5px;
}

.carousel2 .gmask .slideset {
    list-style: none;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.carousel2 .gmask .slide {
    width: 130px;
    height: 120px;
    padding: 0 20px 7px 6px;
}

.carousel2 .gmask a {
    display: block;
    width: 116px;
    height: 116px;
    background: url(../img/mm-tab.png) no-repeat;
    padding: 2px 2px 2px 12px;
}

.carousel2 .gmask img {
    border-radius: 0px;
}

.carousel2 .gmask .active img {
    opacity: 0.5;
}

.carousel2 .gmask .active {
    background-position: 0 -120px;
}

.carousel2 a.btn-prev,
.carousel2 a.btn-next {
    display: block;
    margin: 0 auto 12px;
    background: url(../img/mm-btns04.png) no-repeat;
    width: 21px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
}

.carousel2 a.btn-prev:hover {
    background-position: 0 -22px;
}

.carousel2 a.btn-next {
    margin: 0 auto;
    background-position: -21px 0;
}

.carousel2 a.btn-next:hover {
    background-position: -21px -22px;
}

.carousel2 .gmask .slideset {
    width: 100%;
}

.carousel2 .gmask .slide {
    float: none;
    width: auto !important;
}

.carousel2 .mm-text-box {
    float: right;
    width: 341px;
}

.carousel2 .mm-text-box h1 {
    margin: -3px 0 28px;
    font-size: 38px;
    line-height: 30px;
    font-weight: normal;
    color: #168498;
}

.mm-text-box .mm-price-holder {
    height: 1%;
    margin: 0 0 23px;
    overflow: initial;
    padding-bottom: 75px;
}

.mm-text-box .mm-price {
    float: left;
    background: url(../img/mm-price02.png) no-repeat;
    width: 213px;
    height: 60px;
    font-size: 33px;
    line-height: 60px;
    text-align: center;
    color: #4a4a4a;
}

.mm-text-box .mm-cart {
    float: left;
    background: url(../img/mm-cart02.png) no-repeat;
    width: 58px;
    height: 59px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 1px 0 0 19px;
}

.mm-text-box .mm-cart:hover {
    background-position: 0 -59px;
}

.mm-text-box .mm-status-holder {
    width: 350px;
    overflow: hidden;
    margin: 0 0 26px;
	display:flex;
	flex-wrap:wrap;
}
.mm-text-box .mm-status-holder > div {
	width:100%;
	margin-bottom: 10px;
	display:flex;
	align-items:center;
}

.mm-text-box .mm-status-holder  .mm-kredit {
    border: 1px solid #c00;
    text-decoration: none;
    cursor: pointer;
    background: white;
    width: 124px;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: 'UniSansHeavy',Arial,sans-serif;
    padding-right: 11px;
}

.mm-status-holder .mm-soc-docs > .icon {
    background: url(../img/icon-sprite.png) no-repeat 4px 2px #f4f4f4;
}
.mm-status-holder .mm-opt > .icon {
    background: url(../img/icon-sprite.png) no-repeat 2px -28px #f4f4f4;
}
.mm-status-holder .mm-payments div:last-child {
	width:300px;
    font-size:16px;
}
.mm-status-holder .mm-payments > .icon {
    background: url(../img/icon-sprite.png) no-repeat 2px -57px #f4f4f4;
}
.mm-status-holder .mm-guarantee > .icon {
    background: url(../img/icon-sprite.png) no-repeat 2px -86px #f4f4f4;
}
.mm-status-holder .mm-guarantee span {
	font-weight:bold;
}

.mm-text-box .mm-status {
    padding: 0 0 0 30px;
    margin: 7px 0 0;
    font-size: 13px;
    line-height: 16px;
    color: #79ba31;
    font-weight: bold;
    text-transform: uppercase;
}

.mm-text-box .mm-status.off {
    color: red;
    background: none;
}

.mm-text-box .mm-status2 {
    background: url(../img/mm-status02.png) no-repeat;
    color: #b2c9d0;
}

.mm-text-box .mm-one-click {
    float: left;
    background: url(../img/mm-one-click02.png) no-repeat;
    width: 137px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-text-box .mm-info-list {
	width: 360px;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mm-info-list ul {
    padding: 0;
    margin-left: -30px;
}

.mm-info-list li {
    list-style-type: none;
}

.mm-text-box .mm-info-list li {
    padding: 1px 28px 13px 29px;
    color: #4a4a4a;
    font-size: 16px;
    line-height: 16px;
}

.tabset2 {
    list-style: none;
    margin: 0;
    padding: 0 0 30px;
    height: 1%;
}

.tabset2:after {
    content: "";
    display: block;
    clear: both;
}

.tabset2 li {
    float: left;
    margin: 0 6px 0 0;
}

.tabset2 a {
    float: left;
    padding: 0 23px;
    position: relative;
    background: #f5f8f9;
    font-size: 15px;
    color: #4a4a4a;
    border: 1px solid #d5d5d5;
    border-radius: 0px;
    height: 33px;
    line-height: 30px;
    text-decoration: none;
}

.tabset2 a:hover,
.tabset2 .active {
    padding: 1px 24px 0;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    background: url(../img/mm-tab02.gif) repeat-x;
    font-weight: 700;
}

.tabset2 .active:after,
.tabset2 a:hover:after {
    background: url(../img/mm-arrow06.png) no-repeat 50% 0;
    height: 6px;
    position: absolute;
    bottom: -6px;
    width: 100%;
    left: 0;
    content: '';
}

.mm-char-tab {
    padding: 0;
}

.mm-char-tab:after {
    content: "";
    display: block;
    clear: both;
}

.mm-char-tab .mm-info {
    list-style: none;
    margin: 0;
    padding: 0 49px 0 0;
    width: 358px;
    float: left;
}

.mm-char-tab .mm-info li {
    border-top: 1px solid #dfe7ea;
    color: #4a4a4a;
    padding: 10px 0 11px;
    line-height: 20px;
    font-weight: 700;
}

.mm-char-tab .mm-info li:first-child {
    border: 0;
    padding-top: 1px;
}

.mm-char-tab p {
    margin: 0 0 21px;
    line-height: 21px;
}

.mm-char-tab .mm-title-holder {
    margin: 0 0 23px -34px;
}

.mm-content-box2 .mm-slideshow2 {
    margin-left: 15px;
    width: 998px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.mm-brand-left {
    float: left;
    background: #f7fbfc;
    border-radius: 0px;
    width: 256px;
    padding: 17px 0;
    min-height: 47px;
    margin: 0 33px 20px 0;
    border-bottom: 2px solid #cc0000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mm-brand-left img {
    margin: 0 auto;
}

.mm-refund {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-refund li {
    background: url(../img/mm-bullet04.png) no-repeat;
    line-height: 21px;
    padding: 3px 0 16px 41px;
}

.mm-question-form {
    padding: 0;
}

.mm-question-form .mm-row {
    height: 1%;
    margin: 0 -20px 0 0;
    padding: 0 0 10px;
}

.mm-question-form .mm-row:after {
    content: "";
    display: block;
    clear: both;
}

.mm-question-form .mm-text-wrap {
    float: left;
    background: url(../img/mm-input03.png) repeat-x;
    width: 424px;
    height: 21px;
    margin: 0 16px 0 0;
    border: 0;
    border-bottom: 1px solid #c5d2d6;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 18px;
    color: #73a2ab;
}

.mm-question-form .parent-active {
    border: 1px solid #83bed3;
    background: url(../img/mm-input04.gif) repeat-x 0 -2px;
    padding: 3px 17px 4px;
}

.mm-question-form .mm-textarea {
    background: url(../img/mm-textarea.png) repeat-x;
    width: 900px;
    height: 139px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #c5d2d6;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 18px;
    overflow: hidden;
}

.mm-question-form .parent-active.mm-textarea {
    border: 1px solid #83bed3;
    padding: 9px 17px 10px;
    background: #fff url(../img/mm-input04.gif) repeat-x;
}

.mm-question-form label {
    float: left;
    font-size: 16px;
    line-height: 22px;
    color: #4a4a4a;
    margin: 0 5px 0 0;
}

.mm-question-form .mm-text {
    float: left;
    position: absolute;
    width: 437px;
    height: 29px;
    margin: 0;
    margin-left: -18px;
    margin-top: -3px;
    border: 0;
    border-radius: 10px;
    padding: 0;
    padding-left: 23px;
    font-size: 16px;
    color: #4a4a4a;
    background: none;
    color: #4a4a4a;
}

.mm-question-form textarea {
    background: none;
    width: 922px;
    height: 147px;
    margin: 0;
    margin-left: -17px;
    margin-top: -9px;
    border: 0;
    padding: 1px 0;
    padding-left: 12px;
    padding-top: 9px;
    font-size: 16px;
    color: #4a4a4a;
    overflow: auto;
    resize: none;
}

.mm-question-form .mm-submit {
    margin: 6px 0 0;
}

.mm-question-form .mm-submit {
    display: block;
    background: url(../img/mm-all.png) no-repeat;
    width: 137px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 2px;
    border: 0;
    cursor: pointer;
}

.mm-question-form .mm-submit:hover {
    text-decoration: none;
    background-position: 0 -35px;
    color: #fff;
}

.mm-delivery-info {
    height: 1%;
}

.mm-delivery-info:after {
    content: "";
    display: block;
    clear: both;
}

.mm-delivery-info .mm-image {
    float: left;
    width: 85px;
}

.mm-delivery-info .mm-text-info {
    overflow: hidden;
    padding: 0 0 22px;
}

.mm-delivery-info .mm-text-info strong {
    display: block;
    line-height: 21px;
}

.mm-delivery-info dl {
    margin: 0;
    overflow: hidden;
}

.mm-delivery-info dl dt {
    float: left;
    clear: left;
    margin: 0 3px 0 0;
}

.mm-delivery-info dl dd {
    float: left;
    color: #09a84f;
    font-weight: bold;
    margin: 0;
}

.mm-divider {
    margin: 0 0 21px;
    border-bottom: 1px solid #dfe7ea;
    height: 5px;
    overflow: hidden;
}

.mm-char-tab h3 {
    margin: 0 0 30px;
    font-size: 30px;
    font-size: 26px;
    font-weight: normal;
}

.mm-char-tab .mm-cols-wrap {
    height: 1%;
    margin: 0 -50px 0 0;
}

.mm-char-tab .mm-cols-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.mm-char-tab .mm-cols-wrap .mm-delivery-info {
    float: left;
    width: 410px;
    margin: 0 47px 0 0;
}

.mm-delivery-info .mm-text-info p {
    margin: 0;
}

.mm-delivery-info h4 {
    margin: -2px 0 0;
    font-size: 20px;
    color: #4a4a4a;
}

.mm-payment {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-payment li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px 0 0;
}

.mm-delivery-info .mm-refund {
    padding: 16px 0 18px;
}

.mm-delivery-info .mm-refund li {
    padding: 0 0 18px 31px;
}

.mm-char-tab .mm-wrap2 {
    margin: 0;
    padding: 0 0 33px;
}

.mm-char-tab .mm-text-info2 {
    overflow: hidden;
}

.mm-cart-form {
    width: 936px;
    position: relative;
    padding: 20px 0 0;
}

.mm-cart-table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mm-cart-table thead td {
    margin: 0;
    height: 43px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.mm-cart-table thead td span {
    position: relative;
    z-index: 3;
    display: block;
    height: 43px;
    line-height: 43px;
    background: url(../img/mm-separator08.png) no-repeat 0 100%;
}

.mm-cart-table thead td:first-child span {
    background: none;
}

.mm-cart-table thead td:first-child:before {
    content: '';
    position: absolute;
    left: 0;
    pointer-events: none;
    border-radius: 0px 0px 0 0;
    z-index: 2;
    border-bottom: 2px solid #acacac;
    background: #EDEDED;
    width: 936px;
    height: 43px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mm-cart-table .mm-name {
    width: 471px;
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
}

.mm-cart-table .mm-name .mm-prod-title {
    text-decoration: underline;
    color: #44909e;
}

.mm-cart-table .mm-name .mm-prod-title:hover {
    text-decoration: none;
    color: #0faa4f;
}

.mm-cart-table .mm-price {
    width: 190px;
}

.mm-cart-table .mm-number {
    width: 170px;
}

.mm-cart-table .mm-sum {
    width: 142px;
    padding-right: 18px;
    color: #4a4a4a;
}

.mm-cart-table tbody td {
    background: #fff url(../img/mm-separator09.png) no-repeat 0 50%;
    height: 103px;
    padding-top: 33px;
    padding-bottom: 33px;
    border-top: 1px solid #eaeff0;
}

.mm-cart-table tbody tr:first-child td {
    border: 0;
}

.mm-cart-table tbody tr td:first-child {
    background: #fff;
}

.mm-cart-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.mm-cart-table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.mm-cart-table tbody .mm-sum {
    font-weight: bold;
    font-size: 21px;
    color: #cc0000;
}

.mm-cart-table tbody .mm-price span {
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    color: #4a4a4a;
    background: url(../img/mm-price03.png) no-repeat;
    width: 143px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.mm-cart-table .minus,
.mm-cart-table .plus {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/mm-btns05.png) no-repeat;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    overflow: hidden;
}

.mm-cart-table .plus {
    background-position: -17px 0;
}

.mm-cart-table .minus:hover {
    background-position: 0 -17px;
}

.mm-cart-table .plus:hover {
    background-position: -17px -17px;
}

.mm-cart-table .text {
    display: inline-block;
    vertical-align: middle;
    width: 66px;
    height: 28px;
    border: 1px solid #c1c1c1;
    border-radius: 0px;
    background: #fff;
    text-align: center;
    font-weight: bold;
    color: #747474;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mm-cart-table .mm-image {
    display: inline-block;
    vertical-align: middle;
    width: 143px;
    line-height: 12px;
    margin: 0 20px 0 0;
    text-align: center;
    vertical-align: middle;
}
.mm-cart-table .mm-image img{
    display: inline-block;
    max-width: 143px;
    max-height: 106px;
}

.mm-cart-table .mm-text-wrap {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}

.mm-cart-table .mm-text-wrap .mm-title {
    display: block;
    text-decoration: underline;
    color: #4a4a4a;
    font-size: 20px;
    margin: 0 0 17px;
}

.mm-cart-table .mm-text-wrap .mm-title:hover {
    text-decoration: none;
    color: #cc0000;
}

.mm-cart-table .mm-text-wrap .mm-delete {
    background: url(../img/mm-delete.png) no-repeat;
    width: 24px;
    height: 17px;
    line-height: 17px;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f7c0c0;
    text-decoration: underline;
}

.mm-cart-table .mm-text-wrap .mm-delete:hover {
    background-position: 0 -17px;
    color: #e4302f;
    text-decoration: none;
}

.mm-cart-table tfoot td {
    padding: 32px 0 0;
}

.mm-cart-form .mm-submit {
    float: left;
    background: url(../img/mm-submit02.png) no-repeat;
    width: 171px;
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 2px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.mm-cart-form .mm-submit:hover {
    text-decoration: none;
    background-position: 0 -45px;
    color: #fff;
}

.mm-total-list {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    font-weight: bold;
    color: #4a4a4a;
    font-size: 23px;
}

.mm-total-list dt {
    float: left;
    clear: left;
    margin: 0 3px 0 0;
}

.mm-total-list dd {
    float: left;
    margin: 0 0 7px;
    color: #cc0000;
}

.mm-total-list .mm-sale {
    color: #cc0000;
    font-size: 18px;
}

.mm-order-table tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 30px;
    background: #fff url(../img/mm-separator10.png) no-repeat 0 50%;
}

.mm-order-table .mm-total-list {
    font-size: 18px;
}

.mm-order-table .mm-total-list dd {
    margin: 0 0 1px;
}

.mm-order-table {
    margin: 0 0 25px;
}

.mm-order-form {
    border-top: 1px solid #e5ebed;
    padding: 24px 0 0;
}

.mm-order-form .mm-row {
    height: 1%;
    margin: 0 -40px 0 0;
}

.mm-order-form .mm-row:after {
    content: "";
    display: block;
    clear: both;
}

.mm-order-form .mm-form-box {
    float: left;
    margin: 0 33px 0 0;
}

.mm-order-form .mm-title {
    display: block;
    font-size: 18px;
    color: #4a4a4a;
    text-transform: uppercase;
    margin: 0 0 24px;
}

.mm-order-form .mm-text-wrap {
    height: 1%;
    margin: 0 0 16px;
    padding: 4px 15px 4px 23px;
    background: url(../img/mm-input03.png) repeat-x;
    width: 252px;
    height: 21px;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.mm-order-form .mm-text-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.mm-order-form .mm-text-wrap label {
    float: left;
    margin: 0 5px 0 0;
    color: #4a4a4a;
    font-size: 16px;
}

.mm-order-form .wrap {
    overflow: hidden;
    margin: 0 0 16px;
}

.mm-order-form .mm-text-wrap .wrap {
    margin: 0;
}

.mm-order-form .mm-text-wrap .mm-text {
    float: left;
    width: 275px;
    height: 26px;
    background: none;
    border: 0;
    padding: 1px 0;
    padding-left: 15px;
    margin: 0;
    margin-left: -9px;
    margin-top: -3px;
    font-size: 16px;
    outline: none;
    color: #514949;
}

.mm-order-form .mm-textarea {
    background: url(../img/mm-textarea.png) repeat-x;
    width: 258px;
    height: 113px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #c5d2d6;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 15px 4px 17px;
    overflow: hidden;
}

.mm-order-form textarea {
    width: 271px;
    height: 111px;
    background: none;
    padding: 0;
    padding-top: 5px;
    padding-left: 17px;
    margin: 0;
    margin-left: -15px;
    border: 0;
    overflow: auto;
    resize: none;
    color: #4a4a4a;
    font-size: 16px;
    outline: none;
}

.mm-order-form .mm-textarea label {
    margin: 0 5px 0 0;
    color: #4a4a4a;
    font-size: 16px;
    display: block;
}

.mm-order-form .btn-wrap {
    height: 1%;
    overflow: hidden;
    padding: 22px 0 0;
}

.mm-cart-form .mm-order-form .btn-wrap .mm-submit {
    float: right;
    margin: 0 0 0 16px;
}

.mm-order-form .mm-back {
    float: right;
    background: url(../img/mm-btn06.png) no-repeat;
    width: 205px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.mm-order-form .mm-back:hover {
    background-position: 0 -45px;
    color: #fff;
}

.mm-order-form .btn-wrap label {
    float: left;
    margin: 8px 0 0;
}

.mm-order-form .btn-wrap label a {
    color: #cc0000;
}

.mm-information {
    padding: 10px 0 0;
}

.mm-information p {
    margin: 0;
    padding: 0 0 18px;
}

.mm-information .mark-green {
    color: #cc0000;
}

.mm-information .mm-back {
    display: block;
    background: url(../img/mm-all.png) no-repeat;
    width: 137px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin: 13px 0 0;
}

.mm-information .mm-back:hover {
    text-decoration: none;
    background-position: 0 -35px;
    color: #c8edb7;
}

.mm-information .mark-orange {
    color: #cc0000;
}

.mm-information .mm-image-left {
    float: left;
    padding: 33px 23px;
    border-bottom: 2px solid #cc0000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #f7fbfc;
    margin: 3px 33px 0 0;
}

.mm-paging-wrap02 .mm-prev {
    float: left;
}

.mm-paging-wrap02 .mm-next {
    float: right;
}

.mm-paging-wrap02 .paging {
    text-align: center;
    float: none;
    overflow: hidden;
}

.mm-paging-wrap02 .paging li {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.mm-news {
    list-style: none;
    margin: 0;
    padding: 0 0 30px;
}

.mm-news li {
    height: 1%;
    overflow: hidden;
    border-top: 1px solid #dfe7ea;
    padding: 21px 0;
}

.mm-news li:first-child {
    border: 0;
    padding-top: 10px;
}

.mm-news .mm-date {
    float: left;
    margin: 0 25px 0 0;
    font-size: 14px;
    color: #545454;
}

.mm-news .mm-text-wrap {
    height: 1%;
    overflow: hidden;
}

.mm-news .mm-title {
    display: block;
    font-size: 18px;
    text-decoration: underline;
    margin: 0 0 8px;
    color: #4a4a4a;
    font-weight: bold;
}

.mm-news .mm-title:hover {
    text-decoration: none;
}

.mm-news p {
    margin: 0;
}

.mm-payment-image {
    float: left;
    margin: 0 13px 0 0;
}

.mm-information h3 {
    margin: 0 0 4px;
    font-size: 22px;
    color: #cc0000;
    font-weight: bold;
}

.mm-information .mm-details {
    margin: 0 0 21px;
    overflow: hidden;
}

.mm-information .mm-details dt {
    float: left;
    clear: left;
}

.mm-information .mm-details dd {
    float: left;
    margin: 0;
}

.mm-contacts-box {
    height: 1%;
    overflow: hidden;
    padding: 10px 0 36px;
}

.mm-contacts-box .mm-map {
    float: left;
    margin: 0 42px 0 0;
}

.mm-contacts-list {
    list-style: none;
    margin: 0;
    padding: 17px 0 0;
}

.mm-contacts-list li {
    height: 1%;
    overflow: hidden;
    margin: 0 0 22px;
}

.mm-contacts-list .mm-image {
    float: left;
    width: 43px;
    margin: 2px 17px 0 0;
}

.mm-contacts-list .mm-text {
    height: 1%;
    overflow: hidden;
}

.mm-contacts-list .mm-text strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.mm-contacts-list .mm-text span {
    display: block;
}

.mm-contacts-list .mm-schedule {
    display: block;
    font-size: 17px;
    color: #cc0000;
    padding: 21px 0 0;
}

.mm-places-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 1%;
}

.mm-places-list:after {
    content: "";
    display: block;
    clear: both;
}

.mm-places-list > li {
    height: 1%;
    padding: 23px 0 26px;
    border-top: 1px solid #dfe7ea;
}

.mm-places-list li:after {
    content: "";
    display: block;
    clear: both;
}

.mm-places-list li:first-child {
    border: 0;
}

.mm-places-list .image {
    float: left;
    width: 269px;
    height: 121px;
    padding: 19px 15px 19px 16px;
    margin: 0 33px 0 0;
    background: #f7fbfc;
    border-bottom: 2px solid #61a6bd;
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(143, 165, 171, 0.2);
}

.mm-places-list .mm-info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mm-places-list .mm-info-list li {
    margin: 0;
}

.mm-places-list .mm-info-list a {
    display: block;
    color: #4f7c84;
    background: url(../img/mm-bullet06.png) no-repeat 0 2px;
    padding: 0 0 1px 34px;
    margin: 0 0 6px;
    line-height: 21px;
}

.mm-places-list .mm-info-list a:hover {
    text-decoration: none;
    color: #2695b7;
    background: url(../img/mm-bullet05.png) no-repeat 0 2px;
}

.mm-places-list .mm-info-list li:first-child {
    font-weight: bold;
}

.mm-places-list .mm-info-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-places-list .mm-info-list ul li:first-child {
    font-weight: normal;
}

.mm-places-list .mm-info-list .mm-opener {
    background: none;
    display: inline;
    padding: 0 15px 0 0;
    margin: 6px 0 0;
    background: url(../img/mm-arrow07.png) no-repeat 100% 11px !important;
    text-decoration: none !important;
    display: inline-block;
    vertical-align: top;
}

.mm-places-list .expanded .mm-opener {
    background: url(../img/mm-arrow08.png) no-repeat 100% 11px !important;
}

.mm-places-list .mm-info-list .mm-opener span,
.mm-places-list .mm-info-list .mm-opener em {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    background: url(../img/mm-underline.gif) repeat-x 0 100%;
}

.mm-places-list .mm-info-list .mm-opener em {
    display: none;
    font-style: normal;
}

.mm-places-list .expanded .mm-opener span {
    display: none;
}

.mm-places-list .expanded .mm-opener em {
    display: inline-block;
}

.mm-modal {
    position: fixed;
    top: 100px;
    left: 35%;
    z-index: 1002;
    background: #F4F4F4;
    padding: 28px 35px 34px;
    border-bottom: 1px solid #f3f8fa;
    border-radius: 0px;
    width: 458px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5);
}

.mm-modal .mm-title-holder {
    margin: 0 0 10px -35px;
}

.mm-modal p {
    margin: 0 0 28px;
}

.mm-modal .mm-text-wrap {
    display: block;
    background: url(../img/mm-input03.png) repeat-x;
    height: 21px;
    margin: 0 0 11px;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 18px;
    color: #73a2ab;
    overflow: hidden;
}

.mm-modal .parent-active {
    border: 1px solid #83bed3;
    background: url(../img/mm-input04.gif) repeat-x 0 -2px;
    padding: 3px 17px 4px;
}

.mm-modal .mm-textarea {
    background: url(../img/mm-textarea.png) repeat-x;
    height: 139px;
    margin: 0 0 16px;
    border: 0;
    border-bottom: 1px solid #c5d2d6;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 18px;
    overflow: hidden;
}

.mm-modal .parent-active.mm-textarea {
    border: 1px solid #83bed3;
    padding: 9px 17px 10px;
    background: #fff url(../img/mm-input04.gif) repeat-x;
}

.mm-modal label {
    float: left;
    font-size: 16px;
    line-height: 22px;
    color: #4a4a4a;
    margin: 0 5px 0 0;
    width: 124px;
}

.mm-modal .mm-textarea label {
    display: block;
    width: auto;
}

.mm-modal .mm-text {
    float: left;
    width: 415px;
    height: 27px;
    margin: 0;
    margin-left: -17px;
    margin-top: -3px;
    border: 0;
    border-radius: 5px;
    padding: 0;
    padding-left: 20px;
    font-size: 16px;
    color: #4a4a4a;
    background: none;
    color: #4a4a4a;
}

.mm-modal textarea {
    background: none;
    width: 400px;
    height: 139px;
    margin: 0;
    border: 0;
    padding: 1px 0;
    font-size: 16px;
    overflow: auto;
    resize: none;
    color: #7ac6d4;
}

.mm-modal .mm-submit,
.mm-modal .mm-cancel {
    display: block;
    background: url(../img/mm-all.png) no-repeat;
    width: 137px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 2px;
    border: 0;
    cursor: pointer;
}

.mm-modal .mm-submit:hover,
.mm-modal .mm-cancel:hover {
    text-decoration: none;
    background-position: 0 -35px;
    color: #fff;
}

.mm-modal .mm-cancel {
    background: url(../img/mm-cancel.png) no-repeat;
    width: 120px;
    height: 35px;
}

.mm-modal .mm-cancel:hover {
    color: #fff;
}

.mm-modal .close {
    position: absolute;
    top: 7px;
    right: 8px;
    background: url(../img/mm-close.png) no-repeat;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

.mm-modal .close:hover {
    background-position: 0 -22px;
}

#popup {
    display: none;
}

#popup2 p {
    margin: 0;
    color: #4a4a4a;
}

.mm-modal .mm-btns {
    padding: 14px 0 25px;
    height: 1%;
    overflow: hidden;
}

.mm-modal .mm-btns .mm-submit {
    float: left;
    margin: 0 10px 0 0;
}

.mm-modal .mm-info {
    height: 1%;
    overflow: hidden;
    padding: 12px 17px 10px;
    line-height: 30px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin: 0 0 33px;
}

.mm-modal .mm-info .mm-title {
    display: inline-block;
    vertical-align: top;
    width: 290px;
}

.mm-modal .mm-info .mm-price {
    background: url(../img/mm-price04.png) no-repeat;
    width: 121px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #4a4a4a;
}

#popup2 {
    display: none;
}

.fader {
    position: fixed !important;
}

.progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../img/mm-progress.png) repeat-x;
    height: 4px;
    z-index: 4;
}

.next-page {
    background: url(../img/mm-btns03.png) no-repeat;
    background-position: -33px 0;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 6px 15px 0 0;
    float: left;
}

a.next-page:hover {
    background-position: -33px -32px;
}

.progress-line .loaded {
    background: url(../img/mm-progress-h.png) no-repeat 50% 0;
    height: 4px;
}

#popup input,
#popup textarea {
    outline: none;
}

.tech-description {
    overflow: hidden;
    padding-top: 35px;
    padding-left: 45px;
}

.two-column-text {
    width: 960px;
    overflow: hidden;
}

.first-column {
    float: left;
    width: 340px;
}

.after-send .order-pn {
    display: block;
}

.after-send .order-code {
    display: block;
    padding-bottom: 15px;
}

.name-date-feed {
    color: #4a4a4a;
    font-size: 14px;
    padding-bottom: 10px;
}

.name-date-feed span {
    color: #4a4a4a;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    padding-right: 10px;
}

.feedback-answer-container {
    padding-top: 15px;
    padding-left: 70px;
}

.feedback-container {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    padding-top: 10px;
}

.mm-slideshow .c2 .mm-info li {
    display: block;
}





#order-form .payment_type {
    position: relative;
    width: 420px;
    left: -6px;
    top: -35px;
    font-size: 15px;
}

#order-form .payment_type span {
    font-size: 17px;
    padding-right: 15px;
}

#order-form .payment_type input {
    margin-bottom: 5px;
    margin-right: 6px;
}

.mm-footer .payment-info img {
    display: inline-block;
    margin-top: 5px;
    /* margin-bottom: 20px; */
}
.unsee {
display: none; 
}
.dev_type>.select-area {
width: 180px!important;
}
.dev_city>.select-area {
width: 120px!important;
}
.dev_destination .select-area {
width: 250px!important;
}
.payment_type_t {
padding-left: 5px;
}
.dev_type_t {
float: left; padding-right: 15px;   margin-top: 4px;
}
.dev_city_t {
float: left; padding-right: 15px; padding-left: 10px; margin-top: 4px;
}
.dev_destination_t {
float: left; padding-right: 15px; padding-left: 10px; margin-top: 4px;
}
.mm-geolocation {
    position: absolute;
    left: 380px;
    top: 18px;
    padding-left: 20px;
    background: url('/theme/img/geolocation-icon.png') no-repeat center left;
    background-size: 20px;
}
.mm-geolocation span{
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}


.maincat_block{
	width:200px;
	height:220px;
	background:#fff;
	padding:10px;
	margin:10px 10px 30px 0;
	display:inline-block;
	border:2px solid #e1e1e1;
	vertical-align:bottom;
	text-align:center;
	color:#ca2032;
	text-decoration:none
}

.maincat_block>p{
	text-align:center;
	font-size:18px;
	letter-spacing:+1px;
	text-decoration:none;
	vertical-align:bottom
}

.maincat_block>img{
	width:150px;
	height:150px;
	margin:15px 25px 10px;
	background:#fff
}

.maincat_block:hover{
	border-color:#ca2032
}

.hotline_banner {
    display:block;
    width:100%;
    max-width:1000px;
    height:385px;
    margin: 0 auto;
    background-image: url('/theme/img/banner.jpg');
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}