.irs {
	width: 195px;
	height: 6px;
}
#irs-1{
	/*background: url(../img/mm-range.png) no-repeat;*/
    background-color: #4a4a4a;
    border-radius: 10px;
	float:right;
	margin:12px 44px 0 0;
}
.irs-with-grid {
    height: 6px;
}
.irs-line {
    height: 6px; top:0;
}
    .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
    }
    .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.irs-diapason {
    height: 6px; top: 0;
	/*background: url(../img/mm-range-c.png) no-repeat 50% 0;*/
    background-color: #b24b42;
}

.irs-slider {
    /*background: url(../img/mm-btn.png) no-repeat;*/
    background-color: #c9c9c9;
    border-radius: 50%;
	width: 22px;
	height: 24px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	top:-9px;
}
.irs-min, .irs-max {
    /*color: #73a2ab;*/
    color: #4a4a4a;
    font-size:13px;
	line-height: 1.333;
    text-shadow: none;
    top: -7px; padding: 1px 3px;
	display:block !important;
}

.irs-from, .irs-to, .irs-single {
    color: #b24b42;
    font-size:12px;
	line-height: 1.333;
    text-shadow: none;
    top: -27px;
	padding:0 0 0 9px;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}