/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
	float:left;
	background: url(../img/mm-checkbox.png) no-repeat;
	width: 16px;
	height: 18px;
	margin:10px 14px 0 0;
}
.chk-checked {
	background-position:0 -18px;
}
/* custom radio styles */
.rad-area {
	border: 1px solid #777;
	border-radius: 10px;
	margin: 0 10px 0 0;
	float: left;
	width: 20px;
	height: 20px;
}
.rad-checked {
	background: #aaf;
}
.rad-focus {
	border-color: #f00;
}
.rad-disabled {
	background: #eee;
}
/* custom select styles */
.select-area {
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 30px;
	float: left;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.mm-filter .select-area{
	width:274px !important;
	z-index:4 !important;
}
.mm-order-form .select-area{
	width:290px !important;
	/*z-index:4 !important;*/
}
.select-area .left{
	position:absolute;
	left:0;
	top:0;
	background: url(../img/mm-select-l.png) no-repeat;
	width: 17px;
	height: 30px;
}
.select-area .center {
	background: url(../img/mm-select-c.png) repeat-x;
	white-space: nowrap;
	margin:0 38px 0 17px;
	line-height:30px;
	color:#4a4a4a;
	font-size:14px;
	display:block;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.select-disabled {
	background: #eee;
}
.select-active .left,
.select-active .center{
	background:none;
}
.select-area .select-opener {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/mm-select-r.png) no-repeat 100% 0;
	width: 38px;
	height: 30px;
}
.select-active .select-opener{
	background: url(../img/mm-arrow05.png) no-repeat 0 100%;
	width:23px;
	height:17px;
}
.select-options {
	position: absolute;
	overflow: hidden;
	background:#fff;
	z-index: 3;
	border-radius:0px;
	border-bottom:2px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	padding:0px 0 12px;
	margin:-30px 0 0;
}
.select-options.select-options-flipped{
	margin:30px 0 0;
	padding:12px 0 30px;
}
.select-options .drop-holder {
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0 17px;
	margin: 0;
	max-height: 150px;
	overflow-y: scroll;
}
.select-options ul li {
	width: 100%;
	float: left;
	border-top:1px solid #d0dbdf;
}
.select-options ul li:first-child{
	border:0;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 0 5px 18px;
	margin:0 0 0 -18px;
	display: block;
	cursor: default;
	color: #4a4a4a;
	height: 1%;
	font-size:16px;
	line-height:20px;
}
.select-options ul a:hover{
	color:#b24b42;
	font-weight: 700;
}
.select-area img, .select-options a img {
	vertical-align: top;
	margin: 0 5px 0 0;
}
/* select options optgroup example styles */
.select-options .optgroup {
	clear: both;
}
.select-options .optgroup strong {
	display: block;
	padding: 5px;
}
.select-options .optgroup ul a {
	padding-left: 30px;
}
/* multiple select styles */
.select-multiple-area {
	border: 1px solid #777;
	clear: both;
}
.select-multiple-area .multiple-list{
	border: none;
	position: static;
}
.select-multiple-area .multiple-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.select-multiple-area .multiple-list li {
	margin: 0;
}
.select-multiple-area .multiple-list a:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}
.select-multiple-area .multiple-list a {
	display: block;
	cursor: default;
	padding: 5px;
	color: #000;
}
.select-multiple-area .multiple-list .item-selected a {
	background: #007;
	color: #fff;
}
.select-multiple-area .multiple-list .optgroup strong {
	display: block;
	padding: 5px;
}
.select-multiple-area .multiple-list .optgroup a {
	padding-left: 30px;
}
.select-disabled  .multiple-list .item-selected a {
	background: #777;
}
.live-example fieldset .select-multiple-area .scrollable-area-wrapper {
	margin: 0;
}
/* textarea example styles (optional) */
.text-block .control-wrapper {
	border: 1px solid #777;
	float: left;
}
.text-block textarea {
	font-size: 12px;
	width: 500px;
	height: 150px;
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
}
.live-example fieldset .text-block .scrollable-area-wrapper {
	margin: 0;
}
/* custom file input */
.file-area .jcf-input-wrapper {
	position: relative;
	overflow: hidden;
	float: left;
}
.file-area .jcf-upload-button {
	border: 1px solid #777;
	padding: 10px 15px;
	background: #777;
	color: #fff;
	float: left;
	height: 20px;
}
.file-area .jcf-fake-input {
	border: 1px solid #777;
	padding: 10px 15px;
	float: left;
	margin: 0 5px;
	width: 200px;
	height: 20px;
}
.file-disabled .jcf-upload-button {
	border-color: #eee;
	background-color: #eee;
	color: #777;
}
.file-disabled .jcf-fake-input {
	border-color: #eee;
	color: #aaa;
}
/* custom scrollbars styles */
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.scrollable-area-wrapper .hscrollbar,
.scrollable-area-wrapper .vscrollbar {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .hscroll-right,
.scrollable-area-wrapper .vscroll-down {
	background: #777;
	width: 20px;
	height: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-line,
.scrollable-area-wrapper .vscroll-line {
	background: #eee;
	width: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-slider,
.scrollable-area-wrapper .vscroll-slider {
	background: #ccc;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .hscrollbar {
	position: static;
	height: 20px;
	top: auto;
}
.scrollable-area-wrapper .hscroll-line {
	height: 20px;
	width: auto;
}
/* misc styles */
.controls-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.controls-list li {
	margin: 0 0 10px;
	overflow: hidden;
	width: 100%;
}
.controls-list label {
	margin: 0 10px 0 0;
	float: left;
}
.controls-list label.demo-label span {
	font: bold 11px "Courier New", Courier, monospace;
	color: #007;
}
.controls-list select {
	width: 150px;
}
.live-example fieldset {
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #ddd;
	display: block;
	padding: 15px;
	margin: 0 0 15px;
}
.live-example fieldset legend {
	font-style: italic;
	color: #000;
}
.live-example fieldset .scrollable-area-wrapper {
	margin: 0 0 20px;
}
.scrollable-area {
	background: #ffe;
	overflow: auto;
	height: 200px;
	width: 400px;
}
.anyscrollable .text,
.hscrollable .text {
	width: 600px;
}
.file-list .row {
	overflow: hidden;
	margin: 0 0 10px;
	width: 100%;
}
.file-list .flip .jcf-fake-input {
	float: right;
}
.test-select {
	width: 123px;
}
.select-options li.default {
	display: none;
}
ul.thumbnails {
	list-style: none;
	font-size: 50px;
	line-height: 150px;
	text-align: center;
	float: left;
	padding: 0;
	margin: 0;
}
ul.thumbnails li {
	background: #eee;
	display: inline;
	float: left;
	margin: 15px;
	width: 150px;
	height: 150px;
}
.btn-disabled {
	background: #aaa !important;
}