#related_prods {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	background: green;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
}
.related-products-modal {
	display: none;

	z-index: 3;
	position:absolute;
	width:700px;
	background: white;
	border-radius: 20px;
	padding: 15px;
	box-sizing: border-box;
}
.related-products-modal .result {
	margin:0px;
	max-height:300px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.related-products-modal .result ul, .related-products-modal .related-prods ul {
	display: flex;
	flex-wrap:wrap;
	margin:0px;
}
.related-products-modal .result ul li {
	display: flex;
	border: 1px dashed gray;
	padding: 10px;
	width: 45%;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
}
.related-products-modal .result ul li button {
	height:30px;
}
.related-products-modal .related-prods ul li {
	display: flex;
	border: 1px solid #cecece;
	border-radius: 5px;
	padding: 5px;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	margin-bottom:5px;
}
.related-products-modal .related-prods ul li button {
	color: white;
	font-weight: bold;
	background: #e42a2a;
	border: 0px;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 5px;
}
.overlay {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background: rgba(0,0,0, .4);
	display:none;
	z-index: 2;
}
.close_modal {
	display:block;
	position:absolute;
	top:15px;
	right:15px;
	background: black;
	color:white;
	font-weight:bold;
	font-size:18px;
	padding:5px;
	border-radius: 5px;
	cursor:pointer;
}