.modalBack{
	width:100%;
	height: 100%;
	position: fixed;
	background:rgba(0, 0, 0, 0.9);
	display: none;
	top: 0;
	left: 0;
}
.myModal{
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: #fff;
	text-align: center;
	padding-top: 50px;
}
.myModal.newCity{
	width: 700px;
	height: 550px;
}
.myModal.newCity #myMap{
	width:600px;
	height: 400px;
	margin: 0 auto;
}
.myModal.newPoint{
	width: 600px;
	height: 150px;
}
.newPoint input#newPointTitle{
	width:500px;
}
